force-app/main/default/flows/Account_Before_Save_CU_Common.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Clear_Inactive_Date</name>
        <label>Clear Inactive Date</label>
        <locationX>512</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>$Record.Inactive_Date__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Need_to_Update_the_Prior_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Legal_Name_Name</name>
        <label>Legal Name = Name</label>
        <locationX>248</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Legal_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Child_Account_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_BD_Account_Manager_2</name>
        <label>Null BD Account Manager 2</label>
        <locationX>50</locationX>
        <locationY>3503</locationY>
        <assignmentItems>
            <assignToReference>$Record.BD_Account_Manager_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_an_Insurance_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populate_the_BD_Account_Manager_2</name>
        <label>Populate the BD Account Manager 2</label>
        <locationX>50</locationX>
        <locationY>3203</locationY>
        <assignmentItems>
            <assignToReference>$Record.BD_Account_Manager_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Need_to_Remove_BD_Account_Manager_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Audited_By</name>
        <label>Set Audited By</label>
        <locationX>248</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Audited_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_AuditedBy</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Need_to_Override_Tier</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Inactive_Date</name>
        <label>Set Inactive Date</label>
        <locationX>248</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>$Record.Inactive_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Need_to_Update_the_Prior_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Prior_Status</name>
        <label>Set Prior Status</label>
        <locationX>248</locationX>
        <locationY>2195</locationY>
        <assignmentItems>
            <assignToReference>$Record.Prior_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Need_to_Set_the_Match_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Protocols_on_Child_Account</name>
        <label>Set Protocols on Child Account</label>
        <locationX>248</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Protocols_ACM_Testing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_ProtocolsACMTesting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Protocols_Adjusters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_ProtocolsAdjusters</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Protocols_Billing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_ProtocolsBilling</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Protocols_Broker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_ProtocolsBroker</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Protocols_DFRs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_ProtocolsDFRs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Protocols_Portal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_ProtocolsPortal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Protocols_Pricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_ProtocolsPricing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Protocols_Special_Concerns__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_ProtocolsSpecialConcerns</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Protocols_Work_Auth_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_ProtocolsWorkAuthPO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_PO_Status_to_Pending</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Track_Tier_Override_By_and_When</name>
        <label>Track Tier Override By and When</label>
        <locationX>248</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.Last_Date_Tier_Set__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Last_Modified_Tier_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Need_to_Update_Inactive_Date</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Drive_Down</name>
        <label>Update Drive Down</label>
        <locationX>50</locationX>
        <locationY>2903</locationY>
        <assignmentItems>
            <assignToReference>$Record.Drive_Down_Plan_in_Place__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.Drive_Down_Plan_in_Place__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Drive_Down__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.Drive_Down__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Need_to_Populate_BD_Account_Manager_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Match_Info</name>
        <label>Update Match Info</label>
        <locationX>248</locationX>
        <locationY>2495</locationY>
        <assignmentItems>
            <assignToReference>$Record.Match_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_MatchedName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Not_a_Property_Record_Type_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_PO_Status</name>
        <label>Update PO Status</label>
        <locationX>248</locationX>
        <locationY>995</locationY>
        <assignmentItems>
            <assignToReference>$Record.PO_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Audited</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_Insurance_Account_to_FALSE</name>
        <label>Update the Insurance Account to FALSE</label>
        <locationX>314</locationX>
        <locationY>3803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Insurance_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Need_to_make_Marketo_Check_as_TRUE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_Insurance_Account_to_TRUE</name>
        <label>Update the Insurance Account to TRUE</label>
        <locationX>50</locationX>
        <locationY>3803</locationY>
        <assignmentItems>
            <assignToReference>$Record.Insurance_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Need_to_make_Marketo_Check_as_TRUE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_the_Marketo_Check_to_TRUE</name>
        <label>Update the Marketo Check to TRUE</label>
        <locationX>50</locationX>
        <locationY>4103</locationY>
        <assignmentItems>
            <assignToReference>$Record.Marketo_Check__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Child_Account_Created</name>
        <label>Child Account Created?</label>
        <locationX>380</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Updated_PO_Status_to_Pending</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Child_Account_Created_Updated</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forB_isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Protocols_on_Child_Account</targetReference>
            </connector>
            <label>Child Account Created/Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_an_Insurance_Account</name>
        <label>Is an Insurance Account?</label>
        <locationX>182</locationX>
        <locationY>3695</locationY>
        <defaultConnector>
            <targetReference>Update_the_Insurance_Account_to_FALSE</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Insurance_No</defaultConnectorLabel>
        <rules>
            <name>Insurance_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Vertical__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insurance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Insurance_Account_to_TRUE</targetReference>
            </connector>
            <label>Insurance_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Audited</name>
        <label>Is Audited?</label>
        <locationX>380</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Need_to_Override_Tier</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Audited</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Audited__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Audited__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Audited_By</targetReference>
            </connector>
            <label>Audited</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Drive_Down_Child_Account_Created</name>
        <label>Is Drive Down Child Account Created?</label>
        <locationX>182</locationX>
        <locationY>2795</locationY>
        <defaultConnector>
            <targetReference>Need_to_Populate_BD_Account_Manager_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Drive_Down_Child_Account_Created</name>
            <conditionLogic>(1 OR 2) AND 3 AND 4</conditionLogic>
            <conditions>
                <leftValueReference>forB_isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Drive_Down__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Drive_Down</targetReference>
            </connector>
            <label>Drive Down Child Account Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Legal_Name_Not_Set</name>
        <label>Is Legal Name Not Set?</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Child_Account_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_Legal_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Legal_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Legal_Name_Name</targetReference>
            </connector>
            <label>Set Legal Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Not_a_Property_Record_Type_Account</name>
        <label>Is Not a Property Record Type Account?</label>
        <locationX>380</locationX>
        <locationY>2687</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Property_Record_Type_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Property</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Drive_Down_Child_Account_Created</targetReference>
            </connector>
            <label>Property Record Type Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Marketo Check is to be TRUE whenever an Account of type Parent or Account changes its Status to or from Active. An overnight scheduled flow will pick up the Accounts with Marketo Check is true and evaluate their direct contacts (and any of its properties direct contacts) to check/uncheck the Do Not Sync to Marketo checkbox. That same scheduled flow will uncheck Marketo Check after it is done evaluating</description>
        <name>Need_to_make_Marketo_Check_as_TRUE</name>
        <label>Need to make Marketo Check as TRUE</label>
        <locationX>182</locationX>
        <locationY>3995</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Marketo_TRUE</name>
            <conditionLogic>5 AND ((1 AND 2) OR (3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Active</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_Marketo_Check_to_TRUE</targetReference>
            </connector>
            <label>Marketo_TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_to_Override_Tier</name>
        <label>Need to Override Tier?</label>
        <locationX>380</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Need_to_Update_Inactive_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Override_Tier</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tier_Override__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Tier__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Track_Tier_Override_By_and_When</targetReference>
            </connector>
            <label>Override Tier</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_to_Populate_BD_Account_Manager_2</name>
        <label>Need to Populate BD Account Manager 2?</label>
        <locationX>182</locationX>
        <locationY>3095</locationY>
        <defaultConnector>
            <targetReference>Need_to_Remove_BD_Account_Manager_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Populate_BD_Account_Manager_2</name>
            <conditionLogic>(1 OR 2 OR 7 ) AND 3 AND 4 AND 5 AND 6</conditionLogic>
            <conditions>
                <leftValueReference>forB_isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BD_Account_Manager_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.Drive_Down__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Drive Down</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Parent.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.BD_Account_Manager_2__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Populate_the_BD_Account_Manager_2</targetReference>
            </connector>
            <label>Populate BD Account Manager 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_to_Remove_BD_Account_Manager_2</name>
        <label>Need to Remove BD Account Manager 2?</label>
        <locationX>182</locationX>
        <locationY>3395</locationY>
        <defaultConnector>
            <targetReference>Is_an_Insurance_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Remove_BD_2_Account_Manager</name>
            <conditionLogic>(1 AND 2 AND 3) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Drive_Down__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Drive_Down__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BD_Account_Manager_2__r.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Null_BD_Account_Manager_2</targetReference>
            </connector>
            <label>Remove BD 2 Account Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_to_Set_the_Match_Name</name>
        <label>Need to Set the Match Name?</label>
        <locationX>380</locationX>
        <locationY>2387</locationY>
        <defaultConnector>
            <targetReference>Is_Not_a_Property_Record_Type_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_the_Match_Name</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR ( 5 AND ( 6 OR 7 OR 8 OR 9 OR 10))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forB_isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Property</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingCity</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingStateCode</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingCountry</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingStreet</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ParentId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Match_Info</targetReference>
            </connector>
            <label>Set the Match Name</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_to_Update_Inactive_Date</name>
        <label>Need to Update Inactive Date?</label>
        <locationX>380</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Clear_Inactive_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_Inactive_Date</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Inactive_Date</targetReference>
            </connector>
            <label>Update Inactive Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_to_Update_the_Prior_Status</name>
        <label>Need to Update the Prior Status?</label>
        <locationX>380</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Need_to_Set_the_Match_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Update_the_Prior_Status</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>forB_isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Prior_Status</targetReference>
            </connector>
            <label>Update the Prior Status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Updated_PO_Status_to_Pending</name>
        <label>Updated PO Status to Pending?</label>
        <locationX>380</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>Is_Audited</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PO_Status_Updated_to_Pending</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TPA/Portal with POs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MSA with POs</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PO_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PO_Status</targetReference>
            </connector>
            <label>PO Status Updated to Pending</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Determines if record is new or updated</description>
        <name>forB_isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>forD_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>forT_AuditedBy</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}&amp;&quot; &quot;&amp; {!$User.LastName} &amp; &quot; | &quot; &amp; TEXT({!$Record.LastModifiedDate})</expression>
    </formulas>
    <formulas>
        <name>forT_MatchedName</name>
        <dataType>String</dataType>
        <expression>IF( 
    AND( 
        {!$Record.RecordType.DeveloperName}= &quot;Property&quot;, 
        {!$Record.Active__c} = true
     ), 
     TEXT({!$Record.ShippingStateCode}) &amp; &quot;_&quot; &amp; {!$Record.ShippingCity} &amp; &quot;_&quot; &amp; {!$Record.ShippingStreet} &amp; &quot;_&quot; &amp; {!forT_UltimateParent}, 
      IF( 
          AND( 
             {!$Record.RecordType.DeveloperName} = &quot;Property&quot;, 
             {!$Record.Active__c} = false 
           ), 
          TEXT({!$Record.ShippingStateCode}) &amp; &quot;_&quot; &amp; {!$Record.ShippingCity} &amp; &quot;_&quot; &amp; {!$Record.ShippingStreet} &amp; &quot;_&quot; &amp; {!forT_UltimateParent} &amp; &quot;_Inactive-&quot; &amp; TEXT({!$Record.Inactive_Date__c}), 
          {!$Record.Name}
       ) 
)</expression>
    </formulas>
    <formulas>
        <name>forT_PropertyName</name>
        <dataType>String</dataType>
        <expression>{!$Record.ShippingStreet} &amp; &quot; &quot; &amp; {!$Record.ShippingCity} &amp; &quot; &quot; &amp; TEXT({!$Record.ShippingStateCode}) &amp; &quot; &quot; &amp; {!$Record.ShippingPostalCode} &amp; &quot; &quot; &amp; IF(!ISBLANK ({!$Record.Property_Name__c}), &quot; - &quot; &amp; {!$Record.Property_Name__c} , &quot;&quot;) &amp; IF(!ISBLANK ( {!$Record.Property_Number__c} ), &quot; - &quot; &amp; {!$Record.Property_Number__c}  , &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forT_ProtocolsACMTesting</name>
        <dataType>String</dataType>
        <expression>IF ( ISBLANK ( {!$Record.Protocols_ACM_Testing__c}), {!$Record.Parent.Protocols_ACM_Testing__c} , {!$Record.Protocols_ACM_Testing__c})</expression>
    </formulas>
    <formulas>
        <name>forT_ProtocolsAdjusters</name>
        <dataType>String</dataType>
        <expression>IF ( ISBLANK ( {!$Record.Protocols_Adjusters__c} ), {!$Record.Parent.Protocols_Adjusters__c} , {!$Record.Protocols_Adjusters__c}  )</expression>
    </formulas>
    <formulas>
        <name>forT_ProtocolsBilling</name>
        <dataType>String</dataType>
        <expression>IF ( ISBLANK ( {!$Record.Protocols_Billing__c}), {!$Record.Parent.Protocols_Billing__c} , {!$Record.Protocols_Billing__c} )</expression>
    </formulas>
    <formulas>
        <name>forT_ProtocolsBroker</name>
        <dataType>String</dataType>
        <expression>IF ( ISBLANK ( {!$Record.Protocols_Broker__c}), {!$Record.Parent.Protocols_Broker__c} , {!$Record.Protocols_Broker__c} )</expression>
    </formulas>
    <formulas>
        <name>forT_ProtocolsDFRs</name>
        <dataType>String</dataType>
        <expression>IF ( ISBLANK ( {!$Record.Protocols_DFRs__c}) , {!$Record.Parent.Protocols_DFRs__c} , {!$Record.Protocols_DFRs__c})</expression>
    </formulas>
    <formulas>
        <name>forT_ProtocolsPortal</name>
        <dataType>String</dataType>
        <expression>IF ( ISBLANK ( {!$Record.Protocols_Portal__c}),{!$Record.Parent.Protocols_Portal__c} ,{!$Record.Protocols_Portal__c} )</expression>
    </formulas>
    <formulas>
        <name>forT_ProtocolsPricing</name>
        <dataType>String</dataType>
        <expression>IF ( ISBLANK ( {!$Record.Protocols_Pricing__c} ), {!$Record.Parent.Protocols_Pricing__c}, {!$Record.Protocols_Pricing__c} )</expression>
    </formulas>
    <formulas>
        <name>forT_ProtocolsSpecialConcerns</name>
        <dataType>String</dataType>
        <expression>IF ( ISBLANK ( {!$Record.Protocols_Special_Concerns__c} ), {!$Record.Parent.Protocols_Special_Concerns__c} , {!$Record.Protocols_Special_Concerns__c} )</expression>
    </formulas>
    <formulas>
        <name>forT_ProtocolsWorkAuthPO</name>
        <dataType>String</dataType>
        <expression>IF ( ISBLANK ( {!$Record.Protocols_Work_Auth_PO__c}), {!$Record.Parent.Protocols_Work_Auth_PO__c} , {!$Record.Protocols_Work_Auth_PO__c})</expression>
    </formulas>
    <formulas>
        <name>forT_UltimateParent</name>
        <dataType>String</dataType>
        <expression>IF( 
    ISBLANK({!$Record.Parent.The_Ultimate_Parent_Account__c}),
    {!$Record.Parent.Name},
    {!$Record.Parent.The_Ultimate_Parent_Account__r.Name}
)</expression>
    </formulas>
    <interviewLabel>Account - Before Save CU - Common {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Before Save CU - Common</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Legal_Name_Not_Set</targetReference>
        </connector>
        <filterFormula>{!$Setup.DataAdmin__c.TurnOffFlow__c} = false</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
