force-app/main/default/flows/Account_Before_Save_CU_Property.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Keep_Property_Name_Intact</name>
        <label>Keep Property Name Intact</label>
        <locationX>248</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_PropertyName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_New_Property_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Name_Active_DD</name>
        <label>Set Name, Active, DD</label>
        <locationX>182</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>$Record.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Drive_Down__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Property_with_Bill_To_Property</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Property_Owner_to_Parent_Owner</name>
        <label>Set Property Owner to Parent Owner</label>
        <locationX>94</locationX>
        <locationY>803</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Parent.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_New_Property_or_Changed_to_Property_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Billing_Address</name>
        <label>Update Billing Address</label>
        <locationX>50</locationX>
        <locationY>1403</locationY>
        <assignmentItems>
            <assignToReference>$Record.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_BillingCountryCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_BillingZipPostalCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingStateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_BillingStateCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_BillingStreet</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Has_Property_with_Bill_To_Property</name>
        <label>Has Property with Bill To = Property?</label>
        <locationX>182</locationX>
        <locationY>1295</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bill_To_Property</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Parent.Bill_To__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Property</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Billing_Address</targetReference>
            </connector>
            <label>Bill To = Property</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Call_Center_Created_Property</name>
        <label>Is Call Center Created Property?</label>
        <locationX>226</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Is_New_Property_or_Changed_to_Property_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Call_Center_Created_Property</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.UserRole.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call_Center</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner.Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Integration</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Property_Owner_to_Parent_Owner</targetReference>
            </connector>
            <label>Call Center Created Property</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Property_or_Changed_to_Property_Record_Type</name>
        <label>Is New Property or Changed to Property Record Type?</label>
        <locationX>380</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>forB_isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Name_Active_DD</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Property_Record</name>
        <label>Is New Property Record?</label>
        <locationX>380</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>Is_New_Property_or_Changed_to_Property_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Property_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forB_isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Call_Center_Created_Property</targetReference>
            </connector>
            <label>New Property Record</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Shipping_Info_Present</name>
        <label>Is Shipping Info Present?</label>
        <locationX>380</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Is_New_Property_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shipping_Info_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ShippingCity</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingCountryCode</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingPostalCode</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingStateCode</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ShippingStreet</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Keep_Property_Name_Intact</targetReference>
            </connector>
            <label>Shipping Info Present</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Determines if record is new or updated</description>
        <name>forB_isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>forT_BillingCity</name>
        <dataType>String</dataType>
        <expression>{!$Record.Parent.BillingCity}</expression>
    </formulas>
    <formulas>
        <name>forT_BillingCountryCode</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Parent.BillingCountryCode})</expression>
    </formulas>
    <formulas>
        <name>forT_BillingStateCode</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Parent.BillingStateCode})</expression>
    </formulas>
    <formulas>
        <name>forT_BillingStreet</name>
        <dataType>String</dataType>
        <expression>{!$Record.Parent.BillingStreet}</expression>
    </formulas>
    <formulas>
        <name>forT_BillingZipPostalCode</name>
        <dataType>String</dataType>
        <expression>{!$Record.Parent.BillingPostalCode}</expression>
    </formulas>
    <formulas>
        <name>forT_PropertyName</name>
        <dataType>String</dataType>
        <expression>{!$Record.ShippingStreet} &amp; &quot; &quot; &amp; {!$Record.ShippingCity} &amp; &quot; &quot; &amp; TEXT({!$Record.ShippingStateCode}) &amp; &quot; &quot; &amp; {!$Record.ShippingPostalCode} &amp; &quot; &quot; &amp; IF(!ISBLANK ({!$Record.Property_Name__c}), &quot; - &quot; &amp; {!$Record.Property_Name__c} , &quot;&quot;) &amp; IF(!ISBLANK ( {!$Record.Property_Number__c} ), &quot; - &quot; &amp; {!$Record.Property_Number__c}  , &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Account - Before Save CU  - Property {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Before Save CU  - Property</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Shipping_Info_Present</targetReference>
        </connector>
        <filterFormula>AND(
{!$Setup.DataAdmin__c.TurnOffFlow__c} = false,
{!$Record.RecordType.DeveloperName} = &apos;Property&apos;
)</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
