force-app/main/default/flows/Account_Ultimate_Parent_Name_Change_Record_Triggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>CollectUpdateProperty</name>
        <label>CollectUpdateProperty</label>
        <locationX>440</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>UpdateProperties</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopingProperty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughProperties</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetMatchNameTriggerToTrue</name>
        <label>SetMatchNameTriggerToTrue</label>
        <locationX>440</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>LoopingProperty.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughProperties.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LoopingProperty.Match_Name_Update_Trigger__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CollectUpdateProperty</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>BypassFlow</name>
        <label>BypassFlow</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>getProperties</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bypass_No</defaultConnectorLabel>
        <rules>
            <name>Bypass_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.DataAdmin__c.TurnOffFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypass_Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>MatchName</name>
        <dataType>String</dataType>
        <expression>TEXT({!LoopingProperty.ShippingStateCode})&amp;&quot;_&quot;&amp;{!LoopingProperty.ShippingCity}&amp;&quot;_&quot;&amp;{!LoopingProperty.ShippingStreet}&amp;&quot;_&quot;&amp;{!LoopingProperty.Ultimate_Parent__c}&amp;IF({!LoopingProperty.Active__c},&quot;&quot;,&quot;_Inactive-&quot;&amp;TEXT(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>TrimULTPN</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Record.Id},15)</expression>
    </formulas>
    <interviewLabel>Account - Ultimate Parent Name Change - Record Triggered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Ultimate Parent Name Change - Record Triggered</label>
    <loops>
        <name>LoopThroughProperties</name>
        <label>LoopThroughProperties</label>
        <locationX>352</locationX>
        <locationY>575</locationY>
        <collectionReference>getProperties</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetMatchNameTriggerToTrue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdatePropertiesCollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getProperties</name>
        <label>getProperties</label>
        <locationX>352</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThroughProperties</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121U000000bHywQAE</stringValue>
            </value>
        </filters>
        <filters>
            <field>Ultimate_Parent_Account_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TrimULTPN</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ShippingStateCode</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>Active__c</queriedFields>
        <queriedFields>Match_Name__c</queriedFields>
        <queriedFields>Ultimate_Parent__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePropertiesCollection</name>
        <label>UpdatePropertiesCollection</label>
        <locationX>352</locationX>
        <locationY>1031</locationY>
        <inputReference>UpdateProperties</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BypassFlow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>LoopingProperty</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>UpdateProperties</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
