force-app/main/default/flows/Account_Subflow_Common_Update_Child_Accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Child_Account_to_List_of_Child_Accounts_to_Update</name>
        <label>Add Child Account to List of Child Accounts to Update</label>
        <locationX>264</locationX>
        <locationY>3674</locationY>
        <assignmentItems>
            <assignToReference>varR_ChildAccounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Child_Accounts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Child_Accounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>By default, Change In Protocols for the current child record is defaulted to false.  Later on, if we do change the child protocol, then we will set this to true to use to determine that we should update the child account.  If it remains false, it doesn&apos;t go in the collection to update the child.  We don&apos;t need to blindly update all child accounts unless there is a change in protocols for all child accounts.</description>
        <name>Default_Change_In_Protocols_to_False_for_Current_Child_Record</name>
        <label>Default Change In Protocols to False for Current Child Record</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varB_ChangeInChildAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_A_Change_In_Parent_Account_s_Protocols_ACM</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Protocols_ACM_Testing_on_Child_Account</name>
        <label>Set Protocols ACM Testing on Child Account</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Child_Accounts.Protocols_ACM_Testing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ParentAccountNew.Protocols_ACM_Testing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varB_ChangeInChildAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_A_Change_in_Parent_Account_s_Protocols_Adjusters</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Protocols_Adjusters_on_Child_Account</name>
        <label>Set Protocols Adjusters on Child Account</label>
        <locationX>264</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Child_Accounts.Protocols_Adjusters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ParentAccountNew.Protocols_Adjusters__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varB_ChangeInChildAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_A_Change_in_Parent_Account_s_Protocols_Billing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Protocols_Billing_on_Child_Account</name>
        <label>Set Protocols Billing on Child Account</label>
        <locationX>264</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Child_Accounts.Protocols_Billing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ParentAccountNew.Protocols_Billing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varB_ChangeInChildAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_A_Change_in_Parent_Account_s_Protocols_Broker</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Protocols_Broker_on_Child_Account</name>
        <label>Set Protocols Broker on Child Account</label>
        <locationX>264</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Child_Accounts.Protocols_Broker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ParentAccountNew.Protocols_Broker__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varB_ChangeInChildAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_A_Change_in_Parent_Account_s_Protocols_DFRs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Protocols_DFRs_on_Child_Account</name>
        <label>Set Protocols DFRs on Child Account</label>
        <locationX>264</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Child_Accounts.Protocols_DFRs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ParentAccountNew.Protocols_DFRs__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varB_ChangeInChildAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_A_Change_in_Parent_Account_s_Protocols_Portal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Protocols_Portal_on_Child_Account</name>
        <label>Set Protocols Portal on Child Account</label>
        <locationX>264</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Child_Accounts.Protocols_Portal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ParentAccountNew.Protocols_Portal__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varB_ChangeInChildAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_A_Change_in_Parent_Account_s_Protocols_Pricing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Protocols_Pricing_on_Child_Account</name>
        <label>Set Protocols Pricing on Child Account</label>
        <locationX>264</locationX>
        <locationY>2474</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Child_Accounts.Protocols_Pricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ParentAccountNew.Protocols_Pricing__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varB_ChangeInChildAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_A_Change_in_Parent_Account_s_Protocols_Special_Concerns</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Protocols_Special_Concerns_on_Child_Account</name>
        <label>Set Protocols Special Concerns on Child Account</label>
        <locationX>264</locationX>
        <locationY>2774</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Child_Accounts.Protocols_Special_Concerns__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ParentAccountNew.Protocols_Special_Concerns__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varB_ChangeInChildAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_A_Change_in_Parent_Account_s_Protocols_Work_Auth_PO</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Protocols_Work_Auth_PO_on_Child_Account</name>
        <label>Set Protocols Work Auth PO on Child Account</label>
        <locationX>264</locationX>
        <locationY>3074</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Child_Accounts.Protocols_Work_Auth_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_ParentAccountNew.Protocols_Work_Auth_PO__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varB_ChangeInChildAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Ultimate_Parent_Account_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Match_Name_on_Child_Properties</name>
        <label>Update Match Name on Child Properties</label>
        <locationX>264</locationX>
        <locationY>3374</locationY>
        <assignmentItems>
            <assignToReference>varB_ChangeInChildAccount</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Child_Accounts.Match_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_MatchName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Change_in_Child_Protocols</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>If there was a change in at least one of the Child Protocols of the current child account, then add the child account record to the list of child accounts to update</description>
        <name>Change_in_Child_Protocols</name>
        <label>Change in Child Protocols?</label>
        <locationX>396</locationX>
        <locationY>3566</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Child_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Child_Protocols_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_ChangeInChildAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Child_Account_to_List_of_Child_Accounts_to_Update</targetReference>
            </connector>
            <label>Child Protocols Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_A_Change_In_Parent_Account_s_Protocols_ACM</name>
        <label>Is A Change In Parent Account&apos;s Protocols ACM?</label>
        <locationX>396</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Is_A_Change_in_Parent_Account_s_Protocols_Adjusters</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Parent_Account_Protocols_ACM_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ParentAccountNew.Protocols_ACM_Testing__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ParentAccountOld.Protocols_ACM_Testing__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_ParentAccountNew.Push_Protocols_Down__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ACM Testing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Protocols_ACM_Testing_on_Child_Account</targetReference>
            </connector>
            <label>Parent Account Protocols ACM Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_A_Change_in_Parent_Account_s_Protocols_Adjusters</name>
        <label>Is A Change in Parent Account&apos;s Protocols Adjusters?</label>
        <locationX>396</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Is_A_Change_in_Parent_Account_s_Protocols_Billing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_in_Parent_Account_s_Protocols_Adjusters</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ParentAccountNew.Protocols_Adjusters__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ParentAccountOld.Protocols_Adjusters__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_ParentAccountNew.Push_Protocols_Down__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Adjusters</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Protocols_Adjusters_on_Child_Account</targetReference>
            </connector>
            <label>Change in Parent Account&apos;s Protocols Adjusters</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_A_Change_in_Parent_Account_s_Protocols_Billing</name>
        <label>Is A Change in Parent Account&apos;s Protocols Billing</label>
        <locationX>396</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Is_A_Change_in_Parent_Account_s_Protocols_Broker</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_in_Parent_Account_s_Protocols_Billing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ParentAccountNew.Protocols_Billing__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ParentAccountOld.Protocols_Billing__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_ParentAccountNew.Push_Protocols_Down__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Billing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Protocols_Billing_on_Child_Account</targetReference>
            </connector>
            <label>Change in Parent Account&apos;s Protocols Billing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_A_Change_in_Parent_Account_s_Protocols_Broker</name>
        <label>Is A Change in Parent Account&apos;s Protocols Broker?</label>
        <locationX>396</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Is_A_Change_in_Parent_Account_s_Protocols_DFRs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_in_Parent_Account_s_Protocols_Broker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ParentAccountNew.Protocols_Broker__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ParentAccountOld.Protocols_Broker__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_ParentAccountNew.Push_Protocols_Down__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Broker</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Protocols_Broker_on_Child_Account</targetReference>
            </connector>
            <label>Change in Parent Account&apos;s Protocols Broker</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_A_Change_in_Parent_Account_s_Protocols_DFRs</name>
        <label>Is A Change in Parent Account&apos;s Protocols DFRs?</label>
        <locationX>396</locationX>
        <locationY>1766</locationY>
        <defaultConnector>
            <targetReference>Is_A_Change_in_Parent_Account_s_Protocols_Portal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CHange</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ParentAccountNew.Protocols_DFRs__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ParentAccountOld.Protocols_DFRs__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_ParentAccountNew.Push_Protocols_Down__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DFRs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Protocols_DFRs_on_Child_Account</targetReference>
            </connector>
            <label>Change in Parent Account&apos;s Protocols DFRs</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_A_Change_in_Parent_Account_s_Protocols_Portal</name>
        <label>Is A Change in Parent Account&apos;s Protocols Portal?</label>
        <locationX>396</locationX>
        <locationY>2066</locationY>
        <defaultConnector>
            <targetReference>Is_A_Change_in_Parent_Account_s_Protocols_Pricing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_in_Parent_Account_s_Protocols_Portal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ParentAccountNew.Protocols_Portal__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ParentAccountOld.Protocols_Portal__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_ParentAccountNew.Push_Protocols_Down__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Portal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Protocols_Portal_on_Child_Account</targetReference>
            </connector>
            <label>Change in Parent Account&apos;s Protocols Portal</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_A_Change_in_Parent_Account_s_Protocols_Pricing</name>
        <label>Is A Change in Parent Account&apos;s Protocols Pricing?</label>
        <locationX>396</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>Is_A_Change_in_Parent_Account_s_Protocols_Special_Concerns</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_in_Parent_Account_s_Protocols_Pricing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ParentAccountNew.Protocols_Pricing__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ParentAccountOld.Protocols_Pricing__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_ParentAccountNew.Push_Protocols_Down__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Pricing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Protocols_Pricing_on_Child_Account</targetReference>
            </connector>
            <label>Change in Parent Account&apos;s Protocols Pricing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_A_Change_in_Parent_Account_s_Protocols_Special_Concerns</name>
        <label>Is A Change in Parent Account&apos;s Protocols Special Concerns?</label>
        <locationX>396</locationX>
        <locationY>2666</locationY>
        <defaultConnector>
            <targetReference>Is_A_Change_in_Parent_Account_s_Protocols_Work_Auth_PO</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_in_Parent_Account_s_Protocols_Special_Concerns</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ParentAccountNew.Protocols_Special_Concerns__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ParentAccountOld.Protocols_Special_Concerns__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_ParentAccountNew.Push_Protocols_Down__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Special Concerns</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Protocols_Special_Concerns_on_Child_Account</targetReference>
            </connector>
            <label>Change in Parent Account&apos;s Protocols Special Concerns</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_A_Change_in_Parent_Account_s_Protocols_Work_Auth_PO</name>
        <label>Is A Change in Parent Account&apos;s Protocols Work Auth PO</label>
        <locationX>396</locationX>
        <locationY>2966</locationY>
        <defaultConnector>
            <targetReference>Is_Ultimate_Parent_Account_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Change_in_Parent_Account_s_Protocols_Work_Auth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ParentAccountNew.Protocols_Work_Auth_PO__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ParentAccountOld.Protocols_Work_Auth_PO__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_ParentAccountNew.Push_Protocols_Down__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Work Auth/PO</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Protocols_Work_Auth_PO_on_Child_Account</targetReference>
            </connector>
            <label>Change in Parent Account&apos;s Protocols Work Auth</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Ultimate_Parent_Account_Changed</name>
        <label>Is Ultimate Parent Account Changed?</label>
        <locationX>396</locationX>
        <locationY>3266</locationY>
        <defaultConnector>
            <targetReference>Change_in_Child_Protocols</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ultimate_Parent_Account_Has_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_ParentAccountNew.The_Ultimate_Parent_Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_ParentAccountOld.The_Ultimate_Parent_Account__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Child_Accounts.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varT_AccountPropertyRecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Match_Name_on_Child_Properties</targetReference>
            </connector>
            <label>Ultimate Parent Account Has Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>varT_MatchName</name>
        <dataType>String</dataType>
        <expression>IF( 
      AND( 
          {!varT_AccountPropertyRecordTypeId}= {!Loop_Through_Child_Accounts.RecordTypeId}, 
           {!Loop_Through_Child_Accounts.Active__c} = true
       ), 
       TEXT(
           {!Loop_Through_Child_Accounts.ShippingStateCode}
        ) 
         &amp; &quot;_&quot; &amp; {!Loop_Through_Child_Accounts.ShippingCity} &amp; &quot;_&quot; &amp; {!Loop_Through_Child_Accounts.ShippingStreet} &amp; &quot;_&quot; &amp;{!Loop_Through_Child_Accounts.Ultimate_Parent__c}, 
           IF( 
               AND( 
                   {!Loop_Through_Child_Accounts.RecordTypeId} = {!varT_AccountPropertyRecordTypeId}, 
                   {!Loop_Through_Child_Accounts.Active__c} = false 
                ), 
               TEXT(
                    {!Loop_Through_Child_Accounts.ShippingCountryCode}
                ) 
              &amp; &quot;_&quot; &amp; {!Loop_Through_Child_Accounts.ShippingCity} &amp; &quot;_&quot; &amp; {!Loop_Through_Child_Accounts.ShippingStreet} &amp; &quot;_&quot; &amp; {!Loop_Through_Child_Accounts.Ultimate_Parent__c} &amp; &quot;_Inactive-&quot; &amp; TEXT({!Loop_Through_Child_Accounts.Inactive_Date__c}), 
            {!Loop_Through_Child_Accounts.Name}
    ) 
)</expression>
    </formulas>
    <interviewLabel>Account - Subflow - Common - Update Child Accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Subflow - Common - Update Child Accounts</label>
    <loops>
        <name>Loop_Through_Child_Accounts</name>
        <label>Loop Through Child Accounts</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Child_Accounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Default_Change_In_Protocols_to_False_for_Current_Child_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Child_Accounts_Protocols</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Property_Record_Type_Id</name>
        <label>Get Account Property Record Type Id</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Child_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Property</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varT_AccountPropertyRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Child_Accounts</name>
        <label>Get Child Accounts</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Property_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_ParentAccountNew.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Child_Accounts_Protocols</name>
        <label>Update Child Accounts&apos; Protocols</label>
        <locationX>176</locationX>
        <locationY>3950</locationY>
        <inputReference>varR_ChildAccounts</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Child_Accounts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varB_ChangeInChildAccount</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varR_ChildAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varR_ParentAccountNew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varR_ParentAccountOld</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varT_AccountPropertyRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
