force-app/main/default/flows/Account_After_Save_CU_ATMwCRM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>CollectATMCRM</name>
        <label>CollectATMCRM</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>ATMCRMCollectionToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ATMCRMSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThroughATMsToCreate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountParentATMs</name>
        <label>CountParentATMs</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>ParentATMCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>GetParentATMs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ATMwCRMexist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MakeSingleATM</name>
        <label>MakeSingleATM</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ATMCRMSingle.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThroughATMsToCreate.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ATMCRMSingle.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ATMCRMSingle.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ATMCRMSingle.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ATMCRMSingle.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ATMCRMSingle.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ATMCRMSingle.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CRM</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ATMCRMSingle.Send_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ATMCRMSingle.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CollectATMCRM</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ATMwCRMexist</name>
        <label>ATMwCRMexist</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>CRM_No</defaultConnectorLabel>
        <rules>
            <name>CRM_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ParentATMCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopThroughATMsToCreate</targetReference>
            </connector>
            <label>CRM_Yes</label>
        </rules>
    </decisions>
    <description>When an account is created, reparented, or changes ownership, and that account has a parent, this flow will look up to that parent&apos;s ATM and recreate any pf the ATM role of CRM, as needed, on the Account that triggered the flow.</description>
    <environments>Default</environments>
    <interviewLabel>Account - After Save CU - ATMwCRM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - After Save CU - ATMwCRM</label>
    <loops>
        <name>LoopThroughATMsToCreate</name>
        <label>LoopThroughATMsToCreate</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>GetParentATMs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MakeSingleATM</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateATMCRMCollection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateATMCRMCollection</name>
        <label>CreateATMCRMCollection</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputReference>ATMCRMCollectionToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetParentATMs</name>
        <label>GetParentATMs</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CountParentATMs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TeamMemberRole</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CRM</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetParentATMs</targetReference>
        </connector>
        <filterFormula>AND(
  {!$Setup.DataAdmin__c.TurnOffFlow__c}  = false,
  OR(
    AND(
      ISNEW(),
      NOT(ISBLANK( {!$Record.ParentId}))
    ),
    AND(
      ISCHANGED({!$Record.ParentId}),
      NOT(ISBLANK( {!$Record.ParentId}))
    ),
    AND(
      ISCHANGED({!$Record.OwnerId}),
      NOT(ISBLANK({!$Record.ParentId}))
    )
    )
)</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ATMCRMCollectionToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>ATMCRMSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>ParentATMCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
