force-app/main/default/flows/Account_Team_Member_Subflow_Job_Sharings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Job_ID_Existing_to_Collection</name>
        <label>Add Job ID Existing to Collection</label>
        <locationX>270</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>varC_JobIDsExisting</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Make_a_Collection_of_Job_IDs_for_Existing.Job__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Make_a_Collection_of_Job_IDs_for_Existing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Job_ID_to_Collection</name>
        <label>Add Job ID to Collection</label>
        <locationX>424</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varC_JobIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Make_a_Collection_of_Job_IDs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Make_a_Collection_of_Job_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Job_Sharing_to_Job_Sharing_Collection</name>
        <label>Add Job Sharing to Job Sharing Collection</label>
        <locationX>138</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>varC_JobSharingsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_SingleJobSharing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Make_Job_Sharings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Jobs</name>
        <label>Count Jobs</label>
        <locationX>336</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>varN_Count_Jobs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varC_JobIDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_Jobs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_New_Job_Sharings</name>
        <label>Count New Job Sharings</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varN_Count_New_Job_Sharings</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varC_JobIDsNew</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_There_New_Job_Sharings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Make_a_Collection_of_Job_IDs_for_New</name>
        <label>Make a Collection of Job IDs for New</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>varC_JobIDsNew</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varC_JobIDs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_JobIDsNew</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>varC_JobIDsExisting</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_New_Job_Sharings</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Make_a_Single_Job_Sharing</name>
        <label>Make a Single Job Sharing</label>
        <locationX>138</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>varR_SingleJobSharing.Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Make_Job_Sharings</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SingleJobSharing.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountTeamMember.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Job_Sharing_to_Job_Sharing_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_Jobs</name>
        <label>Are there Jobs?</label>
        <locationX>336</locationX>
        <locationY>734</locationY>
        <defaultConnectorLabel>Jobs_No</defaultConnectorLabel>
        <rules>
            <name>Jobs_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_Count_Jobs</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getJobSharingExistingForATM</targetReference>
            </connector>
            <label>Jobs_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_There_New_Job_Sharings</name>
        <label>Are There New Job Sharings?</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <defaultConnectorLabel>New_JS_No</defaultConnectorLabel>
        <rules>
            <name>New_JS_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_Count_New_Job_Sharings</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Make_Job_Sharings</targetReference>
            </connector>
            <label>New_JS_Yes</label>
        </rules>
    </decisions>
    <description>This subflow will add the Account Team Member as a Job Sharing record on all Jobs related to the Account where the Team Member is not the Job Owner or does not already have a Job Sharing.</description>
    <environments>Default</environments>
    <interviewLabel>Account Team Member - Subflow - Job Sharings {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Team Member - Subflow - Job Sharings</label>
    <loops>
        <name>Make_a_Collection_of_Job_IDs</name>
        <label>Make a Collection of Job IDs</label>
        <locationX>336</locationX>
        <locationY>278</locationY>
        <collectionReference>getJobs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Job_ID_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_Jobs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Make_a_Collection_of_Job_IDs_for_Existing</name>
        <label>Make a Collection of Job IDs for Existing</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <collectionReference>getJobSharingExistingForATM</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Job_ID_Existing_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Make_a_Collection_of_Job_IDs_for_New</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Make_Job_Sharings</name>
        <label>Make Job Sharings</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <collectionReference>varC_JobIDsNew</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Make_a_Single_Job_Sharing</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Job_Sharings</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Job_Sharings</name>
        <label>Create Job Sharings</label>
        <locationX>50</locationX>
        <locationY>2126</locationY>
        <inputReference>varC_JobSharingsToCreate</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getJobs</name>
        <label>getJobs</label>
        <locationX>336</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Make_a_Collection_of_Job_IDs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_AccountTeamMember.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varR_AccountTeamMember.UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <queriedFields>Id</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getJobSharingExistingForATM</name>
        <label>getJobSharingExistingForATM</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Make_a_Collection_of_Job_IDs_for_Existing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>In</operator>
            <value>
                <elementReference>varC_JobIDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_AccountTeamMember.UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Job_Sharing__c</object>
        <sortField>Job__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getJobs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varC_JobIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varC_JobIDsExisting</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varC_JobIDsNew</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varC_JobSharingsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Job_Sharing__c</objectType>
    </variables>
    <variables>
        <name>varN_Count_Jobs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varN_Count_New_Job_Sharings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varR_AccountTeamMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>varR_SingleJobSharing</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Job_Sharing__c</objectType>
    </variables>
</Flow>
