force-app/main/default/flows/Account_Subflow_GNG_Children_Covered_by_Parent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Account - Subflow - GNG Children Covered by Parent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Subflow - GNG Children Covered by Parent</label>
    <loops>
        <name>Loop_through_Children</name>
        <label>Loop through Children</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Children_Covered_by_Parent</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Subflow_GNG_Calculation</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Children_Covered_by_Parent</name>
        <label>Get Children Covered by Parent</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Children</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Covered by Parent</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Children_Covered_by_Parent</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Subflow_GNG_Calculation</name>
        <label>Subflow - GNG Calculation</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Loop_through_Children</targetReference>
        </connector>
        <flowName>Account_Subflow_GNG_Calculation</flowName>
        <inputAssignments>
            <name>varT_AccountId</name>
            <value>
                <elementReference>Loop_through_Children.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varT_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
