force-app/main/default/flows/Account_to_Campaign_Member.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>Assign account to SF Maps campaign.</description>
        <name>assignCampaignMember</name>
        <label>assignCampaignMember</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>CampaignMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCampaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createCampaignMember</targetReference>
        </connector>
    </assignments>
    <description>SF Maps - Push Account to Campaign: Member</description>
    <environments>Default</environments>
    <interviewLabel>Account to Campaign Member {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account to Campaign Member</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create Account as Campaign Member</description>
        <name>createCampaignMember</name>
        <label>createCampaignMember</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>updateAccount</targetReference>
        </connector>
        <inputReference>CampaignMember</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get SF Maps Campaign</description>
        <name>getCampaign</name>
        <label>getCampaign</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assignCampaignMember</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Maps_Campaign_Trigger__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAccount</name>
        <label>updateAccount</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>Maps_Campaign_Trigger__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCampaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Maps_Campaign_Trigger__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
