force-app/main/default/flows/Account_Subflow_Common_Update_Contracts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_List_of_Contracts_to_Update</name>
        <label>Add to List of Contracts to Update</label>
        <locationX>418</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>varR_ContractsToUpdateList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Contracts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Contracts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cancel_Contract</name>
        <label>Cancel Contract</label>
        <locationX>264</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Contracts.Canceled__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varB_IsUpdateContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Account_Contract_Type_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Default_Update_Contract_to_False</name>
        <label>Default Update Contract to False</label>
        <locationX>550</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>varB_IsUpdateContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Client_Record_Type_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Account_Contract_Type</name>
        <label>Update Account Contract Type</label>
        <locationX>264</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Contracts.Account_Contract_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountNew.Contract_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Contract_Updated</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Rate_Type_and_T_M_Year</name>
        <label>Update Rate Type and T&amp;M Year</label>
        <locationX>264</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Contracts.Rate_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountNew.MSA_Rate_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Through_Contracts.T_M_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_AccountNew.T_M_Year__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varB_IsUpdateContract</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Account_Status_Unqualified</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Account_Contract_Type_Changed</name>
        <label>Has Account Contract Type Changed?</label>
        <locationX>396</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Is_Contract_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Contract_Type_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_AccountNew.Contract_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_AccountOld.Contract_Type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Contract_Type</targetReference>
            </connector>
            <label>Account Contract Type Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_Status_Unqualified</name>
        <label>Is Account Status Unqualified?</label>
        <locationX>396</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Has_Account_Contract_Type_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_Status_Unqualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_AccountNew.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Unqualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Contract</targetReference>
            </connector>
            <label>Account Status Unqualified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Active_Contract</name>
        <label>Is Active Contract?</label>
        <locationX>396</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Is_Account_Status_Unqualified</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Active_Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Contracts.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Rate_Type_and_T_M_Year</targetReference>
            </connector>
            <label>Active Contract</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Client_Record_Type_Contract</name>
        <label>Is Client Record Type Contract?</label>
        <locationX>550</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Is_Contract_Updated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Client_Record_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varT_ContractRecordTypeClient</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Through_Contracts.RecordTypeId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Through_Contracts.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Active_Contract</targetReference>
            </connector>
            <label>Client Record Type</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Contract_Updated</name>
        <label>Is Contract Updated?</label>
        <locationX>550</locationX>
        <locationY>1862</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Contracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contract_Updated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_IsUpdateContract</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_List_of_Contracts_to_Update</targetReference>
            </connector>
            <label>Contract Updated</label>
        </rules>
    </decisions>
    <description>Updates Contract&apos;s associated with account</description>
    <environments>Default</environments>
    <interviewLabel>Account - Subflow - Common - Update Contracts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Subflow - Common - Update Contracts</label>
    <loops>
        <name>Loop_Through_Contracts</name>
        <label>Loop Through Contracts</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Contracts_Associated_with_an_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Default_Update_Contract_to_False</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contracts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contract_Client_Record_Type_Id</name>
        <label>Get Contract Client Record Type Id</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contracts_Associated_with_an_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Client</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varT_ContractRecordTypeClient</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Contracts_Associated_with_an_Account</name>
        <label>Get Contracts Associated with an Account</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Contracts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_AccountNew.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contracts</name>
        <label>Update Contracts</label>
        <locationX>176</locationX>
        <locationY>2294</locationY>
        <inputReference>varR_ContractsToUpdateList</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Contract_Client_Record_Type_Id</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varB_IsUpdateContract</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varR_AccountNew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varR_AccountOld</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varR_ContractsToUpdateList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>varT_ContractRecordTypeClient</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
