force-app/main/default/flows/Account_Team_Member_Subflow_Replicate_ATM_on_Children.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Account_ID_Existing_To_Collection</name>
        <label>Add Account ID Existing To Collection</label>
        <locationX>270</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>varC_AccountIDs_Existing</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Make_Account_IDs_Existing_Collection.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Make_Account_IDs_Existing_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Account_ID_to_Collection</name>
        <label>Add Account ID to Collection</label>
        <locationX>468</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varC_AccountIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Make_Account_IDs_Collection.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Make_Account_IDs_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Single_ATM_to_Collection_ATM</name>
        <label>Add Single ATM to Collection ATM</label>
        <locationX>138</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>varC_AccountTeamMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_Single_ATM</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Make_New_Account_Team_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Account_IDs</name>
        <label>Count Account IDs</label>
        <locationX>380</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>varN_Count_AccountIDs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varC_AccountIDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_There_Accounts_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_New_Account_IDs</name>
        <label>Count New Account IDs</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varN_Count_AccountIDs_New</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varC_AccountIDs_New</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_There_New_Account_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Make_Account_IDs_New_Colection</name>
        <label>Make Account IDs New Colection</label>
        <locationX>182</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>varC_AccountIDs_New</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varC_AccountIDs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_AccountIDs_New</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>varC_AccountIDs_Existing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_New_Account_IDs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Make_Single_Account_Team_Member</name>
        <label>Make Single Account Team Member</label>
        <locationX>138</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>varR_Single_ATM.UserId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Record.UserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Single_ATM.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Make_New_Account_Team_Members</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Single_ATM.TeamMemberRole</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Record.TeamMemberRole</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Single_ATM.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Single_ATM.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Record.CaseAccessLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Single_ATM.ContactAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Record.ContactAccessLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Single_ATM.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Record.OpportunityAccessLevel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Single_ATM.Send_Notification__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Single_ATM_to_Collection_ATM</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_There_Accounts_IDs</name>
        <label>Are There Accounts IDs?</label>
        <locationX>380</locationX>
        <locationY>734</locationY>
        <defaultConnectorLabel>Accounts_No</defaultConnectorLabel>
        <rules>
            <name>Accounts_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_Count_AccountIDs</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccountTeamMembers</targetReference>
            </connector>
            <label>Accounts_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Are_There_New_Account_IDs</name>
        <label>Are There New Account IDs?</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <defaultConnectorLabel>New_No</defaultConnectorLabel>
        <rules>
            <name>New_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_Count_AccountIDs_New</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Make_New_Account_Team_Members</targetReference>
            </connector>
            <label>New_Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account Team Member - Subflow - Replicate ATM on Children {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Team Member - Subflow - Replicate ATM on Children</label>
    <loops>
        <name>Make_Account_IDs_Collection</name>
        <label>Make Account IDs Collection</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <collectionReference>getChildAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Account_ID_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_Account_IDs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Make_Account_IDs_Existing_Collection</name>
        <label>Make Account IDs Existing Collection</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <collectionReference>getAccountTeamMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Account_ID_Existing_To_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Make_Account_IDs_New_Colection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Make_New_Account_Team_Members</name>
        <label>Make New Account Team Members</label>
        <locationX>50</locationX>
        <locationY>1670</locationY>
        <collectionReference>varC_AccountIDs_New</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Make_Single_Account_Team_Member</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Account_Team_Members</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Account_Team_Members</name>
        <label>Create Account Team Members</label>
        <locationX>50</locationX>
        <locationY>2126</locationY>
        <inputReference>varC_AccountTeamMembers</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getAccountTeamMembers</name>
        <label>getAccountTeamMembers</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Make_Account_IDs_Existing_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>varC_AccountIDs</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_Record.UserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getChildAccounts</name>
        <label>getChildAccounts</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Make_Account_IDs_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getChildAccounts</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varC_AccountIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varC_AccountIDs_Existing</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varC_AccountIDs_New</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varC_AccountTeamMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>varN_Count_AccountIDs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varN_Count_AccountIDs_New</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varR_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
    <variables>
        <name>varR_Single_ATM</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountTeamMember</objectType>
    </variables>
</Flow>
