force-app/main/default/flows/Account_Team_Member_Create_Update_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_ATM</name>
        <label>Notify ATM</label>
        <locationX>242</locationX>
        <locationY>1247</locationY>
        <actionName>AccountTeamMember.Account_Team_Member_Addition</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AccountTeamMember.Account_Team_Member_Addition</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Create_Job_Sharings</name>
        <label>Create Job Sharings?</label>
        <locationX>374</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Replicate_Account_Team_Member_on_Children_Accounts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Nothing</defaultConnectorLabel>
        <rules>
            <name>Job_Sharings_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forT_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_Job_Sharings</targetReference>
            </connector>
            <label>Job_Sharings_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_DataAdmin_Bypass_Flow</name>
        <label>Is DataAdmin Bypass Flow?</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Create_Job_Sharings</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bypass_No</defaultConnectorLabel>
        <rules>
            <name>Bypass_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.DataAdmin__c.TurnOffFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypass_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Notify_new_Account_Team_Member</name>
        <label>Notify new Account Team Member?</label>
        <locationX>374</locationX>
        <locationY>1127</locationY>
        <defaultConnectorLabel>Do Nothing</defaultConnectorLabel>
        <rules>
            <name>Notify_Yes</name>
            <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Send_Notification__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forT_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Send_Notification__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.UserId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_ATM</targetReference>
            </connector>
            <label>Notify_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Currently fires when the ATM Role is CRM</description>
        <name>Replicate_Account_Team_Member_on_Children_Accounts</name>
        <label>Replicate Account Team Member on Children Accounts?</label>
        <locationX>374</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Notify_new_Account_Team_Member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Nothing</defaultConnectorLabel>
        <rules>
            <name>Replicate_Yes</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>forT_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_Replicate_ATM_on_Children</targetReference>
            </connector>
            <label>Replicate_Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forT_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Account Team Member - Create Update - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Team Member - Create Update - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_DataAdmin_Bypass_Flow</targetReference>
        </connector>
        <object>AccountTeamMember</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Subflow_Job_Sharings</name>
        <label>Subflow - Job Sharings</label>
        <locationX>242</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Replicate_Account_Team_Member_on_Children_Accounts</targetReference>
        </connector>
        <flowName>Account_Team_Member_Subflow_Job_Sharings</flowName>
        <inputAssignments>
            <name>varR_AccountTeamMember</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Subflow_Replicate_ATM_on_Children</name>
        <label>Subflow - Replicate ATM on Children</label>
        <locationX>242</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Notify_new_Account_Team_Member</targetReference>
        </connector>
        <flowName>Account_Team_Member_Subflow_Replicate_ATM_on_Children</flowName>
        <inputAssignments>
            <name>varR_Record</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
