force-app/main/default/flows/Account_Create_Property_AfterSave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_CAN_Store_Property_Account_Fields</name>
        <label>Assign CAN Store Property Account Fields</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Canada_Property.locality</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Canada_Property.postal_code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingStateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Canada_Property.administrative_area_level_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Canada_Property.fullStreetAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Account_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_US_Store_Property_Account_Fields</name>
        <label>Assign US Store Property Account Fields</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Property.locality</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Property.postal_code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingStateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Property.administrative_area_level_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Property.fullStreetAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>US</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Account_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Determine_Account_Name</name>
        <label>Determine Account Name</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>propertyAccNameFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Property_Account_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Property_Account_Fields</name>
        <label>Store Property Account Fields</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Property_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Property_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Property_Account_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Property_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Property_Address_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingStreetFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingCityFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingZipCodeFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Billing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Billing_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Contact_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Billing_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Contact_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.BillingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingCountryFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.BillingStateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BillingStateFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_ACM_Testing__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Adjusters__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Billing__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Broker__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_DFRs__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Portal__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Pricing__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Special_Concerns__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Work_Auth_PO__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Contract_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Country</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CanadaChoice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Canada&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CAN</stringValue>
        </value>
    </choices>
    <choices>
        <name>USChoice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;United States&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>US</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Country</name>
        <label>Check Country?</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Determine_Account_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Canada_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CanadaChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CAN_Store_Property_Account_Fields</targetReference>
            </connector>
            <label>Is Canada Decision</label>
        </rules>
        <rules>
            <name>Is_US_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>USChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_US_Store_Property_Account_Fields</targetReference>
            </connector>
            <label>Is US Country</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choicepl_ContractType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contract_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>BillingCityFormula</name>
        <dataType>String</dataType>
        <expression>IF(
      ISPICKVAL({!AccountBillinginfo.Bill_To__c},&quot;Property&quot;), 
      {!Create_Property.locality},
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>BillingCountryFormula</name>
        <dataType>String</dataType>
        <expression>IF(
      ISPICKVAL({!AccountBillinginfo.Bill_To__c},&quot;Property&quot;), 
     {!Create_Property.country},
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>BillingStateFormula</name>
        <dataType>String</dataType>
        <expression>IF(
      ISPICKVAL({!AccountBillinginfo.Bill_To__c},&quot;Property&quot;), 
        {!Create_Property.administrative_area_level_1},
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>BillingStreetFormula</name>
        <dataType>String</dataType>
        <expression>IF(
      ISPICKVAL({!AccountBillinginfo.Bill_To__c},&quot;Property&quot;), 
        {!Create_Property.fullStreetAddress},
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>BillingZipCodeFormula</name>
        <dataType>String</dataType>
        <expression>IF(
      ISPICKVAL({!AccountBillinginfo.Bill_To__c},&quot;Property&quot;), 
        {!Create_Property.postal_code},
&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>getcountryformula</name>
        <dataType>String</dataType>
        <expression>IF({!Create_Property.country}=&quot;PR&quot;,&quot;US&quot;,{!Create_Property.country})</expression>
    </formulas>
    <formulas>
        <name>propertyAccNameFormula</name>
        <dataType>String</dataType>
        <expression>{!propertyAccRecVar.ShippingStreet} &amp; &quot; &quot;
&amp; {!propertyAccRecVar.ShippingCity} &amp; &quot; &quot;
&amp; TEXT({!propertyAccRecVar.ShippingStateCode}) &amp; &quot; &quot;
&amp; {!propertyAccRecVar.ShippingPostalCode} 
&amp; IF(!ISBLANK({!propertyAccRecVar.Property_Name__c}),&quot; - &quot; &amp; {!propertyAccRecVar.Property_Name__c},&quot;&quot;) 
&amp; IF(!ISBLANK({!propertyAccRecVar.Property_Number__c}),&quot; - &quot; &amp; {!propertyAccRecVar.Property_Number__c}, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Account-Create Property-AfterSave {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account-Create Property-AfterSave</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Property_Account_Record</name>
        <label>Create New Property Account Record</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <faultConnector>
            <targetReference>Error_Message_0</targetReference>
        </faultConnector>
        <inputReference>propertyAccRecVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Property_Account_Record_Type</name>
        <label>Get Property Account Record Type</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Property_Account_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Property</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Create_Property_Screen</name>
        <label>Create Property Screen</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Property_Account_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Create_Property_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Property_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Property_Address_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Property Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif; color: rgb(62, 62, 60);&quot;&gt;“Please enter the Name of the Building. For example, the “Chrysler Building” is an example of a Property Name.”&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Property_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Property Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;“Please enter the Store Number here. For example, Home Depot has a store number #265 for a specific location. The Suite # or Apartment # goes into the Damage Description section”&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Select_Country</name>
                    <choiceReferences>USChoice</choiceReferences>
                    <choiceReferences>CanadaChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>USChoice</defaultSelectedChoiceReference>
                    <fieldText>Select Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Create_Property</name>
                    <extensionName>c:AddressValidation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>countryISO</name>
                        <value>
                            <stringValue>USA</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>dataset</name>
                        <value>
                            <stringValue>us-address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxSuggestion</name>
                        <value>
                            <numberValue>8.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Country</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>USChoice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Create_Canada_Property</name>
                    <extensionName>c:AddressValidation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>maxSuggestion</name>
                        <value>
                            <numberValue>8.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>countryISO</name>
                        <value>
                            <stringValue>CAN</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>dataset</name>
                        <value>
                            <stringValue>ca-address</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Country</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CanadaChoice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Property_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Billing_Contact</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>AccountBillinginfo.Billing_Contact__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing Contact</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Billing_Contact_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Billing Contact Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>AccountBillinginfo.Billing_Email__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Billing_Contact_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Billing Contact Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>AccountBillinginfo.Billing_Phone__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Contract_Type</name>
                    <choiceReferences>choicepl_ContractType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Covered by Parent</stringValue>
                    </defaultValue>
                    <fieldText>Contract Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Click to Create Property</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message_0</name>
        <label>Error_Message</label>
        <locationX>754</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VR_Error_Message_0</name>
            <fieldText>&lt;p&gt;Please read the error below. Play close attention to the error after the phrase &lt;b style=&quot;font-size: 12px; font-family: Calibri, sans-serif;&quot;&gt;FIELD_CUSTOM_VALIDATION_EXCEPTION&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(255, 143, 8); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To fix the errors, click the previous button to go back into the field(s) that need attention. Then, click the Next button to complete the creation of the job.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Property_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountBillinginfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>propertyAccRecVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
