force-app/main/default/flows/Account_Subflow_AfterSync_Trigger_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>If there is a change in Go/No Go DLRS fields, then raise a platform event</description>
        <name>Change_in_Go_No_Go_DLRS_Fields</name>
        <label>Change in Go/No Go DLRS Fields?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>GNG_DLRS_Change</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varR_AccountNew.GNG_DLRS_Fixed__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_AccountOld.GNG_DLRS_Fixed__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_AccountNew.GNG_DLRS_T_M__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_AccountOld.GNG_DLRS_T_M__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_AccountNew.GNG_DLRS_TPA_PO__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varR_AccountOld.GNG_DLRS_TPA_PO__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Raise_AfterSync_Trigger_Event</targetReference>
            </connector>
            <label>GNG DLRS Change</label>
        </rules>
    </decisions>
    <description>This sub flow raises an AfterSync Trigger Platform Event to update account that will trigger the AfterSync Trigger (i.e. Go/No Go)</description>
    <environments>Default</environments>
    <interviewLabel>Account - Subflow - AfterSync Trigger Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Subflow - AfterSync Trigger Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Raise_AfterSync_Trigger_Event</name>
        <label>Raise AfterSync Trigger Event</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <inputAssignments>
            <field>Object_API_Name__c</field>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>varR_AccountNew.Id</elementReference>
            </value>
        </inputAssignments>
        <object>AfterSync_Trigger__e</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Change_in_Go_No_Go_DLRS_Fields</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>new account record</description>
        <name>varR_AccountNew</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Old Account record value</description>
        <name>varR_AccountOld</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
