force-app/main/default/flows/Account_Create_Save_After_TEMPORARY_FOR_GNG.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Job_to_Collection</name>
        <label>Add Job to Collection</label>
        <locationX>330</locationX>
        <locationY>1391</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_JobSingle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Jobs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_GNG_Value</name>
        <label>Assign GNG Value</label>
        <locationX>330</locationX>
        <locationY>1271</locationY>
        <assignmentItems>
            <assignToReference>varR_JobSingle.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Jobs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobSingle.Go_No_Gox__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_GNG</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Job_to_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Calculate_GNG</name>
        <label>Calculate GNG?</label>
        <locationX>374</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Is_GNG_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Calculate_Yes</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR 5 OR (6 AND 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.GNG_Legal_Override__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GNG_DLRS_Fixed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GNG_DLRS_T_M__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.GNG_DLRS_TPA_PO__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forB_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Covered by Parent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_GNG_Calculation</targetReference>
            </connector>
            <label>Calculate_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Bypass_Flow</name>
        <label>Is Bypass Flow?</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Calculate_GNG</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.DataAdmin__c.TurnOffFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypass_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_GNG_Changed</name>
        <label>Is GNG Changed?</label>
        <locationX>374</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Go_No_Gox__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_GNG_Children_Covered_by_Parent</targetReference>
            </connector>
            <label>Changed_Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forB_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>forT_GNG</name>
        <dataType>String</dataType>
        <expression>IF(OR(
TEXT({!Loop_through_Jobs.GNG_Legal_Override__c}) = &quot;Go&quot;,
TEXT({!$Record.Go_No_Gox__c}) = &quot;Go&quot;,
{!Loop_through_Jobs.Number_of_CWAs_FE__c} &gt; 0),
&quot;Go&quot;,
&quot;No-Go&quot;)</expression>
    </formulas>
    <interviewLabel>Account - Create Save - After - TEMPORARY FOR GNG {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Create Save - After - TEMPORARY FOR GNG</label>
    <loops>
        <name>Loop_through_Jobs</name>
        <label>Loop through Jobs</label>
        <locationX>242</locationX>
        <locationY>1151</locationY>
        <collectionReference>Get_Jobs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_GNG_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Jobs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Jobs</name>
        <label>Get Jobs</label>
        <locationX>242</locationX>
        <locationY>1031</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Jobs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Jobs</name>
        <label>Update Jobs</label>
        <locationX>242</locationX>
        <locationY>1607</locationY>
        <inputReference>varR_JobCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Bypass_Flow</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>Subflow_GNG_Calculation</name>
        <label>Subflow - GNG Calculation</label>
        <locationX>242</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Is_GNG_Changed</targetReference>
        </connector>
        <flowName>Account_Subflow_GNG_Calculation</flowName>
        <inputAssignments>
            <name>varT_AccountId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Subflow_GNG_Children_Covered_by_Parent</name>
        <label>Subflow - GNG Children Covered by Parent</label>
        <locationX>242</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>Get_Jobs</targetReference>
        </connector>
        <flowName>Account_Subflow_GNG_Children_Covered_by_Parent</flowName>
        <inputAssignments>
            <name>varT_AccountId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varR_JobCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>varR_JobSingle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
