force-app/main/default/flows/Account_Create_New_RPF_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Contract_Values</name>
        <label>Assign Contract Values</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varR_Contract.Rate_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sc_Rate_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Contract.T_M_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sc_T_M_Year</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Contract.T_M_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sc_T_M_Term</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Contract.Government_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sc_Government_Contract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Contract.Government_Locality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sc_Government_Locality</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Contract.Government_Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sc_Government_Relationship</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Contract.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sc_Contract_Start_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Contract.ContractTerm</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sc_Contract_Term_months</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Contract.Auto_Renew__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sc_Auto_Renew</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Contract.RFP_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_RFP.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Initial_Contract_Values</name>
        <label>Assign Initial Contract Values</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varR_Contract.Client_Contract_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>3rd Party Paper</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Contract.Will_client_receive_a_discount_rebate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Contract.Contract_Changes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Standard</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Contract.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Contract.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0121U000000b6Sn</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Contract.Account_Contract_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Contract_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Contract.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RFP_Create_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_RPF_Opportunity_Values</name>
        <label>Assign RPF Opportunity Values</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varR_RFP.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_RFP.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sc_RFP_Opportunity_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_RFP.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sc_Deadline_Submittal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_RFP.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Needs Analysis</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_RFP.National_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.National_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_RFP.Deadline_for_Questions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sc_Deadline_for_Questions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_RFP.Deadline_Submittal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sc_Deadline_Submittal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_RFP.RFP_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_RFP.RFP_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_RFP.Referred_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_RFP.Referred_By__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_RFP.Type_of_Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sc_Type_of_Contract</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_RFP.Probability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sc_Probability</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_RFP.RFP_Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sc_RFP_Lead_Source</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_RFP.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_RFP.Date_of_RFP_Release__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_RFP.Date_of_RFP_Release__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_RFP.Deadline_for_Intent_Notice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sc_Deadline_for_Intent_Notice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_RFP.RFP_Delivery_Methods__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_RFP.RFP_Delivery_Methods__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_RFP.Contract_Expiration_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sc_Contract_Expiration_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_RFP.Loss_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sc_Loss_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_RFP.Loss_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sc_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_RFP.Loss_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sc_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_RFP.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sc_Estimate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_RFP_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Number_of_Files_0</name>
        <label>Is Number of Files &gt; 0?</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Upload_Files</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Files_No</defaultConnectorLabel>
        <rules>
            <name>Files_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract.Number_of_Files__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FInish_Screen</targetReference>
            </connector>
            <label>Files_Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pcs_Government_Contract</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Government_Contract__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_Government_Locality</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Government_Locality__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_Government_Relationship</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Government_Relationship__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_Legal_Entities</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Legal_Entities__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_Loss_Country</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Loss_Country__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_Probability</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Probability__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_Rate_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rate_Type__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_RFP_Lead_Source</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RFP_Lead_Source__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_State</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Loss_State__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_T_M_Term</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>T_M_Term__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_T_M_Year</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>T_M_Year__c</picklistField>
        <picklistObject>Contract</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcs_Type_of_Contract</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Contract__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>varT_RFPName</name>
        <dataType>String</dataType>
        <expression>{!Get_Account.Name} &amp; &quot; - &quot; &amp; TEXT(TODAY())</expression>
    </formulas>
    <interviewLabel>Account - Create New RPF - Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - Create New RPF - Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contract</name>
        <label>Create Contract</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Update_RFP</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>VR_Error_Message</targetReference>
        </faultConnector>
        <inputReference>varR_Contract</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_RFP_Opportunity</name>
        <label>Create RFP Opportunity</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Assign_Contract_Values</targetReference>
        </connector>
        <faultConnector>
            <targetReference>VR_Error_Message</targetReference>
        </faultConnector>
        <inputReference>varR_RFP</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Initial_Contract_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract</name>
        <label>Get Contract</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Number_of_Files_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_Contract.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_RFP</name>
        <label>Update RFP</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Upload_Files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_RFP.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ContractId</field>
            <value>
                <elementReference>varR_Contract.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>FInish_Screen</name>
        <label>FInish Screen</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Finish_Files</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;You have successfully completed the initial phase of the RFP process. You will be hearing from the RFP Team within the next two business days. Click &lt;/strong&gt;&lt;a href=&quot;/{!varR_RFP}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 20px; color: rgb(24, 171, 212);&quot;&gt;&lt;strong&gt;here&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(24, 171, 212);&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;font-size: 20px; color: rgb(0, 0, 0);&quot;&gt;to view your RFP.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RFP_Create_Screen</name>
        <label>RFP_Create_Screen</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_RPF_Opportunity_Values</targetReference>
        </connector>
        <fields>
            <name>Header</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;&lt;u&gt;Create RFP&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RFP_Information</name>
            <fieldText>RFP Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RFP_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>sc_RFP_Opportunity_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varT_RFPName</elementReference>
                    </defaultValue>
                    <fieldText>RFP Opportunity Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Format: &quot;Property Name - YYYY-MM-DD.&quot; This is not sent in the Lead Sheet email.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>sc_Probability</name>
                    <choiceReferences>pcs_Probability</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Probability %</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>sc_RFP_Lead_Source</name>
                    <choiceReferences>pcs_RFP_Lead_Source</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>RFP Lead Source</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RFP_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_RFP.RFP_Delivery_Methods__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_RFP.RFP_Contact__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_RFP.Referred_By__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>RFP_Key_Dates</name>
            <fieldText>RFP Key Dates</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RFP_Key_Dates_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_RFP.Date_of_RFP_Release__c</objectFieldReference>
                </fields>
                <fields>
                    <name>sc_Deadline_for_Intent_Notice</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Deadline for Intent Notice</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;If the RFP requires a Notice of Intent to Participate, please enter the due date here.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RFP_Key_Dates_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>sc_Deadline_for_Questions</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Deadline for Questions</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;This is the due date for submission of questions to inform how to proceed with your RFP&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>sc_Deadline_Submittal</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Deadline Submittal</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;This is when the RFP package must be submitted&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Contract_Information</name>
            <fieldText>Contract Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Contract_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>sc_Contract_Start_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Contract Start Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This is an estimate for now but required by the system for making the contract record.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>sc_Contract_Term_months</name>
                    <dataType>Number</dataType>
                    <fieldText>Contract Term (months)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <fields>
                    <name>sc_Auto_Renew</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Auto-Renew</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>sc_Type_of_Contract</name>
                    <choiceReferences>pcs_Type_of_Contract</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type of Contract</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>sc_Contract_Expiration_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Contract Expiration Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>sc_Type_of_Contract</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>At-Will</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>sc_City</name>
                    <dataType>String</dataType>
                    <fieldText>City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>sc_Type_of_Contract</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Project-Specific</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>sc_State</name>
                    <choiceReferences>pcs_State</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>State</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>sc_Type_of_Contract</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Project-Specific</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>sc_Loss_Country</name>
                    <choiceReferences>pcs_Loss_Country</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>United States</stringValue>
                    </defaultValue>
                    <fieldText>Loss Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>sc_Type_of_Contract</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Project-Specific</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>sc_Estimate</name>
                    <dataType>Currency</dataType>
                    <fieldText>Estimate</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <scale>2</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;The Estimate must be greater than zero.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!sc_Estimate} &gt; 0</formulaExpression>
                    </validationRule>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>sc_Type_of_Contract</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Project-Specific</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Contract_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varR_Contract.Legal_Entities__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>RFP_Create_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RFP_Create_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>sc_Rate_Type</name>
                    <choiceReferences>pcs_Rate_Type</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Rate Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>sc_T_M_Year</name>
                    <choiceReferences>pcs_T_M_Year</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>T&amp;M Year</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>sc_Rate_Type</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>T&amp;M</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>sc_T_M_Term</name>
                    <choiceReferences>pcs_T_M_Term</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>T&amp;M Term</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>sc_T_M_Year</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RFP_Create_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>sc_Government_Contract</name>
                    <choiceReferences>pcs_Government_Contract</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Government Contract</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;If the loss is on a government property, then select &quot;Yes,&quot; even if the contract is with a subcontractor to the government entity.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>sc_Government_Locality</name>
                    <choiceReferences>pcs_Government_Locality</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Government Locality</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>sc_Government_Contract</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>sc_Government_Relationship</name>
                    <choiceReferences>pcs_Government_Relationship</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Government Relationship</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Indirect: Contract is with a subcontractor of a government entity. Direct: Contract is directly with a government entity.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>sc_Government_Contract</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Upload_Files</name>
        <label>Upload Files</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contract</targetReference>
        </connector>
        <fields>
            <name>Upload_RFP_Files</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload RFP Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>contentDocIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>title</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varR_Contract.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentVersionIds</name>
                <value>
                    <elementReference>contentVersionIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>fileNames</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>VR_Error_Message</name>
        <label>VR Error Message</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>RFP_Error_Message</name>
            <fieldText>&lt;p&gt;Please read the error below. Play close attention to the error after the phrase &lt;strong style=&quot;font-size: 12px; font-family: Calibri, sans-serif;&quot;&gt;FIELD_CUSTOM_VALIDATION_EXCEPTION&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 143, 8); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To fix the errors, click the previous button to go back into the field(s) that need attention. Then, click the Next button to complete the creation of the RFP Opportunity.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contentDocIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contentVersionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>fileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varC_ContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varN_FileCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varR_Contract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>varR_RFP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
