force-app/main/default/flows/BD_Removed_from_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_BD_1</name>
        <label>Send Email to BD 1</label>
        <locationX>110</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_to_Sales_Ops_BD1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BD1EmailBodyTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>PriorBD1Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce.alerts@firstonsite.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your name has been removed from BD 1 Field</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_BD_2</name>
        <label>Send Email to BD 2</label>
        <locationX>374</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_to_Sales_Ops_BD2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BD2EmailBodyTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record__Prior.BD_Account_Manager_2__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce.alerts@firstonsite.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your name has been removed from BD 2 Field</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_BD_3</name>
        <label>Send Email to BD 3</label>
        <locationX>638</locationX>
        <locationY>695</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Send_to_Sales_Ops_BD3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BD3EmailBodyTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$Record__Prior.BD_Account_Manager_3__r.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce.alerts@firstonsite.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your name has been removed from BD 3 Field</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Notify Sales Ops when BD 1 is removed from job.</description>
        <name>Send_to_Sales_Ops_BD1</name>
        <label>Send to Sales Ops BD1</label>
        <locationX>110</locationX>
        <locationY>815</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BD1EmailBodyTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>salesops@firstonsite.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce.alerts@firstonsite.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Notice of BD 1 Removed from Job</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Notify Sales Ops when BD 2 removed from job.</description>
        <name>Send_to_Sales_Ops_BD2</name>
        <label>Send to Sales Ops BD2</label>
        <locationX>374</locationX>
        <locationY>815</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BD2EmailBodyTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>salesops@firstonsite.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce.alerts@firstonsite.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Notice of BD2 Removed from Job</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Notify Sales Ops when BD3 is removed from job.</description>
        <name>Send_to_Sales_Ops_BD3</name>
        <label>Send to Sales Ops BD3</label>
        <locationX>638</locationX>
        <locationY>815</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>BD3EmailBodyTemplate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>salesops@firstonsite.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce.alerts@firstonsite.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Notice of BD 3 Removed from Job</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Store_BD1_Email</name>
        <label>Store BD1 Email</label>
        <locationX>110</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>PriorBD1Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.BD_Account_Manager__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_BD_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_BD2_email</name>
        <label>Store BD2 email</label>
        <locationX>374</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>$Record.BD_Account_Manager_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.BD_Account_Manager_2__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_email_to_BD_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_BD_3_Email</name>
        <label>Store BD 3 Email</label>
        <locationX>638</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>$Record.BD_Account_Manager_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.BD_Account_Manager_3__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email_to_BD_3</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decAdminFlowBypass</name>
        <label>decAdminFlowBypass</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Is_BD_Removed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bypass No</defaultConnectorLabel>
        <rules>
            <name>Bypass_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.DataAdmin__c.TurnOffFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypass Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_BD_Removed</name>
        <label>Is BD Removed?</label>
        <locationX>506</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BD_1_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.BD_Account_Manager__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BD_Account_Manager__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_BD1_Email</targetReference>
            </connector>
            <label>BD 1 Removed</label>
        </rules>
        <rules>
            <name>BD_2_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.BD_Account_Manager_2__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BD_Account_Manager_2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_BD2_email</targetReference>
            </connector>
            <label>BD 2 Removed</label>
        </rules>
        <rules>
            <name>BD_3_Removed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.BD_Account_Manager_3__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.BD_Account_Manager_3__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_BD_3_Email</targetReference>
            </connector>
            <label>BD 3 Removed</label>
        </rules>
    </decisions>
    <description>this will send an email to the BD that was removed from the job</description>
    <environments>Default</environments>
    <formulas>
        <name>DetailLink</name>
        <dataType>String</dataType>
        <expression>LEFT( {!$Api.Partner_Server_URL_520}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_520} ))&amp;{!$Record.Id}</expression>
    </formulas>
    <interviewLabel>BD Removed from Job {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BD Removed from Job</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decAdminFlowBypass</targetReference>
        </connector>
        <filterLogic>(1 AND 4) OR (2 AND 5) OR (3 AND 6)</filterLogic>
        <filters>
            <field>BD_Account_Manager__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BD_Account_Manager_2__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BD_Account_Manager_3__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BD_Account_Manager__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BD_Account_Manager_2__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>BD_Account_Manager_3__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>BD1EmailBodyTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!$Record__Prior.BD_Account_Manager__r.FirstName} and Sales Ops
Your name has been removed from the BD 1 field for job # {!$Record.WorkOrderNumber}
Job Detail Link: {!DetailLink}
Last Modified By:  {!$User.FirstName} {!$User.LastName}</text>
    </textTemplates>
    <textTemplates>
        <name>BD2EmailBodyTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!$Record__Prior.BD_Account_Manager_2__r.FirstName} and Sales Ops,
Your name has been removed from the BD 2 field for job # {!$Record.WorkOrderNumber}
Record Detail Link: {!DetailLink}
Last Modified by: {!$User.FirstName} {!$User.LastName}</text>
    </textTemplates>
    <textTemplates>
        <name>BD3EmailBodyTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!$Record__Prior.BD_Account_Manager_3__r.FirstName} and Sales Ops
Your name has been removed from the BD 3 field for job # {!$Record.WorkOrderNumber}
Record Detail Link: {!DetailLink}
Last Modified by: {!$User.FirstName} {!$User.LastName}</text>
    </textTemplates>
    <variables>
        <name>PriorBD1Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>joe.mitchell@firstonsite.com</stringValue>
        </value>
    </variables>
</Flow>
