force-app/main/default/flows/Bolt_Event_Subflow_Post_Sales_Incentive_Plan_Error_BoltEvents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Bolt_Event</name>
        <label>Set Bolt Event</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>varR_BoltEvent.Ids__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_BoltEvent.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Con_Sales_Incentive_Plan_Error</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_BoltEvent.Status_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_StatusMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_BoltEvent.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_ObjectName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_BoltEvent.Flow__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_Flow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Bolt_Event_Commission_Error</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>The Developer Name of the Sales Incentive Plan Error Record Type of the Bolt Log</description>
        <name>Con_Sales_Incentive_Plan_Error</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales_Incentive_Plan_Error</stringValue>
        </value>
    </constants>
    <description>STAR-5564, STAR-6212, STAR-6133 This sub flow posts Sales Incentive Plan Error Bolt Events to a Bolt Log can be created</description>
    <environments>Default</environments>
    <interviewLabel>Bolt Event - Subflow - Post Sales Incentive Plan Error BoltEvents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bolt Event - Subflow - Post Sales Incentive Plan Error BoltEvents</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Bolt_Event_Commission_Error</name>
        <label>Create Bolt Event Commission Error</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <inputReference>varR_BoltEvent</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Bolt_Event</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_BoltEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bolt_Event__e</objectType>
    </variables>
    <variables>
        <name>varT_Flow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_ObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_StatusMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
