force-app/main/default/flows/Bolt_Event_Handler.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Bolt_Error_Notification</name>
        <label>Bolt Error Notification</label>
        <locationX>763</locationX>
        <locationY>1611</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>vBoltErrorNotificationId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>vRecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>forT_NotificationTitle</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>forT_NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetPageRef</name>
            <value>
                <elementReference>forT_TargetPageReference</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Bolt_Error_Record</name>
        <label>Assign Bolt Error Record</label>
        <locationX>1053</locationX>
        <locationY>626</locationY>
        <assignmentItems>
            <assignToReference>vBoltLogRec.Apex_Class__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Apex_Class__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBoltLogRec.Apex_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Apex_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBoltLogRec.Request_Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Request_Body__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBoltLogRec.Status_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBoltLogRec.Status_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status_Message__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBoltLogRec.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vBoltLogRecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBoltLogRec.Integration_Direction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Integration_Direction__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBoltLogRec.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBoltLogRec.Exception_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Exception_Message__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBoltLogRec.Exception_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Exception_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBoltLogRec.Stack_Trace__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Stack_Trace__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBoltLogRec.Http_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Http_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBoltLogRec.Endpoint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Endpoint__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBoltLogRec.Response_Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Response_Body__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBoltLogRec.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.User__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBoltLogRec.Ids__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Ids__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vBoltLogRec.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Object__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Bolt_Log_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contract_Record</name>
        <label>Assign Contract Record</label>
        <locationX>1053</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>vBoltLogRec.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_IdWithoutQuotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Bolt_Error_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Job_Record_Id</name>
        <label>Assign Job Record Id</label>
        <locationX>789</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>vBoltLogRec.Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_IdWithoutQuotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Bolt_Error_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Custom_Notification_Parameters</name>
        <label>Get Custom Notification Parameters</label>
        <locationX>921</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>vRecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vBoltSupportGroupId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Object_is_WorkOrder_or_Contract</name>
        <label>Check Object is WorkOrder or Contract?</label>
        <locationX>1053</locationX>
        <locationY>326</locationY>
        <defaultConnector>
            <targetReference>Assign_Bolt_Error_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WorkOrder</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Object__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>WorkOrder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forB_HasMultipleIds</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ids__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Job_Record_Id</targetReference>
            </connector>
            <label>WorkOrder</label>
        </rules>
        <rules>
            <name>Contract</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Object__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forB_HasMultipleIds</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Ids__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Contract_Record</targetReference>
            </connector>
            <label>Contract</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the Bolt Event is an Error Type</description>
        <name>Is_Error</name>
        <label>Is Error?</label>
        <locationX>1053</locationX>
        <locationY>842</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Error_Type</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Error</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Record_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Icertis_Error</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Bolt_Error_Notification</targetReference>
            </connector>
            <label>Is Error Type</label>
        </rules>
    </decisions>
    <description>This flow handles Bolt Events and logs them as errors and sometimes notifies the user of the error</description>
    <environments>Default</environments>
    <formulas>
        <name>forB_HasMultipleIds</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!$Record.Ids__c},&apos;,&apos;)</expression>
    </formulas>
    <formulas>
        <name>forT_IdWithoutQuotes</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Record.Ids__c}, CHR(39),&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>forT_NotificationBody</name>
        <dataType>String</dataType>
        <expression>&apos;Please see Bolt Log &apos;+{!Get_Bolt_Log.Name}+&apos; for more detail.&apos;</expression>
    </formulas>
    <formulas>
        <name>forT_NotificationTitle</name>
        <dataType>String</dataType>
        <expression>&apos;Bolt Error!&apos;</expression>
    </formulas>
    <formulas>
        <name>forT_TargetPageReference</name>
        <dataType>String</dataType>
        <expression>&apos;{ type: &quot;standard__recordPage&quot;,attributes:{recordId:&apos; +  {!vBoltLogRec.Id} + &apos;,objectApiName: &quot;Bolt_Log__c&quot;,actionName: &quot;view&quot;} }&apos;</expression>
    </formulas>
    <interviewLabel>Bolt Event Handler {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bolt Event Handler</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Bolt_Log_Record</name>
        <label>Insert Bolt Log Record</label>
        <locationX>1053</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>Is_Error</targetReference>
        </connector>
        <inputReference>vBoltLogRec</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Bolt_Error_Notification</name>
        <label>Get Bolt Error Notification</label>
        <locationX>921</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Bolt_Support_Group_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bolt_Error_Notification</stringValue>
            </value>
        </filters>
        <object>CustomNotificationType</object>
        <outputAssignments>
            <assignToReference>vBoltErrorNotificationId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Bolt_Log</name>
        <label>Get Bolt Log</label>
        <locationX>921</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Custom_Notification_Parameters</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vBoltLogRec.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bolt_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Bolt_Log_Record_Type</name>
        <label>Get Bolt Log Record Type</label>
        <locationX>1053</locationX>
        <locationY>218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Object_is_WorkOrder_or_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bolt_Log__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Record_Type__c</elementReference>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>vBoltLogRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Custom_Bolt_Support_Group_Id</name>
        <label>Get Custom Bolt Support Group Id</label>
        <locationX>921</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bolt_Log</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bolt_Support</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputAssignments>
            <assignToReference>vBoltSupportGroupId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>927</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Bolt_Log_Record_Type</targetReference>
        </connector>
        <object>Bolt_Event__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Id of the Bolt Error Notification Custom Notification record</description>
        <name>vBoltErrorNotificationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vBoltLogRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bolt_Log__c</objectType>
    </variables>
    <variables>
        <name>vBoltLogRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This is the Id of the Bolt Support Public Group used when sending the custom bolt notification</description>
        <name>vBoltSupportGroupId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Notification Ids used in Custom Notification</description>
        <name>vRecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
