force-app/main/default/flows/Bolt_Event_Subflow_Post_Delete_BoltEvents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Bolt_Event</name>
        <label>Set Bolt Event</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>varR_BoltEvent.Ids__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_BoltEvent.Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Delete</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_BoltEvent.Status_Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_StatusMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_BoltEvent.Object__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_ObjectName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Bolt_Event_for_Delete</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Bolt Event - Subflow - Post Delete BoltEvents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Bolt Event - Subflow - Post Delete BoltEvents</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Bolt_Event_for_Delete</name>
        <label>Create Bolt Event for Delete</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <inputReference>varR_BoltEvent</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Bolt_Event</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_BoltEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bolt_Event__e</objectType>
    </variables>
    <variables>
        <name>varT_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_ObjectName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_StatusMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
