force-app/main/default/flows/Change_Request_Subflow_Merge_Bypass_Duplicates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_Admin_Notes</name>
        <label>assign - Admin Notes</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>varAdminNotes</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>templateAdminNotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Losing_Account_Bypass</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Change Request - Subflow - Merge Bypass Duplicates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Change Request - Subflow - Merge Bypass Duplicates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_Losing_Account_Bypass</name>
        <label>update - Losing Account - Bypass</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>update_Losing_Account_Match_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordChangeRequest.Losing_Merge_Record__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bypass_Duplicate_Rule__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Losing_Account_Match_Name</name>
        <label>update- Losing Account - Match Name</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordChangeRequest.Losing_Merge_Record__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Match_Name__c</field>
            <value>
                <elementReference>recordChangeRequest.Account__r.Match_Name__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assign_Admin_Notes</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>templateAdminNotes</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Losing Record Detail: {!recordChangeRequest.Losing_Merge_Record__r.Id} / {!recordChangeRequest.Losing_Merge_Record__r.Account_Number__c} - {!recordChangeRequest.Losing_Merge_Record__r.Name} / {!recordChangeRequest.Losing_Merge_Record__r.Account_Owner_Full_Name__c}</text>
    </textTemplates>
    <variables>
        <name>recordChangeRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Change_Request__c</objectType>
    </variables>
    <variables>
        <name>varAdminNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
