force-app/main/default/flows/Change_Property_on_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>PostToChatter</name>
        <label>PostToChatter</label>
        <locationX>1018</locationX>
        <locationY>878</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Email_Success</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>vgetjobId.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_Action</name>
        <label>Send Email Action</label>
        <locationX>1018</locationX>
        <locationY>758</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>PostToChatter</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body_field</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>ithelp@firstonsite.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_CAN_Store_Property_Account_Fields</name>
        <label>Assign CAN Store Property Account Fields</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Canada_Property.locality</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Canada_Property.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Canada_Property.postal_code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingStateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Canada_Property.administrative_area_level_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Canada_Property.fullStreetAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Account_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_US_Store_Property_Account_Fields</name>
        <label>Assign US Store Property Account Fields</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Property.locality</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Property.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Property.postal_code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingStateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Property.administrative_area_level_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Property.fullStreetAddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Account_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Determine_Account_Name</name>
        <label>Determine Account Name</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>propertyaccountnameformula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Property_Account_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Property_Account_Fields</name>
        <label>Store Property Account Fields</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Property_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Property_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Property_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Property_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Property_Account_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vgetaccountid.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Work_Auth_PO__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Special_Concerns__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Pricing__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Portal__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_DFRs__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Broker__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Billing__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Adjusters__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_ACM_Testing__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Billing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Billing_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Contact_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Billing_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Contact_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Country</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CanadaChoice</name>
        <choiceText>Canada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CAN</stringValue>
        </value>
    </choices>
    <choices>
        <name>USChoice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;United States&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>US</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Country</name>
        <label>Check Country?</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Determine_Account_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Canada_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CanadaChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CAN_Store_Property_Account_Fields</targetReference>
            </connector>
            <label>Is Canada Decision</label>
        </rules>
        <rules>
            <name>Is_US_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>USChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_US_Store_Property_Account_Fields</targetReference>
            </connector>
            <label>Is US Country</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_New_Property_Decision</name>
        <label>Create New Property_Decision</label>
        <locationX>666</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Email_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New_Property_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Property</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Property_Screen</targetReference>
            </connector>
            <label>Create New Property_Outcome</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>propertyaccountnameformula</name>
        <dataType>String</dataType>
        <expression>{!propertyAccRecVar.ShippingStreet} &amp; &quot; &quot;
&amp; {!propertyAccRecVar.ShippingCity} &amp; &quot; &quot;
&amp; TEXT({!propertyAccRecVar.ShippingStateCode}) &amp; &quot; &quot;
&amp; {!propertyAccRecVar.ShippingPostalCode} 
&amp; IF(!ISBLANK({!propertyAccRecVar.Property_Name__c}),&quot;-&quot; &amp; {!propertyAccRecVar.Property_Name__c},&quot;&quot;) 
&amp; IF(!ISBLANK({!propertyAccRecVar.Property_Number__c}),&quot;-&quot; &amp; {!propertyAccRecVar.Property_Number__c}, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Change Property on Job {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Change Property on Job</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Property_Account_Record</name>
        <label>Create New Property Account Record</label>
        <locationX>314</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Congrats_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Duplicate_Property_Error_0</targetReference>
        </faultConnector>
        <inputReference>propertyAccRecVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Property_Account_Record_Type</name>
        <label>Get Property Account Record Type</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Property_Account_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Property</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>vgetaccountid</name>
        <label>vgetaccountid</label>
        <locationX>666</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Search_for_Properties</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vgetjobId.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>vgetjobId</name>
        <label>vgetjobId</label>
        <locationX>666</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>vgetaccountid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>jobId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Congrats_Screen</name>
        <label>Congrats_Screen</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Search_for_Properties</targetReference>
        </connector>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(23, 43, 77);&quot;&gt;Congratulations! Your Property has been created! Click the next button to go to the next screen. Click in the field and select your new Property.”&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Property_Error_0</name>
        <label>Duplicate_Property_Error</label>
        <locationX>754</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Please read the error below. Play close attention to the error after the phrase &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-family: Calibri, sans-serif; font-size: 12px;&quot;&gt;FIELD_CUSTOM_VALIDATION_EXCEPTION&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(237, 10, 10);&quot;&gt;You might have tried to create a duplicate Property.  If so then click the Previous button to reenter the property&lt;/span&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Screen</name>
        <label>Email Screen</label>
        <locationX>1018</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Email_Action</targetReference>
        </connector>
        <fields>
            <name>To_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>ithelpdesk@firstonsite.com</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Subject_field</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Subject</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Body_field</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>EmailBody</elementReference>
            </defaultValue>
            <fieldText>Email Body</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Click to Send Email</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Email_Success</name>
        <label>Email Success</label>
        <locationX>1018</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Email_Successfull</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Your email has been sent successfully and a post has been made to the chatter feed on this Job.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 25, 25);&quot;&gt;Important: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;You should receive an email confirmation in the next few minutes from the IT Service Desk letting you know an incident has been opened on your behalf. If for some reason you do not receive this confirmation, please reach out directly to the Salesforce Team by sending an email to ithelp@firstonsite.com with Salesforce in the subject line.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Property_Screen</name>
        <label>New Property Screen</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Property_Account_Record_Type</targetReference>
        </connector>
        <fields>
            <name>New_Property_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Property_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Property_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Property Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif; color: rgb(62, 62, 60);&quot;&gt;“Please enter the Name of the Building. For example, the “Chrysler Building” is an example of a Property Name.”&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Property_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Property Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;“Please enter the Store Number here. For example, Home Depot has a store number #265 for a specific location. The Suite # or Apartment # goes into the Damage Description section”&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Select_Country</name>
                    <choiceReferences>USChoice</choiceReferences>
                    <choiceReferences>CanadaChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>USChoice</defaultSelectedChoiceReference>
                    <fieldText>Select Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Create_Property</name>
                    <extensionName>c:AddressValidation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dataset</name>
                        <value>
                            <stringValue>us-address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>countryISO</name>
                        <value>
                            <stringValue>USA</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxSuggestion</name>
                        <value>
                            <numberValue>8.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Create_New_Property</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Select_Country</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>USChoice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Create_Canada_Property</name>
                    <extensionName>c:AddressValidation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>maxSuggestion</name>
                        <value>
                            <numberValue>8.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>countryISO</name>
                        <value>
                            <stringValue>CAN</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>dataset</name>
                        <value>
                            <stringValue>ca-address</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Create_New_Property</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Select_Country</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CanadaChoice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Property_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Billing_Contact</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>vgetaccountid.Billing_Contact__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing Contact</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Billing_Contact_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>vgetaccountid.Billing_Email__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Billing_Contact_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>vgetaccountid.Billing_Phone__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_for_Properties</name>
        <label>Search for Properties</label>
        <locationX>666</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Property_Decision</targetReference>
        </connector>
        <fields>
            <name>Property</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Parent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>ParentId=&apos;{!vgetaccountid}&apos; AND RecordType.DeveloperName=&apos;Property&apos; AND Active__c=true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Properties</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>No_Property_Message</name>
            <fieldText>&lt;p&gt;If you need to create a new property for this account, select the checkbox&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Property.selectedName</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Create_New_Property</name>
            <dataType>Boolean</dataType>
            <fieldText>Create New Property?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Property.selectedName</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Job_Data_Section_Header</name>
            <fieldText>Job Data</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Job_Data_Section_Header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Original_Account_Name</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Original Account Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!vgetjobId.Account_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Original_Account_Number</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Original Account Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!vgetjobId.Account.Account_Number__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Job_Number</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Job Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!vgetjobId.WorkOrderNumber}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Job_Type</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Job Type&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!vgetjobId.WorkType.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Job_Status</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Job Status&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!vgetjobId.Status}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Job_PD</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Job PD&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!vgetjobId.Project_Director__r.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!vgetjobId.Project_Director__r.LastName} &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Job_Data_Section_Header_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Original_Property_Name</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Original Property Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!vgetjobId.Property__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Original_Property_Number</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Original Property Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!vgetjobId.Property__r.Account_Number__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Job_Name</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Job Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!vgetjobId.Job_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Job_Branch</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Job Branch&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!vgetjobId.ServiceTerritory.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Job_BD</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255)); color: var(--lwc-colorTextWeak,rgb(68, 68, 68)); font-size: var(--lwc-fontSize3,0.8125rem); font-family: var(--lwc-fontFamily,-apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Helvetica, Arial, sans-serif, &amp;quot;Apple Color Emoji&amp;quot;, &amp;quot;Segoe UI Emoji&amp;quot;, &amp;quot;Segoe UI Symbol&amp;quot;);&quot;&gt;Job BD&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!vgetjobId.BD_Account_Manager__r.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!vgetjobId.BD_Account_Manager__r.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>vgetjobId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Can you change property to {!Property.selectedName} for job {!vgetjobId.WorkOrderNumber}</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SF/BOLT/NS - Property Change on Job {!vgetjobId.WorkOrderNumber} - {!vgetjobId.ServiceTerritory.Name}</text>
    </textTemplates>
    <variables>
        <name>jobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>propertyAccRecVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>propertyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
