force-app/main/default/flows/Change_Account_on_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Action</name>
        <label>Send Email Action</label>
        <locationX>1018</locationX>
        <locationY>890</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Email_Success</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>forT_Emailrecipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject_field</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Email_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_CAN_Store_Property_Account_Fields</name>
        <label>Assign CAN Store Property Account Fields</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Canada_Property.locality</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Canada_Property.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Canada_Property.postal_code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Canada_Property.fullStreetAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingStateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Canada_Property.administrative_area_level_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Account_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_US_Store_Property_Account_Fields</name>
        <label>Assign US Store Property Account Fields</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Property.locality</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Property.country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Property.postal_code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Property.fullStreetAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingStateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Property.administrative_area_level_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Account_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Determine_Account_Name</name>
        <label>Determine Account Name</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>propertyaccountnameformula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Property_Account_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Property_Account_Fields</name>
        <label>Store Property Account Fields</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Property_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Property_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Property_Account_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Work_Auth_PO__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Special_Concerns__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Pricing__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Portal__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_DFRs__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Broker__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Billing__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Adjusters__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_ACM_Testing__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Billing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Billing_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Contact_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Billing_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Contact_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Property_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Property_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Country</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CanadaChoice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Canada&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CAN</stringValue>
        </value>
    </choices>
    <choices>
        <name>USChoice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;United States&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>US</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Country</name>
        <label>Check Country?</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Determine_Account_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Canada_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CanadaChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_CAN_Store_Property_Account_Fields</targetReference>
            </connector>
            <label>Is Canada Decision</label>
        </rules>
        <rules>
            <name>Is_US_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>USChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_US_Store_Property_Account_Fields</targetReference>
            </connector>
            <label>Is US Country</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_New_Property_Decision</name>
        <label>Create New Property Decision</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Email_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New_Property_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Property</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Property</targetReference>
            </connector>
            <label>Create New Property_Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Org_Prod</name>
        <label>Is Org Prod?</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Org_Id_is_Production</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Organization.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00DOy000003H79p</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JobId</targetReference>
            </connector>
            <label>Org Id is Production</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forT_Emailrecipients</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!JobId.BD_Account_Manager__c}),&quot;&quot;,
{!JobId.BD_Account_Manager__r.Email} &amp; &quot;,&quot;)
&amp;
IF(
ISBLANK({!JobId.BD_Account_Manager_2__c}),&quot;&quot;,
{!JobId.BD_Account_Manager_2__r.Email} &amp; &quot;,&quot;)
&amp;
IF(
ISBLANK({!JobId.BD_Account_Manager_3__c}),&quot;&quot;,
{!JobId.BD_Account_Manager_3__r.Email} &amp;&quot;,&quot;)
&amp;
IF(
ISBLANK({!JobId.Project_Director__c}),&quot;&quot;,
{!JobId.Project_Director__r.Email} &amp;&quot;,&quot;)
&amp;
&quot;ithelp@firstonsite.com&quot;</expression>
    </formulas>
    <formulas>
        <name>propertyaccountnameformula</name>
        <dataType>String</dataType>
        <expression>{!propertyAccRecVar.ShippingStreet} &amp; &quot; &quot;
&amp; {!propertyAccRecVar.ShippingCity} &amp; &quot; &quot;
&amp; TEXT({!propertyAccRecVar.ShippingStateCode}) &amp; &quot; &quot;
&amp; {!propertyAccRecVar.ShippingPostalCode} 
&amp; IF(!ISBLANK({!propertyAccRecVar.Property_Name__c}),&quot;-&quot; &amp; {!propertyAccRecVar.Property_Name__c},&quot;&quot;) 
&amp; IF(!ISBLANK({!propertyAccRecVar.Property_Number__c}),&quot;-&quot; &amp; {!propertyAccRecVar.Property_Number__c}, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Change Account on Job {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Change Account on Job</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Property_Account_Record</name>
        <label>Create New Property Account Record</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>VR_Error_Message_0</targetReference>
        </faultConnector>
        <inputReference>propertyAccRecVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Property_Account_Record_Type</name>
        <label>Get Property Account Record Type</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Property_Account_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Property</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Account_Properties</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Accounts.selectedValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>JobId</name>
        <label>JobId</label>
        <locationX>666</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Display_Accounts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Account_Properties</name>
        <label>Display Account Properties</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_New_Property_Decision</targetReference>
        </connector>
        <fields>
            <name>Properties</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Properties</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Parent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>ParentId=&apos;{!GetAccount.Id}&apos; AND RecordType.DeveloperName=&apos;Property&apos; AND Active__c=true</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>No_Property_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;If you need to create a new property for this account, select the checkbox&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_New_Property</name>
            <dataType>Boolean</dataType>
            <fieldText>Create New Property?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Job_DataHeader2</name>
            <fieldText>Job Data</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Job_DataHeader2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Original_Account_Name_2</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Original Account Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!JobId.Account_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Original_Account_Number2</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Original Account Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!JobId.Account.Account_Number__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Job_Number_2</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Job Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!JobId.WorkOrderNumber}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Job_Type_2</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Job Type&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!JobId.WorkType.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Job_Status_2</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Job Status&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!JobId.Status}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Job_PD_2</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Job PD&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!JobId.Project_Director__r.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!JobId.Project_Director__r.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Job_DataHeader2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Original_Property_Name_2</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Original Property Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!JobId.Property__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Original_Property_Number2</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Original Property Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!JobId.Property__r.Account_Number__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Job_Name_2</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Job Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!JobId.Job_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Job_Branch_2</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Job Branch&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!JobId.ServiceTerritory.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Job_BD_2</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Job BD&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!JobId.BD_Account_Manager__r.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!JobId.BD_Account_Manager__r.LastName} &lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Accounts</name>
        <label>Display Accounts</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
        <fields>
            <name>Accounts</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>RecordType.DeveloperName =&apos;Account&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Job_Data</name>
            <fieldText>Job Data</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Job_Data_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Original_Account_Name</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Original Account Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!JobId.Account_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Original_Account_Number</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Original Account Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!JobId.Account.Account_Number__c}&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Job_Number</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Job Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!JobId.WorkOrderNumber}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Job_Type</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Job Type&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!JobId.WorkType.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Job_Status</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Job Status&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!JobId.Status}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Job_PD</name>
                    <fieldText>&lt;p&gt;{!JobId.Project_Director__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Job_PD_Display</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Job PD&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!JobId.Project_Director__r.FirstName}  {!JobId.Project_Director__r.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Job_Data_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Original_Property_Name</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Original Property Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!JobId.Property__r.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Original_Property_Number</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Original Property Number&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!JobId.Property__r.Account_Number__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Job_Name</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Job Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!JobId.Job_Name__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Job_Branch</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Job Branch&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!JobId.ServiceTerritory.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Job_BD</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Job BD&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!JobId.BD_Account_Manager__r.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!JobId.BD_Account_Manager__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Screen</name>
        <label>Email Screen</label>
        <locationX>1018</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Email_Action</targetReference>
        </connector>
        <fields>
            <name>Subject_field</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Subject</elementReference>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email_Body</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>EmailBody</elementReference>
            </defaultValue>
            <fieldText>Email Body</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Click to Send Email</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Email_Success</name>
        <label>Email Success</label>
        <locationX>1018</locationX>
        <locationY>998</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Email_Successful</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Your email has been sent successfully and a post has been made to the chatter feed on this Job.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 25, 25); background-color: rgb(255, 255, 255);&quot;&gt;Important: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;You should receive an email confirmation in the next few minutes from the IT Service Desk letting you know an incident has been opened on your behalf. If you do not receive this confirmation, please reach out directly to the Salesforce Team by sending an email to ithelp@firstonsite.com with Salesforce in the subject line.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Property</name>
        <label>New Property</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Property_Account_Record_Type</targetReference>
        </connector>
        <fields>
            <name>New_Property_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Property_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Property_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Property Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Property_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Property Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Select_Country</name>
                    <choiceReferences>USChoice</choiceReferences>
                    <choiceReferences>CanadaChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>USChoice</defaultSelectedChoiceReference>
                    <fieldText>Select Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Create_Property</name>
                    <extensionName>c:AddressValidation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>maxSuggestion</name>
                        <value>
                            <numberValue>8.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>countryISO</name>
                        <value>
                            <stringValue>USA</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>dataset</name>
                        <value>
                            <stringValue>us-address</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Country</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>USChoice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Create_Canada_Property</name>
                    <extensionName>c:AddressValidation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>maxSuggestion</name>
                        <value>
                            <numberValue>8.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>countryISO</name>
                        <value>
                            <stringValue>CAN</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>dataset</name>
                        <value>
                            <stringValue>ca-address</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Country</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CanadaChoice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Property_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Billing_Contact</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetAccount.Billing_Contact__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing Contact</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Billing_Contact_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>GetAccount.Billing_Email__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Billing_Contact_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>GetAccount.Billing_Phone__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>314</locationX>
        <locationY>1622</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Display_Account_Properties</targetReference>
        </connector>
        <fields>
            <name>Congratulations_Text</name>
            <fieldText>&lt;p&gt;Congratulations!  Your property has been created.  Click the Next button to get to your next screen.  Click in Property field to select your new property.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VR_Error_Message_0</name>
        <label>VR Error Message</label>
        <locationX>754</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_0</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(237, 10, 10); background-color: rgb(255, 255, 255);&quot;&gt;You might have tried to create a duplicate Property.  If so then click the Previous button to reenter the property&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Org_Prod</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Can you change account to {!Accounts.selectedName} and property to {!Properties.selectedName} for Job {!JobId.WorkOrderNumber}?
If you are receiving this email, you are a Key Team Member on this job and you are being notified that this Job is changing Accounts.</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>SF/BOLT/NS - Account/Property Change on Job {!JobId.WorkOrderNumber} -  {!JobId.ServiceTerritory.Name}</text>
    </textTemplates>
    <variables>
        <name>propertyAccRecVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
