force-app/main/default/flows/Contact_Create_Update_Before_Save_Common.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Set_Address_Values</name>
        <label>Set Address Values</label>
        <locationX>242</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_Zip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.MailingCountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_Country</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>DataAdmin_Bypass_Flow</name>
        <label>DataAdmin Bypass Flow?</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Evaluate_Update_Address_with_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Nothing</defaultConnectorLabel>
        <rules>
            <name>Bypass_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.DataAdmin__c.TurnOffFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypass_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Update_Address_with_Account</name>
        <label>Evaluate Update Address with Account</label>
        <locationX>374</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Do Nothing</defaultConnectorLabel>
        <rules>
            <name>Account_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Update_Address_with_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Address_Values</targetReference>
            </connector>
            <label>Account_Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forT_City</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Account.BillingCity}),{!$Record.Account.ShippingCity},{!$Record.Account.BillingCity})</expression>
    </formulas>
    <formulas>
        <name>forT_Country</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Account.BillingCountry}),{!$Record.Account.ShippingCountry},{!$Record.Account.BillingCountry})</expression>
    </formulas>
    <formulas>
        <name>forT_State</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Account.BillingState}),{!$Record.Account.ShippingState},{!$Record.Account.BillingState})</expression>
    </formulas>
    <formulas>
        <name>forT_Street</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Account.BillingStreet}),{!$Record.Account.ShippingStreet},{!$Record.Account.BillingStreet})</expression>
    </formulas>
    <formulas>
        <name>forT_Zip</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Account.BillingPostalCode}),{!$Record.Account.ShippingPostalCode},{!$Record.Account.BillingPostalCode})</expression>
    </formulas>
    <interviewLabel>Contact - Create Update - Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact - Create Update - Before Save - Common</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DataAdmin_Bypass_Flow</targetReference>
        </connector>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
