force-app/main/default/flows/Contract_Create_Update_After_Save_CWA_Job_LifeCycle_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>CWA_Executed</name>
        <label>CWA Executed</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>varR_Job.CWA_Lifecycle_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Executed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Job.CWA_Executed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forDT_Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Job.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job_to_Update.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Job_with_CWA_Lifecycle_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CWA_Signatory</name>
        <label>CWA Signatory</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>varR_Job.CWA_Lifecycle_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Signatory</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Job.CWA_Signatory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forDT_Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Job.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job_to_Update.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Job_with_CWA_Lifecycle_Info</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Job</name>
        <label>Update Job</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varR_Job.Historical_Number_of_Bolt_CWA_Requests__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forN_HistoricalNumberOfBoltCwaRequests</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Job.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job_to_Update.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Status_Change</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_New_CWA</name>
        <label>Is New CWA?</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Is_Status_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Increment_Number_of_CWA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forB_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Job</targetReference>
            </connector>
            <label>Increment Number of CWA</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_Change</name>
        <label>Is Status Change?</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Update_Job_with_CWA_Lifecycle_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Changed_to_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CWA_Signatory</targetReference>
            </connector>
            <label>Changed to Approved?</label>
        </rules>
        <rules>
            <name>Changed_to_Executed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CWA_Executed</targetReference>
            </connector>
            <label>Changed to Executed</label>
        </rules>
    </decisions>
    <description>This stamps CWA lifecycle information on the Contract&apos;s associated CWA Job</description>
    <environments>Default</environments>
    <formulas>
        <name>forB_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>forDT_Now</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <formulas>
        <name>forN_HistoricalNumberOfBoltCwaRequests</name>
        <dataType>Number</dataType>
        <expression>{!Get_Job_to_Update.Historical_Number_of_Bolt_CWA_Requests__c} + 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Contract - Create Update - After Save - CWA Job LifeCycle Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract - Create Update - After Save - CWA Job LifeCycle Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Job_to_Update</name>
        <label>Get Job to Update</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_New_CWA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Historical_Number_of_Bolt_CWA_Requests__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Job_with_CWA_Lifecycle_Info</name>
        <label>Update Job with CWA Lifecycle Info</label>
        <locationX>314</locationX>
        <locationY>1031</locationY>
        <inputReference>varR_Job</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Job_to_Update</targetReference>
        </connector>
        <filterFormula>{!$Record.Job__r.IC_Bolt_CWA__c} = true &amp;&amp; NOT({!$Setup.DataAdmin__c.TurnOffFlow__c}) &amp;&amp; (ISNEW() || ISCHANGED({!$Record.Status}))</filterFormula>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_Job</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
