force-app/main/default/flows/Contract_Create_Update_Before_Save_Common.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Any_Contract_Executed</name>
        <label>Any Contract Executed?</label>
        <locationX>374</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Executed_No</defaultConnectorLabel>
        <rules>
            <name>Executed_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forB_ExecutedStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_Executed</targetReference>
            </connector>
            <label>Executed_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Bypass_Data_Admin</name>
        <label>Bypass Data Admin</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>CO_or_SOWC_has_file</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bypass_No</defaultConnectorLabel>
        <rules>
            <name>Bypass_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forB_DataAdmin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypass_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CO_or_SOWC_has_file</name>
        <label>CO or SOWC has file</label>
        <locationX>374</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Any_Contract_Executed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>File_No</defaultConnectorLabel>
        <rules>
            <name>File_Yes</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Number_of_Files__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Number_of_Files__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change Order</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Statement of Work Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Complete</targetReference>
            </connector>
            <label>File_Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forB_DataAdmin</name>
        <dataType>Boolean</dataType>
        <expression>{!$Setup.DataAdmin__c.TurnOffFlow__c}</expression>
    </formulas>
    <formulas>
        <name>forB_ExecutedStatus</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISCHANGED({!$Record.Status}),
CONTAINS(TEXT({!$Record.Status}),&quot;Executed&quot;) 
)</expression>
    </formulas>
    <formulas>
        <name>forD_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>forDT_Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Contract-Create Update-Before Save-Common {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deprecate Contract-Create Update-Before Save-Common</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Date_Executed</name>
        <label>Date Executed</label>
        <locationX>242</locationX>
        <locationY>803</locationY>
        <connector>
            <targetReference>Date_Fully_Executed</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Executed__c</field>
            <value>
                <elementReference>forDT_Now</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Date_Fully_Executed</name>
        <label>Date Fully Executed</label>
        <locationX>242</locationX>
        <locationY>911</locationY>
        <inputAssignments>
            <field>Date_Fully_Executed__c</field>
            <value>
                <elementReference>$Record.Date_Executed__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Status_Complete</name>
        <label>Status Complete</label>
        <locationX>242</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Any_Contract_Executed</targetReference>
        </connector>
        <inputAssignments>
            <field>Date_Fully_Executed__c</field>
            <value>
                <elementReference>forD_Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_Data_Admin</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
