force-app/main/default/flows/Contract_Subflow_Pass_Files_to_Jobs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>add_Single_Content_Document_Link_for_Jobs_to_Collection</name>
        <label>add Single Content Document Link for Jobs to Collection</label>
        <locationX>264</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varC_Content_Document_Links_for_Jobs_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_Single_Content_Document_Link_for_Job</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Content_Document_Links_from_Contract</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Content_Document_IDs_on_Job_Collection</name>
        <label>Add to Content Document IDs on Job Collection</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varC_Content_Document_IDs_from_Job</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Content_Document_Links_from_Job.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Content_Document_Links_from_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>create_Single_Content_Document_Link_for_Job</name>
        <label>create Single Content Document Link for Job</label>
        <locationX>264</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>varR_Single_Content_Document_Link_for_Job.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Content_Document_Links_from_Contract.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Single_Content_Document_Link_for_Job.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_JobId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Single_Content_Document_Link_for_Job.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Content_Document_Links_from_Contract.ShareType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Single_Content_Document_Link_for_Job.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Content_Document_Links_from_Contract.Visibility</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_Single_Content_Document_Link_for_Jobs_to_Collection</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Contract - Subflow - Pass Files to Jobs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract - Subflow - Pass Files to Jobs</label>
    <loops>
        <name>loop_Content_Document_Links_from_Contract</name>
        <label>loop Content Document Links from Contract</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <collectionReference>get_Content_Document_Links_from_Contract</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>create_Single_Content_Document_Link_for_Job</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_Content_Document_Links_for_Job</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Content_Document_Links_from_Job</name>
        <label>loop Content Document Links from Job</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>get_Content_Document_Links_from_Job</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Content_Document_IDs_on_Job_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Content_Document_Links_from_Contract</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_Content_Document_Links_for_Job</name>
        <label>create Content Document Links for Job</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <inputReference>varC_Content_Document_Links_for_Jobs_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Content_Document_Links_from_Contract</name>
        <label>get Content Document Links from Contract</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Content_Document_Links_from_Contract</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>varC_Content_Document_IDs_from_Job</elementReference>
            </value>
        </filters>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_ContractId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>ContentDocumentId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Content_Document_Links_from_Job</name>
        <label>get Content Document Links from Job</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Content_Document_Links_from_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_JobId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>ContentDocumentId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Content_Document_Links_from_Job</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Content_Document_Links_on_Jobs</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varC_Content_Document_IDs_from_Job</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varC_Content_Document_Links_for_Jobs_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varR_Single_Content_Document_Link_for_Job</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varT_ContractId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_JobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
