force-app/main/default/flows/Create_Job_for_New_or_Existing_Account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_Record_Id</name>
        <label>Set Record Id</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Name_Lookup.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>One_Screen_Flow</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>CanadaChoice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Canada&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CAN</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>USChoice</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;United States&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>US</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_Account1</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Account_Existing</name>
        <label>Account Existing</label>
        <locationX>842</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Did_you_find_the_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Name_Lookup.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Record_Id</targetReference>
            </connector>
            <label>Account Already Exists</label>
        </rules>
        <rules>
            <name>Create_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_Name_Lookup.selectedValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Account</targetReference>
            </connector>
            <label>Create Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Country</name>
        <label>Check Country?</label>
        <locationX>842</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Canada_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CanadaChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CAN_New_Account</targetReference>
            </connector>
            <label>Is Canada Decision</label>
        </rules>
        <rules>
            <name>Is_US_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>USChoice</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Account_from_Screen</targetReference>
            </connector>
            <label>Is US Country</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_New_Account_CheckBox</name>
        <label>Create New Account_CheckBox</label>
        <locationX>842</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_New_CB_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Account_CB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Create_New_Account</targetReference>
            </connector>
            <label>Create New CB=True</label>
        </rules>
        <rules>
            <name>Create_New_Account_CB_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_New_Account_CB</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Create New Account CB=False</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Acct_Conversion_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Conversion_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_DecisionMakingStructure</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Decision_Making_Structure__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>picChoice_NationalAccount</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>National_Account__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status_Account</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>PropAccountNameFormula</name>
        <dataType>String</dataType>
        <expression>{!BillingAddress.fullStreetAddress} &amp; &quot;- &quot;
&amp; {!BillingAddress.locality}&amp; &quot;, &quot;
&amp; {!BillingAddress.administrative_area_level_1} &amp; &quot; &quot;
&amp; {!BillingAddress.postal_code}
&amp; IF(!ISBLANK({!Property_Name}),&quot; -&quot; &amp; {!Property_Name},&quot;&quot;) 
&amp; IF(!ISBLANK({!Property_Number}),&quot; -&quot; &amp; {!Property_Number},&quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Create Job for New or Existing Account {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Create Job for New or Existing Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CAN_New_Account</name>
        <label>Create CAN New Account</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_CAN_New_Property_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CAN_Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BD_Account_Manager_2__c</field>
            <value>
                <elementReference>BD_Account_Manager_2.selectedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>BillingCanadaAddress.locality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountryCode</field>
            <value>
                <elementReference>BillingCanadaAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>BillingCanadaAddress.postal_code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStateCode</field>
            <value>
                <elementReference>BillingCanadaAddress.administrative_area_level_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>BillingCanadaAddress.fullStreetAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <elementReference>Contract_Type.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_Making_Structure__c</field>
            <value>
                <elementReference>Decision_Making_Structure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drive_Down_Plan_in_Place__c</field>
            <value>
                <elementReference>Drive_Down_DP.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drive_Down__c</field>
            <value>
                <elementReference>Drive_Down_DP.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>National_Account__c</field>
            <value>
                <elementReference>National_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_Status__c</field>
            <value>
                <elementReference>Contract_Type.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Parent_Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121U000000b3ytQAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subvertical__c</field>
            <value>
                <elementReference>Vertical_DP.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vertical__c</field>
            <value>
                <elementReference>Vertical_DP.topValue</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_CAN_New_Property_Account</name>
        <label>Create CAN New Property Account</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>One_Screen_Flow</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PropAccountNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Name__c</field>
            <value>
                <elementReference>Property_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Number__c</field>
            <value>
                <elementReference>Property_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121U000000bHywQAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>BillingCanadaAddress.locality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountryCode</field>
            <value>
                <elementReference>BillingCanadaAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>BillingCanadaAddress.postal_code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStateCode</field>
            <value>
                <elementReference>BillingCanadaAddress.administrative_area_level_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>BillingCanadaAddress.fullStreetAddress</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Account_from_Screen</name>
        <label>Create New Account</label>
        <locationX>842</locationX>
        <locationY>878</locationY>
        <assignRecordIdToReference>recordId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_New_Property_Account</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Message</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>BD_Account_Manager_2__c</field>
            <value>
                <elementReference>BD_Account_Manager_2.selectedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>BillingAddress.locality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountryCode</field>
            <value>
                <elementReference>BillingAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>BillingAddress.postal_code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStateCode</field>
            <value>
                <elementReference>BillingAddress.administrative_area_level_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>BillingAddress.fullStreetAddress</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract_Type__c</field>
            <value>
                <elementReference>Contract_Type.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_Making_Structure__c</field>
            <value>
                <elementReference>Decision_Making_Structure</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drive_Down_Plan_in_Place__c</field>
            <value>
                <elementReference>Drive_Down_DP.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drive_Down__c</field>
            <value>
                <elementReference>Drive_Down_DP.topValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>National_Account__c</field>
            <value>
                <elementReference>National_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PO_Status__c</field>
            <value>
                <elementReference>Contract_Type.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Parent_Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121U000000b3ytQAA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subvertical__c</field>
            <value>
                <elementReference>Vertical_DP.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vertical__c</field>
            <value>
                <elementReference>Vertical_DP.topValue</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Property_Account</name>
        <label>Create New Property Account</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>One_Screen_Flow</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PropAccountNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Name__c</field>
            <value>
                <elementReference>Property_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Property_Number__c</field>
            <value>
                <elementReference>Property_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121U000000bHywQAE</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCity</field>
            <value>
                <elementReference>BillingAddress.locality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingCountryCode</field>
            <value>
                <elementReference>BillingAddress.country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingPostalCode</field>
            <value>
                <elementReference>BillingAddress.postal_code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStateCode</field>
            <value>
                <elementReference>BillingAddress.administrative_area_level_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ShippingStreet</field>
            <value>
                <elementReference>BillingAddress.fullStreetAddress</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Existing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_Name_Lookup.selectedValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>CAN_Error_Message</name>
        <label>CAN Error Message</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Error_Message_Duplicate</name>
            <fieldText>&lt;p&gt;Please read the error below highlighted in orange.  Play close attention to the error after the phrase &lt;b style=&quot;font-family: Calibri, sans-serif; font-size: 12px;&quot;&gt;FIELD_CUSTOM_VALIDATION_EXCEPTION&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 143, 8);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To fix the errors, click the previous button to go back into the field(s) that need attention. Then, click the Next button to complete the creation of the job.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_New_Account</name>
        <label>Create New Account</label>
        <locationX>842</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_Country</targetReference>
        </connector>
        <fields>
            <name>Create_New_Account_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_New_Account_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Account Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Account_Status</name>
                    <choiceReferences>Status_Account</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Prospect</stringValue>
                    </defaultValue>
                    <fieldText>Account Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Property_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Property Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif; color: rgb(62, 62, 60);&quot;&gt;“Please enter the Name of the Building. For example, the “Chrysler Building” is an example of a Property Name.”&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Property_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Property Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;“Please enter the Store Number here. For example, Home Depot has a store number #265 for a specific location. The Suite # or Apartment # goes into the Damage Description section”&lt;/span&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Parent_Account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Parent Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>WorkOrder</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>National_Account</name>
                    <choiceReferences>picChoice_NationalAccount</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>National Account</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Decision_Making_Structure</name>
                    <choiceReferences>Choice_DecisionMakingStructure</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Decision Making Structure</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Contract_Type</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Contract_Type__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>PO_Status__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Contract Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>PO Status</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <stringValue>CWA Only</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>bottomPicklistApiName</name>
                        <value>
                            <stringValue>T_M_Rate_Sheet_Year__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>bottomLabel</name>
                        <value>
                            <stringValue>T&amp;M Rate Sheet Year</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>bottomValue</name>
                        <value>
                            <stringValue>Client-specific </stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_New_Account_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Vertical_DP</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Vertical__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Subvertical__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Subvertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Drive_Down_DP</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Drive_Down__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Drive_Down_Plan_in_Place__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Drive Down</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Drive Down Plan in Place</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <stringValue>No</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>BD_Account_Manager_2</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>BD Account Manager 2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>Account_Name_Lookup.selectedValue</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>User_Title_Flow__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Select_Country</name>
                    <choiceReferences>USChoice</choiceReferences>
                    <choiceReferences>CanadaChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>USChoice</defaultSelectedChoiceReference>
                    <fieldText>Select Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>BillingAddress</name>
                    <extensionName>c:AddressValidation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>titleLabel</name>
                        <value>
                            <stringValue>Property Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxSuggestion</name>
                        <value>
                            <numberValue>8.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>countryISO</name>
                        <value>
                            <stringValue>USA</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>dataset</name>
                        <value>
                            <stringValue>us-address</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Country</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>USChoice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>BillingCanadaAddress</name>
                    <extensionName>c:AddressValidation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>maxSuggestion</name>
                        <value>
                            <numberValue>8.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>titleLabel</name>
                        <value>
                            <stringValue>Property Address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>countryISO</name>
                        <value>
                            <stringValue>CAN</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>dataset</name>
                        <value>
                            <stringValue>ca-address</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Select_Country</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>CanadaChoice</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message_Duplicate</name>
            <fieldText>&lt;p&gt;Please read the error below highlighted in orange.  Play close attention to the error after the phrase &lt;b style=&quot;font-family: Calibri, sans-serif; font-size: 12px;&quot;&gt;FIELD_CUSTOM_VALIDATION_EXCEPTION&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 143, 8);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To fix the errors, click the previous button to go back into the field(s) that need attention. Then, click the Next button to complete the creation of the job.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Find_Account</name>
        <label>Find Account</label>
        <locationX>842</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Account_CheckBox</targetReference>
        </connector>
        <fields>
            <name>CreateAccountScript</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <elementReference>CreateAccountScriptText</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Account_Name_Lookup</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>RecordType.DeveloperName =&apos;Account&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <elementReference>Get_Account.RecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Create_New_Account_CB</name>
            <dataType>Boolean</dataType>
            <fieldText>Create New Account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>One_Screen_Flow</name>
        <label>One Screen Flow</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <flowName>New_Job_Flow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>CreateAccountScriptText</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Please search for the account first. If found, select it and hit the next button. If not found, select the Create New Account button and hit next.</text>
    </textTemplates>
    <textTemplates>
        <name>No_Account</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;No&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Yes</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Yes&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Yes_Account</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Yes&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Yes_Acct</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Yes&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>NewRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
