force-app/main/default/flows/EmailMessage_Task_Type_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Create_Task_Record</name>
        <label>Create Task Record</label>
        <locationX>267</locationX>
        <locationY>660</locationY>
        <assignmentItems>
            <assignToReference>TaskRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskRecord.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Task_with_Type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Has_Task_Id</name>
        <label>Has Task Id?</label>
        <locationX>393</locationX>
        <locationY>418</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Assign_Task_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActivityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task</targetReference>
            </connector>
            <label>Assign Task Record</label>
        </rules>
    </decisions>
    <description>Updates the Task Type to Email of a Task created as a part of an Email Message</description>
    <interviewLabel>EmailMessage Task Type Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmailMessage Task Type Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>267</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Task_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ActivityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates Task to have an Email Type</description>
        <name>Update_Task_with_Type</name>
        <label>Update Task with Type</label>
        <locationX>266</locationX>
        <locationY>815</locationY>
        <inputReference>TaskRecord</inputReference>
    </recordUpdates>
    <start>
        <locationX>275</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Has_Task_Id</targetReference>
        </connector>
        <object>EmailMessage</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>TaskRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
