force-app/main/default/flows/Employee_Commission_Subflow_Sum_All_Related_Employee_Comission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Job_Commission_Values</name>
        <label>Assign Job Commission Values</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Total_Exception_Commission_Payments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varC_TotalExceptionCommisionAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Total_Commission_Payments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varC_TotalCommissionPayments</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Calculate_Job_Commissions_Total_Exception_Commission_Amount</name>
        <label>Calculate Job Commissions Total Exception Commission Amount</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varC_TotalExceptionCommisionAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Employee_Commission.Exception_Commission_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varC_TotalCommissionPayments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Employee_Commission.Total_Commission_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Employee_Commission</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Employee Commission - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employee Commission -Subflow - Sum All Related Employee Comission</label>
    <loops>
        <name>Loop_All_Employee_Commission</name>
        <label>Loop All Employee Commission</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_All_Employee_Commissions_related_to_the_Employee_Commission_s_Job_Commission</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calculate_Job_Commissions_Total_Exception_Commission_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Job_Commission_Values</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Employee_Commissions_related_to_the_Employee_Commission_s_Job_Commission</name>
        <label>Get All Employee Commissions related to the Employee Commission’s Job Commission</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_All_Employee_Commission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job_Commission__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_EmployeeCommission.Job_Commission__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employee_Commission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_Employee_Commissions_related_to_the_Employee_Commission_s_Job_Commission</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varC_TotalCommissionPayments</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varC_TotalExceptionCommisionAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varR_EmployeeCommission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee_Commission__c</objectType>
    </variables>
    <variables>
        <name>varR_JobCommission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Job_Commission__c</objectType>
    </variables>
</Flow>
