force-app/main/default/flows/Employee_Commission_Before_Save_CU_Common.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Employee_Commission_Fields</name>
        <label>Assign Employee Commission Fields</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Exception_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Total_Commission_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_TotalCommissionAmount</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Employee_Commission_Fields</name>
        <label>Assign Employee Commission Fields</label>
        <locationX>314</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Exception_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Total_Commission_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Actual_Commission_Amount__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Defaults</name>
        <label>Set Defaults</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Employee_Commission_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_ExternalId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Actual_DepositFirst_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_ActualDepositFirstPaymentAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Actual_Quick_Collection_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_ActualQuickCollectionAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Actual_Slow_Collection_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_ActualSlowCollection</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Default_DepositFirst_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_DefaultDepositFirstPaymentAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Default_Quick_Collection_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_DefaultQuickCollectionAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Default_Slow_Collection_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_DefaultSlowCollectionAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Default_Commission_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_DefaultCommissionAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Actual_Commission_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_ActualCommissionAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Update_Employee_Commission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Job_Commission__r.Job__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Employee_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_EmployeeName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Job_Associate_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_JobAssociateId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Associate_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Employee__r.Associate_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Exception_Commission_Amount_Not_Null</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>con_No</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </constants>
    <constants>
        <name>con_Yes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Exception_Commission_Amount_Not_Null</name>
        <label>Check Exception Commission Amount Not Null</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Employee_Commission_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Check_Exception_Commission_Amount_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Exception_Commission_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Exception_Commission_Amount__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Employee_Commission_Fields</targetReference>
            </connector>
            <label>Yes?</label>
        </rules>
    </decisions>
    <description>STAR-6504 Sets the exception payment field on employee commission.</description>
    <environments>Default</environments>
    <formulas>
        <name>forC_ActualCommissionAmount</name>
        <dataType>Currency</dataType>
        <expression>IF(TEXT({!$Record.Job_Commission__r.Actual_Commissionable__c})={!con_Yes} &amp;&amp; TEXT({!$Record.Job_Commission__r.Actual_Commissionable__c}) = {!con_Yes}, 
  (
        {!$Record.Job_Commission__r.Actual_Deposit_1st_Payment_Incentive__c} + 
        {!$Record.Job_Commission__r.Actual_Quick_Collection_Incentive__c} +
        {!$Record.Job_Commission__r.Actual_Slow_Collection_Incentive__c}
)
    /100.0000 * {!$Record.Job_Commission__r.Split_Multiplier__c} * {!$Record.Job_Commission__r.Job_Amount__c} * 
  {!$Record.Individual_Split_Percentage__c}/ 100.0000 ,
 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forC_ActualDepositFirstPaymentAmount</name>
        <dataType>Currency</dataType>
        <expression>IF(TEXT({!$Record.Job_Commission__r.Actual_DepositFirst_Payment_Met__c})={!con_Yes} &amp;&amp; TEXT({!$Record.Job_Commission__r.Actual_Commissionable__c}) = {!con_Yes},  
     {!$Record.Individual_Split_Percentage__c}/100.0000 * {!$Record.Job_Commission__r.Job_Amount__c} * 
    {!$Record.Job_Commission__r.Split_Multiplier__c} * 
   {!$Record.Job_Commission__r.Actual_Deposit_1st_Payment_Incentive__c} / 100.0000
, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forC_ActualQuickCollectionAmount</name>
        <dataType>Currency</dataType>
        <expression>IF(TEXT({!$Record.Job_Commission__r.Actual_Quick_Collection_Met__c}) = {!con_Yes} &amp;&amp; TEXT({!$Record.Job_Commission__r.Actual_Commissionable__c}) = {!con_Yes}, 
 {!$Record.Job_Commission__r.Split_Multiplier__c} * {!$Record.Job_Commission__r.Job_Amount__c}* {!$Record.Job_Commission__r.Actual_Quick_Collection_Incentive__c}/100 * {!$Record.Individual_Split_Percentage__c} / 100, 
0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forC_ActualSlowCollection</name>
        <dataType>Currency</dataType>
        <expression>IF(TEXT({!$Record.Job_Commission__r.Actual_Slow_Collection_Met__c}) = {!con_Yes} &amp;&amp; TEXT({!$Record.Job_Commission__r.Actual_Commissionable__c}) = {!con_Yes},  
{!$Record.Job_Commission__r.Split_Multiplier__c} * {!$Record.Job_Commission__r.Job_Amount__c} * {!$Record.Job_Commission__r.Actual_Slow_Collection_Incentive__c}/100 *{!$Record.Individual_Split_Percentage__c} / 100, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forC_DefaultCommissionAmount</name>
        <dataType>Currency</dataType>
        <expression>IF(TEXT({!$Record.Job_Commission__r.Default_Commissionable__c}) = {!con_Yes} &amp;&amp; TEXT({!$Record.Job_Commission__r.Default_Commissionable__c}) = {!con_Yes}, 
(
        {!$Record.Job_Commission__r.Default_Deposit_1st_Payment_Incentive__c} +
        {!$Record.Job_Commission__r.Default_Quick_Collection_Incentive__c} +
        {!$Record.Job_Commission__r.Default_Slow_Collection_Incentive__c}
    )/100 * {!$Record.Job_Commission__r.Job_Amount__c} *{!$Record.Job_Commission__r.Split_Multiplier__c} *  {!$Record.Individual_Split_Percentage__c} / 100
, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forC_DefaultDepositFirstPaymentAmount</name>
        <dataType>Currency</dataType>
        <expression>IF(TEXT({!$Record.Job_Commission__r.Default_DepositFirst_Payment_Met__c}) = {!con_Yes} &amp;&amp; TEXT({!$Record.Job_Commission__r.Default_Commissionable__c}) = {!con_Yes}, 
{!$Record.Job_Commission__r.Split_Multiplier__c} * {!$Record.Job_Commission__r.Job_Amount__c} *{!$Record.Job_Commission__r.Default_Deposit_1st_Payment_Incentive__c}/ 100* {!$Record.Individual_Split_Percentage__c}/ 100
, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forC_DefaultQuickCollectionAmount</name>
        <dataType>Currency</dataType>
        <expression>IF(TEXT({!$Record.Job_Commission__r.Default_Quick_Collection_Met__c})={!con_Yes} &amp;&amp; TEXT({!$Record.Job_Commission__r.Default_Commissionable__c})={!con_Yes} , {!$Record.Job_Commission__r.Split_Multiplier__c} * {!$Record.Job_Commission__r.Job_Amount__c} * {!$Record.Individual_Split_Percentage__c}/100 * {!$Record.Job_Commission__r.Default_Quick_Collection_Incentive__c} / 100
, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forC_DefaultSlowCollectionAmount</name>
        <dataType>Currency</dataType>
        <expression>IF(TEXT({!$Record.Job_Commission__r.Default_Slow_Collection_Met__c}) = {!con_Yes} &amp;&amp; TEXT({!$Record.Job_Commission__r.Default_Commissionable__c}) = {!con_Yes} , 
{!$Record.Job_Commission__r.Split_Multiplier__c} * {!$Record.Job_Commission__r.Job_Amount__c} *{!$Record.Job_Commission__r.Default_Slow_Collection_Incentive__c}/100 * {!$Record.Individual_Split_Percentage__c}/ 100
, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forC_TotalCommissionAmount</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Actual_Commission_Amount__c} + {!$Record.Exception_Commission_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forT_EmployeeName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Employee__r.FirstName} + &quot; &quot; + {!$Record.Employee__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>forT_ExternalId</name>
        <dataType>String</dataType>
        <expression>{!$Record.Job_Commission__r.Name} + &apos;-&apos; + {!$Record.Employee__r.ADP_Associate_OID__c}</expression>
    </formulas>
    <formulas>
        <name>forT_JobAssociateId</name>
        <dataType>String</dataType>
        <expression>{!$Record.Job__r.WorkOrderNumber} + &apos;-&apos; + {!$Record.Employee__r.Associate_Id__c}</expression>
    </formulas>
    <formulas>
        <name>forT_Name</name>
        <dataType>String</dataType>
        <expression>{!$Record.Job_Commission__r.Name} + &apos;-&apos; + {!$Record.Employee__r.LastName} + &apos;, &apos; + {!$Record.Employee__r.FirstName}</expression>
    </formulas>
    <formulas>
        <name>forT_OwnerId</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Employee__r.Profile.UserLicense.Name}= &apos;Chatter Free&apos;, {!Get_Salesforce_Admin_User.Id}, {!$Record.Employee__c})</expression>
    </formulas>
    <formulas>
        <name>forT_Status</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$Record.Job_Commission__r.Commission_Status__c}) = &apos;Finalized&apos; &amp;&amp;
   (TEXT({!$Record.Status__c}))&lt;&gt;&apos;Paid&apos;,
    &apos;Finalized&apos;, 
    TEXT({!$Record.Status__c})
)</expression>
    </formulas>
    <interviewLabel>Employee Commission - Before Save CU - Common {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employee Commission - Before Save CU - Common</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Salesforce_Admin_User</name>
        <label>Get Salesforce Admin User</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Defaults</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Alias</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>sfadmin</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Salesforce_Admin_User</targetReference>
        </connector>
        <filterFormula>NOT({!$Setup.DataAdmin__c.TurnOffFlow__c}) &amp;&amp;
TEXT({!$Record.Status__c}) &lt;&gt; &apos;Paid&apos;</filterFormula>
        <object>Employee_Commission__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
