force-app/main/default/flows/EmployeeCommissionCal_Subflow_InitializeEmployeeCommissions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Initialize_Employee_Commission</name>
        <label>Initialize Employee Commission</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varR_EmployeeCommission.Job_Commission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_JobCommission.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_EmployeeCommission.Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Commissionable_Sales_Users.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_EmployeeCommissions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_EmployeeCommission</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Commissionable_Sales_Users</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Employee_Commissions</name>
        <label>Set Employee Commissions</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>varR_EmployeeCommissions</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Auto_Calculate_Splits.varR_OutgoingEmployeeCommissions</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>STAR-6212 Initialize the creation of Employee Commissions</description>
    <environments>Default</environments>
    <interviewLabel>EmployeeCommissionCal-Subflow-InitializeEmployeeCommissions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmployeeCommissionCal-Subflow-InitializeEmployeeCommissions</label>
    <loops>
        <name>Loop_Through_Commissionable_Sales_Users</name>
        <label>Loop Through Commissionable Sales Users</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Commissionable_Sales_Users.varR_SalesCommissionableUsers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Initialize_Employee_Commission</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Auto_Calculate_Splits</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Commissionable_Sales_Users</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Auto_Calculate_Splits</name>
        <label>Auto Calculate Splits</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Set_Employee_Commissions</targetReference>
        </connector>
        <flowName>EmployeeCommissionCal_Subflow_CalculateAutoSplits</flowName>
        <inputAssignments>
            <name>varR_IncomingEmployeeCommissions</name>
            <value>
                <elementReference>varR_EmployeeCommissions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_JobCommission</name>
            <value>
                <elementReference>varR_JobCommission</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Commissionable_Sales_Users</name>
        <label>Get Commissionable Sales Users</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Loop_Through_Commissionable_Sales_Users</targetReference>
        </connector>
        <flowName>User_Subflow_Get_Commissionable_Sales_Users</flowName>
        <inputAssignments>
            <name>varR_Job</name>
            <value>
                <elementReference>varR_Job</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varR_EmployeeCommission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee_Commission__c</objectType>
    </variables>
    <variables>
        <name>varR_EmployeeCommissions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Employee_Commission__c</objectType>
    </variables>
    <variables>
        <name>varR_Job</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>varR_JobCommission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Commission__c</objectType>
    </variables>
</Flow>
