force-app/main/default/flows/EmployeeCommissionCal_Subflow_ConfigureMultiplierCommissionParameters.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Set_Multiplier_Based_on_Number_of_Commissionable_Employees</name>
        <label>Set Multiplier Based on Number of Commissionable Employees</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>CommissionMultiplierConfigurationInvoker</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_Multiplier_Info</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jobCommissionLst</name>
            <value>
                <elementReference>varR_JobCommission</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CommissionMultiplierConfigurationInvoker</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Multiplier_Info</name>
        <label>Assign Multiplier Info</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCommission</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Multiplier_Based_on_Number_of_Commissionable_Employees</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>STAR-5564 Configure the multiplier for a job commission based on the number of employee commissions</description>
    <environments>Default</environments>
    <interviewLabel>EmployeeCommissionCal-Subflow- {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmployeeCommissionCal-Subflow-ConfigureMultiplierCommissionParameters</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Multiplier_Based_on_Number_of_Commissionable_Employees</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_JobCommission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job_Commission__c</objectType>
    </variables>
</Flow>
