force-app/main/default/flows/EmployeeCommissionCal_Subflow_CalculateAutoSplits.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Count_Employee_Commissions</name>
        <label>Count Employee Commissions</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>varN_NumberOfEmployeeCommissions</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varR_IncomingEmployeeCommissions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Employee_Commissions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Counter</name>
        <label>Increment Counter</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varN_Counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>forN_Sum</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>forN_SplitEven</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Split_Percent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Split_Percent</name>
        <label>Set Split Percent</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Employee_Commissions.Individual_Split_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forN_IndividualSplitPercentage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_OutgoingEmployeeCommissions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Employee_Commissions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Employee_Commissions</targetReference>
        </connector>
    </assignments>
    <description>STAR-6212 Auto Calculates the Split Amount</description>
    <environments>Default</environments>
    <formulas>
        <name>forN_IndividualSplitPercentage</name>
        <dataType>Number</dataType>
        <expression>{!forN_SplitAdjustment} + {!forN_SplitEven}</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>forN_SplitAdjustment</name>
        <dataType>Number</dataType>
        <expression>IF ({!varN_Counter} = {!varN_NumberOfEmployeeCommissions} &amp;&amp; 100 - {!forN_Sum} &gt; 0,
    100 - {!forN_Sum} ,
    0
)</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>forN_SplitEven</name>
        <dataType>Number</dataType>
        <expression>IF(
    {!varN_NumberOfEmployeeCommissions} &gt; 0,
    100/{!varN_NumberOfEmployeeCommissions},
    0
)</expression>
        <scale>4</scale>
    </formulas>
    <interviewLabel>EmployeeCommissionCal-Subflow-CalculateAutoSplits {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmployeeCommissionCal-Subflow-CalculateAutoSplits</label>
    <loops>
        <name>Loop_Through_Employee_Commissions</name>
        <label>Loop Through Employee Commissions</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>varR_IncomingEmployeeCommissions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_Counter</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Count_Employee_Commissions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>forN_Sum</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varN_Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varN_NumberOfEmployeeCommissions</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varR_IncomingEmployeeCommissions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee_Commission__c</objectType>
    </variables>
    <variables>
        <name>varR_JobCommission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Commission__c</objectType>
    </variables>
    <variables>
        <name>varR_OutgoingEmployeeCommissions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Employee_Commission__c</objectType>
    </variables>
</Flow>
