force-app/main/default/flows/Employee_Commission_After_Save_Update_Job_Commission_Status_and_Commission_Payme.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Count_Collections</name>
        <label>Count Collections</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varN_CountECs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Employee_Records</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varN_StatusPaidCommissionPaymentDate</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Filter_Paid_and_Commission_Payment_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_all_ECs_Paid_and_Commission_Payment_Date_Matched</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_Paid_and_Commission_Payment_Date</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter Paid and Commission Payment Date</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNextValueToReference>currentItem_Filter_Paid_and_Commission_Payment_Date</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Employee_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Paid_and_Commission_Payment_Date.Status__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Paid</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Paid_and_Commission_Payment_Date.Commission_Payment_Date__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Count_Collections</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Are_all_ECs_Paid_and_Commission_Payment_Date_Matched</name>
        <label>Are all ECs Paid and Commission Payment Date Matched</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_CountECs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varN_StatusPaidCommissionPaymentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Last_EC_Greatest_Payment_Date</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Star 6262</description>
    <environments>Default</environments>
    <interviewLabel>Employee Commission - After Save - Update Job Commission Status and Commission Payment Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Employee Commission - After Save - Update Job Commission Status and Commission Payment Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Employee_Records</name>
        <label>Get Employee Records</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Paid_and_Commission_Payment_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job_Commission__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job_Commission__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employee_Commission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_EC_Greatest_Payment_Date</name>
        <label>Get Last EC Greatest Payment Date</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_the_JC_Status_Paid_and_Last_Commission_Payment_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job_Commission__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job_Commission__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee_Commission__c</object>
        <sortField>Commission_Payment_Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_JC_Status_Paid_and_Last_Commission_Payment_Date</name>
        <label>Update the JC  Status Paid and Last Commission Payment Date</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>Commission_Payment_Date__c</field>
            <value>
                <elementReference>Get_Last_EC_Greatest_Payment_Date.Commission_Payment_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission_Status__c</field>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Job_Commission__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Employee_Records</targetReference>
        </connector>
        <filterFormula>NOT({!$Setup.DataAdmin__c.TurnOffFlow__c})&amp;&amp;
TEXT({!$Record.Status__c})=&quot;Paid&quot;&amp;&amp;
ISCHANGED({!$Record.Status__c})||
ISCHANGED({!$Record.Commission_Payment_Date__c})</filterFormula>
        <object>Employee_Commission__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_by_last_Payment_Date</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee_Commission__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Paid_and_Commission_Payment_Date</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee_Commission__c</objectType>
    </variables>
    <variables>
        <name>var_EmployeeRecordsForCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee_Commission__c</objectType>
    </variables>
    <variables>
        <name>var_JobCommissionId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varN_CountECs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varN_StatusPaidCommissionPaymentDate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
