force-app/main/default/flows/Event_Create_Update_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_Account_Grade_and_Status</name>
        <label>assign - Account Grade and Status</label>
        <locationX>242</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.Account_Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Grade__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Account_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Account.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_Last_Touch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Activity_Segment_Goal</name>
        <label>Assign Activity Segment Goal</label>
        <locationX>242</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>$Record.Activity_Segment_Goal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Activity_Segment_Goal.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateEvent</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_Account_Grade_and_Status</name>
        <label>decision - Account Grade and Status</label>
        <locationX>374</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>decision_Last_Touch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No_AccountGAS</defaultConnectorLabel>
        <rules>
            <name>Yes_AccountGAS</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>formulaISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Account_Grade_and_Status</targetReference>
            </connector>
            <label>Yes_AccountGAS</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_DataAdminTurnOffFlow</name>
        <label>decision - DataAdminTurnOffFlow</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>decision_Account_Grade_and_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TurnOff_No</defaultConnectorLabel>
        <rules>
            <name>TurnOff_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.DataAdmin__c.TurnOffFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>TurnOff_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Last_Touch</name>
        <label>decision - Last Touch</label>
        <locationX>374</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>Update_Activity_Segment_Goal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LastTouch_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subflow_Last_Touch</targetReference>
            </connector>
            <label>LastTouch_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Activity_Segment_Goal</name>
        <label>Update Activity Segment Goal?</label>
        <locationX>374</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>updateEvent</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update_No</defaultConnectorLabel>
        <rules>
            <name>Update_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>formulaISNEW</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Activity_Segment_Goal</targetReference>
            </connector>
            <label>Update_Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formulaISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Event - Create Update - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event - Create Update - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Activity_Segment_Goal</name>
        <label>Get Activity Segment Goal</label>
        <locationX>242</locationX>
        <locationY>1139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Activity_Segment_Goal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Activity_Segment_Goal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateEvent</name>
        <label>updateEvent</label>
        <locationX>374</locationX>
        <locationY>1439</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decision_DataAdminTurnOffFlow</targetReference>
        </connector>
        <object>Event</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Subflow_Last_Touch</name>
        <label>Subflow - Last Touch</label>
        <locationX>242</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Update_Activity_Segment_Goal</targetReference>
        </connector>
        <flowName>Event_Subflow_Last_Touch</flowName>
        <inputAssignments>
            <name>recordEvent</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
