force-app/main/default/flows/Event_Subflow_Last_Touch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>AddToAccountUpdatesCollection</name>
        <label>AddToAccountUpdatesCollection</label>
        <locationX>138</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>AccountUpdates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleAccountUpdate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLastTouchFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddToContactUpdatesCollection</name>
        <label>AddToContactUpdatesCollection</label>
        <locationX>138</locationX>
        <locationY>3494</locationY>
        <assignmentItems>
            <assignToReference>FinalContactUpdates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateDateOfLastTouch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CollectFinalAccountId</name>
        <label>CollectFinalAccountId</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <assignmentItems>
            <assignToReference>FinalAccountId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopSortedAccount.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>previousAccountid</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopSortedAccount.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSortedAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>collectFinalRelationId</name>
        <label>collectFinalRelationId</label>
        <locationX>314</locationX>
        <locationY>2702</locationY>
        <assignmentItems>
            <assignToReference>FinalRelationId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopSortedRelation.RelationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>priorRelationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopSortedRelation.RelationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopSortedRelation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CollectUndupedAccountEventRelations_NotNull</name>
        <label>CollectUndupedAccountEvevtRelations_NotNull</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>UndupedAccountEventRelations</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountIsNotNull</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SortUndupedAccountEventRelations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountCollections</name>
        <label>CountCollections</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>countAccountNotNull</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AccountIsNotNull</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AccountLIstNotNull</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetAccountValues</name>
        <label>SetAccountValues</label>
        <locationX>138</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>SingleAccountUpdate.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccountLastTouchDate.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAccountUpdate.Date_of_Last_Touch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordEvent.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAccountUpdate.Last_Touch_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordEvent.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleAccountUpdate.Last_Touch_Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LastTouchLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToAccountUpdatesCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetContactValues</name>
        <label>SetContactValues</label>
        <locationX>138</locationX>
        <locationY>3374</locationY>
        <assignmentItems>
            <assignToReference>SingleContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleContact.Date_of_Last_Touch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordEvent.ActivityDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddToContactUpdatesCollection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>AccountIsNotNull</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>AccountIsNotNull</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNextValueToReference>currentItem_AccountIsNotNull</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getEventRelations</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_AccountIsNotNull.AccountId</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>CountCollections</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>RelatedToNotNull</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>RelatedToNotNull</label>
        <locationX>50</locationX>
        <locationY>2222</locationY>
        <assignNextValueToReference>currentItem_RelatedToNotNull</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getEventRelations</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_RelatedToNotNull.RelationId</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>false</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_RelatedToNotNull.RelationId</leftValueReference>
            <operator>StartsWith</operator>
            <rightValue>
                <stringValue>003</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>SortRelatedToNotNull</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>SortRelatedToNotNull</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>SortRelatedToNotNull</label>
        <locationX>50</locationX>
        <locationY>2342</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>RelatedToNotNull</collectionReference>
        <connector>
            <targetReference>LoopSortedRelation</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>RelationId</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>SortUndupedAccountEventRelations</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>SortUndupedAccountEventRelations</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>UndupedAccountEventRelations</collectionReference>
        <connector>
            <targetReference>LoopSortedAccount</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>AccountId</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>AccountLIstNotNull</name>
        <label>AccountLIstNotNull</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>NotNull_No</defaultConnectorLabel>
        <rules>
            <name>NotNull_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>countAccountNotNull</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CollectUndupedAccountEventRelations_NotNull</targetReference>
            </connector>
            <label>NotNull_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAccountIdTheSame</name>
        <label>IsAccountIdTheSame</label>
        <locationX>226</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>CollectFinalAccountId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopSortedAccount.AccountId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>previousAccountid</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopSortedAccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsDateOfLastTouchonEventGreater</name>
        <label>IsDateOfLastTouchonEventGreater</label>
        <locationX>270</locationX>
        <locationY>3254</locationY>
        <defaultConnector>
            <targetReference>UpdateDateOfLastTouch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Less_Than</defaultConnectorLabel>
        <rules>
            <name>Greater_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordEvent.ActivityDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>getContacts.Date_of_Last_Touch__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetContactValues</targetReference>
            </connector>
            <label>Greater_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsEventStartGreaterThanAcctDateofLastTouch</name>
        <label>IsEventStartGreaterThanAcctDateofLastTouch?</label>
        <locationX>270</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>UpdateLastTouchFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No_NoAction</defaultConnectorLabel>
        <rules>
            <name>Yes_Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordEvent.ActivityDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>getAccountLastTouchDate.Date_of_Last_Touch__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetAccountValues</targetReference>
            </connector>
            <label>Yes_Update</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsRelationIdTheSame</name>
        <label>IsRelationIdTheSame?</label>
        <locationX>226</locationX>
        <locationY>2582</locationY>
        <defaultConnector>
            <targetReference>collectFinalRelationId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No_Different</defaultConnectorLabel>
        <rules>
            <name>Yes_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopSortedRelation.RelationId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>priorRelationId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopSortedRelation</targetReference>
            </connector>
            <label>Yes_Same</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>LastTouchLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))&amp;&quot;lightning/r/Event/&quot; &amp; {!recordEvent.Id} &amp;&quot;/view&quot;</expression>
    </formulas>
    <interviewLabel>Event - Subflow - Last Touch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event - Subflow - Last Touch</label>
    <loops>
        <name>LoopSortedAccount</name>
        <label>LoopSortedAccount</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <collectionReference>UndupedAccountEventRelations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsAccountIdTheSame</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateLastTouchFields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopSortedRelation</name>
        <label>LoopSortedRelation</label>
        <locationX>50</locationX>
        <locationY>2462</locationY>
        <collectionReference>RelatedToNotNull</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>IsRelationIdTheSame</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateDateOfLastTouch</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>UpdateDateOfLastTouch</name>
        <label>UpdateDateOfLastTouch</label>
        <locationX>50</locationX>
        <locationY>3014</locationY>
        <collectionReference>FinalRelationId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getContacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateAccounts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>UpdateLastTouchFields</name>
        <label>UpdateLastTouchFields</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <collectionReference>FinalAccountId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getAccountLastTouchDate</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RelatedToNotNull</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getAccountLastTouchDate</name>
        <label>getAccountLastTouchDate</label>
        <locationX>270</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsEventStartGreaterThanAcctDateofLastTouch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UpdateLastTouchFields</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date_of_Last_Touch__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContacts</name>
        <label>getContacts</label>
        <locationX>270</locationX>
        <locationY>3134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsDateOfLastTouchonEventGreater</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UpdateDateOfLastTouch</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Date_of_Last_Touch__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getEventRelations</name>
        <label>getEventRelations</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AccountIsNotNull</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EventId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordEvent.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>EventRelation</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>RelationId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <sortField>IsWhat</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAccounts</name>
        <label>UpdateAccounts</label>
        <locationX>50</locationX>
        <locationY>3806</locationY>
        <connector>
            <targetReference>UpdateContacts</targetReference>
        </connector>
        <inputReference>AccountUpdates</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateContacts</name>
        <label>UpdateContacts</label>
        <locationX>50</locationX>
        <locationY>3926</locationY>
        <inputReference>FinalContactUpdates</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getEventRelations</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountUpdates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>countAccountNotNull</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_AccountIsNotNull</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EventRelation</objectType>
    </variables>
    <variables>
        <name>currentItem_RelatedToNotNull</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EventRelation</objectType>
    </variables>
    <variables>
        <name>FinalAccountId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalContactUpdates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>FinalRelationId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>previousAccountid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>priorRelationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>SingleAccountUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SingleContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UndupedAccountEventRelations</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EventRelation</objectType>
    </variables>
</Flow>
