force-app/main/default/flows/File_Sharing_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>add_Single_Content_Document_Link_for_Receiver_to_Collection</name>
        <label>add Single Content Document Link for Receiver to Collection</label>
        <locationX>264</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>varC_Content_Document_Links_for_Receiver_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_Single_Content_Document_Link_for_Receiver</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Content_Document_Links_from_Giver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Content_Document_IDs_on_Receiver_Collection</name>
        <label>Add to Content Document IDs on Receiver Collection</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varC_Content_Document_IDs_from_Receiver</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Content_Document_Links_from_Receiver.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Content_Document_Links_from_Receiver</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>create_Single_Content_Document_Link_for_Receiver</name>
        <label>create Single Content Document Link for Receiver</label>
        <locationX>264</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>varR_Single_Content_Document_Link_for_Receiver.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Content_Document_Links_from_Giver.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Single_Content_Document_Link_for_Receiver.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_ReceiverId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Single_Content_Document_Link_for_Receiver.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Content_Document_Links_from_Giver.ShareType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Single_Content_Document_Link_for_Receiver.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Content_Document_Links_from_Giver.Visibility</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_Single_Content_Document_Link_for_Receiver_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>Assign the varT_GiverId for the id of the record with the file you want to share, and this flow will share it to the record you assign its id to the varT_ReceiverId. If the file already is shared, it does nothing.</description>
    <environments>Default</environments>
    <interviewLabel>File Sharing - Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>File Sharing - Subflow</label>
    <loops>
        <name>loop_Content_Document_Links_from_Giver</name>
        <label>loop Content Document Links from Giver</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <collectionReference>get_Content_Document_Links_from_Giver</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>create_Single_Content_Document_Link_for_Receiver</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>create_Content_Document_Links_for_Receiver</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_Content_Document_Links_from_Receiver</name>
        <label>loop Content Document Links from Receiver</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>get_Content_Document_Links_from_Receiver</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Content_Document_IDs_on_Receiver_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_Content_Document_Links_from_Giver</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_Content_Document_Links_for_Receiver</name>
        <label>create Content Document Links for Receiver</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <inputReference>varC_Content_Document_Links_for_Receiver_Collection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Content_Document_Links_from_Giver</name>
        <label>get Content Document Links from Giver</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Content_Document_Links_from_Giver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContentDocumentId</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>varC_Content_Document_IDs_from_Receiver</elementReference>
            </value>
        </filters>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_GiverId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>ContentDocumentId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Content_Document_Links_from_Receiver</name>
        <label>get Content Document Links from Receiver</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Content_Document_Links_from_Receiver</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_ReceiverId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>ContentDocumentId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Content_Document_Links_from_Receiver</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Filter_Content_Document_Links_on_Receiver</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varC_Content_Document_IDs_from_Receiver</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varC_Content_Document_Links_for_Receiver_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varR_Single_Content_Document_Link_for_Receiver</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varT_GiverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_ReceiverId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
