force-app/main/default/flows/GenericCalculation_Subflow_CheckboxToYesNoPicklist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>No</name>
        <label>No</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varP_YesNoPicklist</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>con_No</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Yes</name>
        <label>Yes</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varP_YesNoPicklist</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>con_Yes</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>con_No</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </constants>
    <constants>
        <name>con_Yes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Checkbox</name>
        <label>Checkbox?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_Checkbox</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Yes</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>STAR-5564, STAR-5991, STAR-6133 Converts Boolean checkbox to Yes/No Picklist Values</description>
    <environments>Default</environments>
    <interviewLabel>GenericCalculation-Subflow-CheckboxToYesNoPicklist {!$Flow.CurrentDateTime}</interviewLabel>
    <label>GenericCalculation-Subflow-CheckboxToYesNoPicklist</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checkbox</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varB_Checkbox</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varP_YesNoPicklist</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
