force-app/main/default/flows/Invoice_Request_Form_Create_Update_After_Save_Common.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <description>When created or updated, the approvers stay in sync with the related Job</description>
        <name>Set_Approvers</name>
        <label>Set Approvers</label>
        <locationX>374</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approver_Regional__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Job__r.Credit_Approval_up_to_5k__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Approver_5k__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Job__r.Credit_Approval_5K__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Job_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Job_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Backup_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Job__r.Backup_Approver__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Evaluate_Is_New</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Created_Values</name>
        <label>Set Created Values</label>
        <locationX>242</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>$Record.Payment_Terms__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Job__r.Payment_Terms__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Superuser__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Job__r.ServiceTerritory.Superuser__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_ContentDocumentLinks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DataAdmin_Bypass_Flow</name>
        <label>DataAdmin Bypass Flow?</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Set_Approvers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bypass_No</defaultConnectorLabel>
        <rules>
            <name>Bypass_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.DataAdmin__c.TurnOffFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypass_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Evaluate_Client_WO_PO</name>
        <label>Evaluate Client WO PO?</label>
        <locationX>374</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Update_Invoice_Request_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ECWP_Yes</name>
            <conditionLogic>1 AND 2 AND 5 AND (4 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Client_WO_PO_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_WO_PO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forT_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Client_WO_PO__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Job__r.Client_Work_Order_Number__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Job</targetReference>
            </connector>
            <label>ECWP_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Evaluate if IRF is new and if so make updates</description>
        <name>Evaluate_Is_New</name>
        <label>Evaluate Is New?</label>
        <locationX>374</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Get_ContentDocumentLinks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Nothing</defaultConnectorLabel>
        <rules>
            <name>IsNew_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>forT_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Created_Values</targetReference>
            </connector>
            <label>IsNew_Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forT_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Invoice Request Form - Create Update - After Save - Common {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Invoice Request Form - Create Update - After Save - Common</label>
    <loops>
        <name>LoopThruContentDocumentLinks</name>
        <label>LoopThruContentDocumentLinks</label>
        <locationX>374</locationX>
        <locationY>1031</locationY>
        <collectionReference>Get_ContentDocumentLinks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Visibility</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Evaluate_Client_WO_PO</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ContentDocumentLinks</name>
        <label>Get ContentDocumentLinks</label>
        <locationX>374</locationX>
        <locationY>911</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopThruContentDocumentLinks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Visibility</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Invoice_Request_Form</name>
        <label>Update Invoice Request Form</label>
        <locationX>374</locationX>
        <locationY>1703</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Job</name>
        <label>Update Job</label>
        <locationX>242</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Update_Invoice_Request_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Client_Work_Order_Number__c</field>
            <value>
                <elementReference>$Record.Client_WO_PO__c</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Visibility</name>
        <label>Update Visibility</label>
        <locationX>462</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>LoopThruContentDocumentLinks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopThruContentDocumentLinks.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Visibility</field>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DataAdmin_Bypass_Flow</targetReference>
        </connector>
        <object>Invoice_Request_Form__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
