force-app/main/default/flows/Job_Commission_After_Save_U_Update_Employee_Commissions_and_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Auto_Update_Timestamp_on_Employee_Commission</name>
        <label>Auto Update Timestamp on Employee Commission</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Loop_Thru_Employee_Commissions_to_Update.Last_Auto_Update_From_Job_Commission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forDT_Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_EmployeeCommissions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Thru_Employee_Commissions_to_Update</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Employee_Commissions_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Number_of_Employee_Commission_Records</name>
        <label>Number of Employee Commission Records</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>varN_NumberOfEmployees</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Employee_Commissions_Associated_with_Job_Commission</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Thru_Employee_Commissions_to_Update</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>con_Flow</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Job Commission - After Save U - Update Employee Commissions and Job</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Has_Employee_Commission_Records</name>
        <label>Has Employee Commission Records?</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_of_Employees_Greater_than_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_NumberOfEmployees</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Employee_Commission_Records</targetReference>
            </connector>
            <label>Count of Employees Greater than Zero?</label>
        </rules>
    </decisions>
    <description>STAR-6212 This triggers an update to be made on a Job Commission&apos;s Employee Commission records and the associated job</description>
    <environments>Default</environments>
    <formulas>
        <name>forDT_Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Job Commission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job Commission - After Save U - Update Employee Commissions and Job</label>
    <loops>
        <name>Loop_Thru_Employee_Commissions_to_Update</name>
        <label>Loop Thru Employee Commissions to Update</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Employee_Commissions_Associated_with_Job_Commission</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Auto_Update_Timestamp_on_Employee_Commission</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Has_Employee_Commission_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Employee_Commissions_Associated_with_Job_Commission</name>
        <label>Get Employee Commissions Associated with Job Commission</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Number_of_Employee_Commission_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employee_Commission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Employee_Commission_Records</name>
        <label>Update Employee Commission Records</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_Bolt_Log_Error_Record</targetReference>
        </faultConnector>
        <inputReference>varR_EmployeeCommissions</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Job</name>
        <label>Update Job</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Get_Employee_Commissions_Associated_with_Job_Commission</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Post_Bolt_Log_Error_Record</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Update_Job_Commission__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Jobs__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Job</targetReference>
        </connector>
        <filterFormula>{!$Setup.DataAdmin__c.TurnOffFlow__c} = false &amp;&amp;
TEXT({!$Record.Commission_Status__c}) &lt;&gt; &apos;Paid&apos; &amp;&amp;
(
    {!$Record.Job__r.Update_Job_Commission__c} = true || 
    IsChanged({!$Record.Exception_Commissionable__c}) ||
    IsChanged({!$Record.Exception_DepositFirst_Payment__c}) ||
    IsChanged({!$Record.Exception_Quick_Collection__c}) ||
    IsChanged({!$Record.Exception_Slow_Collection__c}) ||
    IsChanged({!$Record.Split_Multiplier__c})
)</filterFormula>
        <object>Job_Commission__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Post_Bolt_Log_Error_Record</name>
        <label>Post Bolt Log Error Record</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <flowName>Bolt_Event_Subflow_Post_Sales_Incentive_Plan_Error_BoltEvents</flowName>
        <inputAssignments>
            <name>varT_Flow</name>
            <value>
                <elementReference>con_Flow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_StatusMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varN_NumberOfEmployees</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varR_EmployeeCommissions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee_Commission__c</objectType>
    </variables>
</Flow>
