force-app/main/default/flows/Job_Subflow_Job_Sharings_for_ATMs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>addCurrentATMUserID</name>
        <label>addCurrentATMUserID</label>
        <locationX>264</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>varC_ATMUserId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopAccountTeamMembers.UserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAccountTeamMembers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addCurrentJobSharingUser</name>
        <label>addCurrentJobSharingUser</label>
        <locationX>264</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varC_CurrentJobSharingUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopJobSharing.User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopJobSharing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Collect_Job_Sharing</name>
        <label>Collect Job Sharing</label>
        <locationX>264</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>CollectionofJobSharingRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssignSingleJobShare</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopGetUsers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Make_Single_Job_Share_Record</name>
        <label>Make Single Job Share Record</label>
        <locationX>264</locationX>
        <locationY>1310</locationY>
        <assignmentItems>
            <assignToReference>AssignSingleJobShare.Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_JobID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignSingleJobShare.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>USD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignSingleJobShare.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopGetUsers.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Collect_Job_Sharing</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Job - Subflow - Job Sharings for ATMs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job - Subflow - Job Sharings for ATMs</label>
    <loops>
        <name>LoopAccountTeamMembers</name>
        <label>LoopAccountTeamMembers</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <collectionReference>getAccountTeamMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addCurrentATMUserID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getUsers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopGetUsers</name>
        <label>LoopGetUsers</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <collectionReference>getUsers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Make_Single_Job_Share_Record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateJobSharingRecord</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopJobSharing</name>
        <label>loopJobSharing</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>getJobSharing</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addCurrentJobSharingUser</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getAccountTeamMembers</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateJobSharingRecord</name>
        <label>CreateJobSharingRecord</label>
        <locationX>176</locationX>
        <locationY>1646</locationY>
        <inputReference>CollectionofJobSharingRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getAccountTeamMembers</name>
        <label>getAccountTeamMembers</label>
        <locationX>176</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAccountTeamMembers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_AccountID</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>varT_OwnerID</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>varC_CurrentJobSharingUsers</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountTeamMember</object>
        <sortField>UserId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getJobSharing</name>
        <label>getJobSharing</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopJobSharing</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_JobID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Job_Sharing__c</object>
        <sortField>User__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUsers</name>
        <label>getUsers</label>
        <locationX>176</locationX>
        <locationY>1070</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopGetUsers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varC_ATMUserId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getJobSharing</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AssignSingleJobShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Sharing__c</objectType>
    </variables>
    <variables>
        <name>CollectionofJobSharingRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Job_Sharing__c</objectType>
    </variables>
    <variables>
        <name>collectionofteammembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Sharing__c</objectType>
    </variables>
    <variables>
        <name>DataAdmin</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>DataAdmin__c</objectType>
    </variables>
    <variables>
        <name>setteammembervalues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Sharing__c</objectType>
    </variables>
    <variables>
        <name>varC_ATMUserId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varC_CurrentJobSharingUsers</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_AccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_JobID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_OwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
