force-app/main/default/flows/Job_Subflow_SetFinanicalFieldsOnJobCommission.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Job_Finanical_Fields_on_Job_Commission</name>
        <label>Set Job Finanical Fields on Job Commission</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Job_Bad_Debt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Job.Bad_Debt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Job_Date_of_DepositFirst_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Job.Date_of_First_Payment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Job_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Job.ROM_Contracted_Sales__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Job_Margin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forN_JobMargin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Job_In_Collections__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Job_In_Collections.varP_YesNoPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Job_In_Legal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Job_In_Legal.varP_YesNoPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Job_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Job.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Job_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Job.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Job_Work_Complete_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Job.Work_Complete_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Job_DepositFirst_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Job.First_Payment_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Job.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.House_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_House_Account.varP_YesNoPicklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Job_Date_Fully_Collected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_Job.Date_Fully_Collected__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Has_Bad_Debt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forP_HasBadDebt</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>con_Job_Status_CANCELED</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Canceled</stringValue>
        </value>
    </constants>
    <constants>
        <name>con_Job_Status_CLOSED</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </constants>
    <constants>
        <name>con_NO</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </constants>
    <constants>
        <name>con_YES</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </constants>
    <description>STAR-5575, STAR-5564, STAR-5991, STAR-6298 Subflow to set Job&apos;s Financial Fields on a Job Commission</description>
    <environments>Default</environments>
    <formulas>
        <name>forN_JobMargin</name>
        <dataType>Number</dataType>
        <expression>IF(
    TEXT({!varR_Job.Status}) = {!con_Job_Status_CLOSED},
    {!varR_Job.Final_Margin__c},
    IF (TEXT({!varR_Job.Status})={!con_Job_Status_CANCELED},
        0,
        {!varR_Job.Expected_Margin__c}
    )
)</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>forP_HasBadDebt</name>
        <dataType>String</dataType>
        <expression>IF({!varR_Job.Bad_Debt__c} &gt; 0, {!con_YES}, {!con_NO})</expression>
    </formulas>
    <interviewLabel>Job-Subflow-SetFinanicalFieldsOnJobCommission {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job-Subflow-SetFinanicalFieldsOnJobCommission</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Job_In_Legal</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Set_House_Account</name>
        <label>Set House Account</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Set_Job_Finanical_Fields_on_Job_Commission</targetReference>
        </connector>
        <flowName>GenericCalculation_Subflow_CheckboxToYesNoPicklist</flowName>
        <inputAssignments>
            <name>varB_Checkbox</name>
            <value>
                <elementReference>varR_Job.House_Account__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Set_Job_In_Collections</name>
        <label>Set Job In Collections</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Set_House_Account</targetReference>
        </connector>
        <flowName>GenericCalculation_Subflow_CheckboxToYesNoPicklist</flowName>
        <inputAssignments>
            <name>varB_Checkbox</name>
            <value>
                <elementReference>varR_Job.In_Collections__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Set_Job_In_Legal</name>
        <label>Set Job In Legal</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Set_Job_In_Collections</targetReference>
        </connector>
        <flowName>GenericCalculation_Subflow_CheckboxToYesNoPicklist</flowName>
        <inputAssignments>
            <name>varB_Checkbox</name>
            <value>
                <elementReference>varR_Job.Legal__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varR_Job</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>varR_JobCommission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job_Commission__c</objectType>
    </variables>
</Flow>
