force-app/main/default/flows/Job_Share_Files_to_IRFs_and_Contracts_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Single_Content_Document_Link_to_Collection</name>
        <label>Add Single Content Document Link to Collection</label>
        <locationX>138</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>varR_CollectionContentDocumentLinks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_SingleContentDocumentLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Chosen_Files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Content_Documents</name>
        <label>Count Content Documents</label>
        <locationX>314</locationX>
        <locationY>1070</locationY>
        <assignmentItems>
            <assignToReference>varN_Count_ContentDocumentIds_Jobs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varCOL_ContentDocumentIds_Jobs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_any_Content_Documents_to_display</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_ContentDocumentIds_Jobs</name>
        <label>Set ContentDocumentIds Jobs</label>
        <locationX>402</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>varCOL_ContentDocumentIds_Jobs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_ContentDocumentLinks_Jobs.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_ContentDocumentLinks_Jobs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Single_Content_Document_Link</name>
        <label>Set Single Content Document Link</label>
        <locationX>138</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>varR_SingleContentDocumentLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Chosen_Files.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SingleContentDocumentLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varT_CurrentRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SingleContentDocumentLink.ShareType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_SingleContentDocumentLink.Visibility</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AllUsers</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Single_Content_Document_Link_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varCOL_ContentDocumentDuplicateIDs</name>
        <label>Set varCOL_ContentDocumentDuplicateIDs</label>
        <locationX>402</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>varCOL_ContentDocumentIds_Jobs</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>Loop_Through_Get_ContentDocumentLinks_Duplicates.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Get_ContentDocumentLinks_Duplicates</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_any_Content_Documents_to_display</name>
        <label>Are there any Content Documents to display?</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_Count_ContentDocumentIds_Jobs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Content_Documents</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Job - Share Files to IRFs and Contracts - Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job - Share Files to IRFs and Contracts - Screen Flow</label>
    <loops>
        <name>Loop_Through_Chosen_Files</name>
        <label>Loop Through Chosen Files</label>
        <locationX>50</locationX>
        <locationY>1550</locationY>
        <collectionReference>CF_FilesTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Single_Content_Document_Link</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Content_Document_Links</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_ContentDocumentLinks_Jobs</name>
        <label>Loop Through ContentDocumentLinks Jobs</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_ContentDocumentLinks_Jobs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_ContentDocumentIds_Jobs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_ContentDocumentLinks_Duplicates</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Get_ContentDocumentLinks_Duplicates</name>
        <label>Loop Through Get ContentDocumentLinks Duplicates</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <collectionReference>Get_ContentDocumentLinks_Duplicates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_varCOL_ContentDocumentDuplicateIDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_Content_Documents</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Content_Document_Links</name>
        <label>Create Content Document Links</label>
        <locationX>50</locationX>
        <locationY>2006</locationY>
        <faultConnector>
            <targetReference>VR_Error_Message</targetReference>
        </faultConnector>
        <inputReference>varR_CollectionContentDocumentLinks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Content_Documents</name>
        <label>Get Content Documents</label>
        <locationX>50</locationX>
        <locationY>1310</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>varCOL_ContentDocumentIds_Jobs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocument</object>
        <sortField>Title</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ContentDocumentLinks_Duplicates</name>
        <label>Get ContentDocumentLinks Duplicates</label>
        <locationX>314</locationX>
        <locationY>614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Get_ContentDocumentLinks_Duplicates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_CurrentRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>ContentDocumentId</field>
            <operator>In</operator>
            <value>
                <elementReference>varCOL_ContentDocumentIds_Jobs</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>LinkedEntityId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ContentDocumentLinks_Jobs</name>
        <label>Get ContentDocumentLinks Jobs</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_ContentDocumentLinks_Jobs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_JobId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>LinkedEntityId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Choose_Files</name>
        <label>Choose Files</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Through_Chosen_Files</targetReference>
        </connector>
        <fields>
            <name>CF_FilesTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentDocument</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Job Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Content_Documents</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-eabe&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;CreatedDate&quot;,&quot;guid&quot;:&quot;column-6b18&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Created&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;FileType&quot;,&quot;guid&quot;:&quot;column-b9a9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;File Type&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>VR_Error_Message</name>
        <label>VR Error Message</label>
        <locationX>314</locationX>
        <locationY>2126</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;Please read the error below. Play close attention to the error after the phrase &lt;strong style=&quot;font-size: 12px; font-family: Calibri, sans-serif;&quot;&gt;FIELD_CUSTOM_VALIDATION_EXCEPTION&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 143, 8);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Thank you!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ContentDocumentLinks_Jobs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varCOL_ContentDocumentDuplicateIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCOL_ContentDocumentIds_Jobs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varN_Count_ContentDocumentIds_Jobs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varR_CollectionContentDocumentLinks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varR_SingleContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>varT_CurrentRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_JobId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
