force-app/main/default/flows/Job_Change_Branch_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Client_Solutions</name>
        <label>Send Email to Client Solutions</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Update_Job_Branch_and_Owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>clientsolutions@firstonsite.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce.alerts@firstonsite.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>forT_ClientSolutionssubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>forT_ClientSolutionsbody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_to_KTM</name>
        <label>Send to KTM</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>forT_EmailKTMs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce.alerts@firstonsite.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>forT_EmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>forT_MainEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Is_Org_Prod</name>
        <label>Is Org Prod</label>
        <locationX>468</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Production_Org_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Organization.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00DOy000003H79p</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Losing_Branch_Client_Solutions</targetReference>
            </connector>
            <label>Production Org Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Losing_Branch_Client_Solutions</name>
        <label>Losing Branch Client Solutions?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Update_Job_Branch_and_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existing Branch does not equal Client Solutions</defaultConnectorLabel>
        <rules>
            <name>Branch_equals_Client_Solutions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job.ServiceTerritory.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Client Solutions</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Client_Solutions</targetReference>
            </connector>
            <label>Existing Branch equals Client Solutions</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ChoiceSet_Branch</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ServiceTerritory</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>forT_BranchGMName</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT ID, GM_Name__c from ServiceTerritory where Id=&apos;&quot;&amp;{!SelectedBranch.recordId}&amp;&quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>forT_EmailKTMs</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!Get_Job.BD_Account_Manager__c}),&quot;&quot;,
{!Get_Job.BD_Account_Manager__r.Email} &amp; &quot;,&quot;)
&amp;
IF(
ISBLANK({!Get_Job.BD_Account_Manager_2__c}),&quot;&quot;,
{!Get_Job.BD_Account_Manager_2__r.Email} &amp; &quot;,&quot;)
&amp;
{!Get_Job.ServiceTerritory.General_Manager__r.Email} &amp;&quot;,&quot;
&amp;
{!Get_New_Branch.General_Manager__r.Email} &amp;&quot;,&quot;
&amp;
&quot;ithelp5@firstonsite.com&quot;</expression>
    </formulas>
    <formulas>
        <name>forT_LinkedJob</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Enterprise_Server_URL_510}, FIND( &apos;/services&apos;, {!$Api.Enterprise_Server_URL_510}))&amp;{!Get_Job.Id}</expression>
    </formulas>
    <formulas>
        <name>forT_OwnerName</name>
        <dataType>String</dataType>
        <expression>{!Get_Job.Owner:User.FirstName}&amp;&quot; &quot;&amp;{!Get_Job.Owner:User.LastName}</expression>
    </formulas>
    <interviewLabel>Job-Change Branch-After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Job-Change Branch-After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Job</name>
        <label>Get Job</label>
        <locationX>468</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Change_Branch_on_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Branch</name>
        <label>Get New Branch</label>
        <locationX>468</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Org_Prod</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedBranch.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUpdatedJob</name>
        <label>GetUpdatedJob</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_to_KTM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Job_Branch_and_Owner</name>
        <label>Update Job- Branch and Owner</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>GetUpdatedJob</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Screen_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_New_Branch.General_Manager__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <elementReference>Get_New_Branch.Id</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Change_Branch_on_Job</name>
        <label>Change Branch on Job</label>
        <locationX>468</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_New_Branch</targetReference>
        </connector>
        <fields>
            <name>Branch_Change_instructions</name>
            <fieldText>&lt;p&gt;When you click the Change Branch button, you will be updating the Branch and the GM of the new Branch will become the Job Owner.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;You must be a Key Team Member or the owner of the Job to change the Branch. Please close this screen and email IThelp@firstonsite.com and put Salesforce in the subject line to assist with the Branch change.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Thank you!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Job_Branch_Details</name>
            <fieldText>Job Branch Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Job_Branch_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Existing_Branch</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Branch on  Job&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Job.ServiceTerritory.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Existing_GM</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;GM on Current Branch&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Job.ServiceTerritory.General_Manager__r.FirstName} {!Get_Job.ServiceTerritory.General_Manager__r.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Job_Branch_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SelectedBranch</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ServiceTerritoryId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>New Branch</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>WorkOrder</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>GMTable</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>ServiceTerritory</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>GM</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Fetcher.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;GM_Name__c&quot;,&quot;guid&quot;:&quot;column-9a0a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;GM on New Branch&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;GM Name&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Change_Branch_on_Job_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Change_Branch_on_Job_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>KTMInfo</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Note:&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;The BDs below, the GMs noted above, and IThelp will receive an email notifying them of this change when you click the Change Branch button.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;BD Account Manager 1&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Job.BD_Account_Manager__r.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Job.BD_Account_Manager__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;BD Account Manager 2&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!Get_Job.BD_Account_Manager_2__r.FirstName} &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Job.BD_Account_Manager_2__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;If any of the BD&apos;s need to be changed you must use the Change BD button at the top of the Job Page.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;If you need any Ops KTMs to be changed you must work with someone from Bolt.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Fetcher</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ServiceTerritory</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <elementReference>forT_BranchGMName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Change Branch</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Error</name>
        <label>Screen Error</label>
        <locationX>490</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>VR_Error</name>
            <fieldText>&lt;p&gt;You don&apos;t have edit access on the job in order to update the Branch.&amp;nbsp;&lt;/p&gt;&lt;p&gt;Please email &lt;a href=&quot;mailto:ithelp@firstonsite.com&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;ithelp@firstonsite.com&lt;/a&gt; with Salesforce in the subject line to request the Branch Change.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Job</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>forT_ClientSolutionsbody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Client Solutions Team,&lt;/p&gt;&lt;p&gt;The Branch has been changed  from Client Solutions to {!Get_New_Branch.Name} on &lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;a href=&quot;https://restoration--dev82.sandbox.lightning.force.com/builder_platform_interaction/%7B!forT_LinkedJob%7D&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Job.WorkOrderNumber}&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;{!$User.FirstName} {!$User.LastName} requested the change.&lt;/p&gt;&lt;p&gt;Thank you!&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>forT_ClientSolutionssubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>The Branch on {!Get_Job.WorkOrderNumber} has been changed from Client Solutions to {!Get_New_Branch.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>forT_EmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>BOLT- The Branch on Job {!Get_Job.WorkOrderNumber} has changed from {!Get_Job.ServiceTerritory.Name} to {!Get_New_Branch.Name}</text>
    </textTemplates>
    <textTemplates>
        <name>forT_MainEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;A Branch Change on Job &lt;a href=&quot;{!forT_LinkedJob}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;{!Get_Job.WorkOrderNumber}&lt;/a&gt; has been requested by {!$User.FirstName} {!$User.LastName} and has been completed.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;New Branch:&lt;/strong&gt; {!Get_New_Branch.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Old Branch:&lt;/strong&gt; {!Get_Job.ServiceTerritory.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Account:&lt;/strong&gt; {!Get_Job.Account.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Job Name:&lt;/strong&gt; {!Get_Job.Job_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Loss Location: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Job.Address__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;u&gt;Salesforce KTM&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;BD Account Manager: &lt;/strong&gt;{!Get_Job.BD_Account_Manager__r.FirstName} {!Get_Job.BD_Account_Manager__r.LastName}  &lt;/p&gt;&lt;p&gt;&lt;strong&gt;BD Account Manager 2: &lt;/strong&gt;{!Get_Job.BD_Account_Manager_2__r.FirstName} {!Get_Job.BD_Account_Manager_2__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;BD Account Manager 3:&lt;/strong&gt; {!Get_Job.BD_Account_Manager_3__r.FirstName} {!Get_Job.BD_Account_Manager_3__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Regional Coordinator: &lt;/strong&gt;{!Get_Job.Regional_Coordinator__r.FirstName} {!Get_Job.Regional_Coordinator__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;BOLT KTM&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Project Director: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Job.Project_Director__r.FirstName} {!Get_Job.Project_Director__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Project Manager: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Job.Project_Manager__r.FirstName} {!Get_Job.Project_Manager__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Sr. Project Manager: &lt;/strong&gt;{!Get_Job.Senior_Project_Manager__r.FirstName} {!Get_Job.Senior_Project_Manager__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;RM/CM/OM: &lt;/strong&gt;{!Get_Job.RM_CM_OM__r.FirstName} {!Get_Job.RM_CM_OM__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Admin: &lt;/strong&gt;{!Get_Job.Admin__r.FirstName} {!Get_Job.Admin__r.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Thank you!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varT_NewBranchId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
