force-app/main/default/flows/Job_TEMPORARY_Email_Alert_BOLT_on_Non_BOLT_Branch.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Admins</name>
        <label>Send Email to Admins</label>
        <locationX>308</locationX>
        <locationY>455</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>varT_Body</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>joe.mitchell@firstonsite.com, molly.drzazgowski@firstonsite.com, elyssa.fox@firstonsite.com, salesforce.alerts@firstonsite.com, terri.jiles@firstonsite.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>varT_Subject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Is_DataAdmin_Bypass_Flow</name>
        <label>Is DataAdmin Bypass Flow?</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Send_Email_to_Admins</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bypass_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.DataAdmin__c.TurnOffFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypass_Yes</label>
        </rules>
    </decisions>
    <description>This can be removed once all branches are on BOLT</description>
    <environments>Default</environments>
    <formulas>
        <name>forT_RecordLink</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Enterprise_Server_URL_510, FIND( &apos;/services&apos;, $Api.Enterprise_Server_URL_510))&amp;{!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Job - TEMPORARY - Email Alert BOLT on Non-BOLT Branch {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job - TEMPORARY - Email Alert BOLT on Non-BOLT Branch</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_DataAdmin_Bypass_Flow</targetReference>
        </connector>
        <filterFormula>AND(
NOT({!$Record.ServiceTerritory.Integrate_with_Bolt__c}),
{!$Record.Integrate_with_Bolt__c},
{!$Organization.Id} = &apos;00DOy000003H79p&apos;
)</filterFormula>
        <object>WorkOrder</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <textTemplates>
        <name>varT_Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;Bolt Sync has created a Bolt Job for a non-Bolt Branch:&lt;/strong&gt;&lt;span style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;a href=&quot;{!forT_RecordLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;{!$Record.WorkOrderNumber}&lt;/a&gt; - &lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: sans-serif; color: rgb(68, 68, 68);&quot;&gt;{!$Record.Branch_Name_Text__c}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: sans-serif;&quot;&gt;Have a great day!&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>varT_Subject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Bolt Sync has created a Bolt Job for a non-Bolt Branch: {!$Record.WorkOrderNumber} - {!$Record.Branch_Name_Text__c}</text>
    </textTemplates>
</Flow>
