force-app/main/default/flows/Job_Screen_Flow_Job_Commission_Widget_for_BDs.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Does_Current_User_Have_an_Employee_Commissions_Record_For_This_Job</name>
        <label>Does Current User Have an Employee Commissions Record For This Job?</label>
        <locationX>1238</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>DirectToJobCommission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Commission_No</defaultConnectorLabel>
        <rules>
            <name>Commission_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Employee_Commission_Records_For_Current_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Employee_Commission_Records</targetReference>
            </connector>
            <label>Commission_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_in_Legal_Collections_or_Bad_Debt</name>
        <label>Is in Legal Collections or Bad Debt?</label>
        <locationX>809</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Is_it_a_House_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No_LCBD</defaultConnectorLabel>
        <rules>
            <name>Yes_LCBD</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job_Commission_Record.Job_In_Legal__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Job_Commission_Record.Job_In_Collections__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Job_Commission_Record.Has_Bad_Debt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Legal_Collection_Bad_Debt_Message</targetReference>
            </connector>
            <label>Yes_LCBD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_a_House_Account</name>
        <label>Is it a House Account?</label>
        <locationX>1040</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Get_Employee_Commission_Records_For_Current_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>House_No</defaultConnectorLabel>
        <rules>
            <name>House_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job_Commission_Record.House_Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>House_Account_Message</targetReference>
            </connector>
            <label>House_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_Created_before_2024</name>
        <label>Is it Created before 2024?</label>
        <locationX>573</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Job_Commission_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>2024 and beyond</defaultConnectorLabel>
        <rules>
            <name>Before_2024</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job_Record.CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <dateTimeValue>2024-01-01T07:00:00.000Z</dateTimeValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Before_2024_Screen</targetReference>
            </connector>
            <label>Before_2024</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Job_Canceled</name>
        <label>Is Job Canceled?</label>
        <locationX>561</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Is_in_Legal_Collections_or_Bad_Debt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Canceled_No</defaultConnectorLabel>
        <rules>
            <name>Canceled_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job_Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Job_is_Canceled_Screen</targetReference>
            </connector>
            <label>Canceled_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_Job_Commission_Record</name>
        <label>Is there a Job Commission Record?</label>
        <locationX>1097</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>NoCommissions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>JobComm_No</defaultConnectorLabel>
        <rules>
            <name>JobComm_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Job_Commission_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Job_Canceled</targetReference>
            </connector>
            <label>JobComm_Yes</label>
        </rules>
    </decisions>
    <description>also known as the &quot;WOW Widget&quot;, this flow is always on and when a user opens a job, if they are on a related Employee Commission record, they will see the &quot;wow&quot; details of their Job Commission. If the Job is Legal, Collections, Bad Debt, or House, a different message will display.</description>
    <environments>Default</environments>
    <formulas>
        <name>forC_ActualCommissionAmount</name>
        <dataType>Currency</dataType>
        <expression>IF(
  ISBLANK({!Get_Employee_Commission_Records_For_Current_User.Actual_Commission_Amount__c}),
  0,
  {!Get_Employee_Commission_Records_For_Current_User.Actual_Commission_Amount__c}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forC_ActualDeposit1stPayAmount</name>
        <dataType>Currency</dataType>
        <expression>IF(TEXT({!Get_Job_Commission_Record.Actual_DepositFirst_Payment_Met__c})=&quot;Yes&quot;,{!Get_Employee_Commission_Records_For_Current_User.Actual_DepositFirst_Payment_Amount__c}, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forC_ActualQuickCollectAmount</name>
        <dataType>Currency</dataType>
        <expression>IF(TEXT({!Get_Job_Commission_Record.Actual_Quick_Collection_Met__c})=&quot;Yes&quot;,{!Get_Employee_Commission_Records_For_Current_User.Actual_Quick_Collection_Amount__c}, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forC_ActualSlowCollectAmount</name>
        <dataType>Currency</dataType>
        <expression>IF(TEXT({!Get_Job_Commission_Record.Actual_Slow_Collection_Met__c})=&quot;Yes&quot;,{!Get_Employee_Commission_Records_For_Current_User.Actual_Slow_Collection_Amount__c},0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forC_ARBalance</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Job_Commission_Record.Job__r.AR_Balance__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forC_CollectionPayment</name>
        <dataType>Currency</dataType>
        <expression>IF(TEXT({!Get_Job_Commission_Record.Actual_Quick_Collection_Met__c})=&quot;Yes&quot;, {!Get_Employee_Commission_Records_For_Current_User.Actual_Quick_Collection_Amount__c}, IF(TEXT({!Get_Job_Commission_Record.Actual_Slow_Collection_Met__c})=&quot;Yes&quot;, {!Get_Employee_Commission_Records_For_Current_User.Actual_Slow_Collection_Amount__c},
0))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>calculates the amount earned if the Deposit/1st Payment was met now based on current parameters - Job Amount, Split Multiplier, Margin Tier, Individual Percentage</description>
        <name>forC_CurrentValueDep1stPay</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Job_Commission_Record.Job_Amount__c} * {!Get_Job_Commission_Record.Split_Multiplier__c} * ({!Get_Job_Commission_Record.Deposit_First_Payment_Incentive__c}/100) * ({!Get_Employee_Commission_Records_For_Current_User.Individual_Split_Percentage__c}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>calculates the amount earned if the Quick Collection was met now based on current parameters - Job Amount, Split Multiplier, Margin Tier, Individual Percentage</description>
        <name>forC_CurrentValueQuickCollection</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Job_Commission_Record.Job_Amount__c} * {!Get_Job_Commission_Record.Split_Multiplier__c} * ({!Get_Job_Commission_Record.Quick_Collection_Incentive__c}/100) * ({!Get_Employee_Commission_Records_For_Current_User.Individual_Split_Percentage__c}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Calculates the amount earned if the Deposit/1st Payment was met now based on current parameters - Job Amount, Split Multiplier, Margin Tier, Individual Percentage</description>
        <name>forC_CurrentValueSlowCollection</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Job_Commission_Record.Job_Amount__c} * {!Get_Job_Commission_Record.Split_Multiplier__c} * ({!Get_Job_Commission_Record.Slow_Collection_Incentive__c}/100) * ({!Get_Employee_Commission_Records_For_Current_User.Individual_Split_Percentage__c}/100)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forC_DepositFirstPaymentAmount</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Job_Commission_Record.Job_DepositFirst_Payment_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forC_PaidToDate</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Job_Commission_Record.Job__r.Paid_to_Date__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forC_PotentialDepositFirstPaymentAmount</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Employee_Commission_Records_For_Current_User.Potential_Deposit_First_Payment_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forC_PotentialQuickCollectionAmount</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Employee_Commission_Records_For_Current_User.Potential_Quick_Collection_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forC_PotentialTotalCommissionsAmount</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Employee_Commission_Records_For_Current_User.Potential_Total_Commission_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forC_ROMContractedSales</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Job_Commission_Record.Job__r.ROM_Contracted_Sales__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forN_NumberDaysOverDeposit1stPaymentDueDate</name>
        <dataType>Number</dataType>
        <expression>{!forN_NumberDaysTo1stDepositPayment} - {!Get_Job_Commission_Record.Deposit1st_Payment_Incentive_Threshold__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forN_NumberDaysTo1stDepositPayment</name>
        <dataType>Number</dataType>
        <expression>{!Get_Job_Commission_Record.Job_Date_of_DepositFirst_Payment__c} - {!Get_Job_Commission_Record.Job_Start_Date__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>forN_SplitMultiplier</name>
        <dataType>Number</dataType>
        <expression>{!Get_Job_Commission_Record.Split_Multiplier__c}</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>forT_CollectionType</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Get_Job_Commission_Record.Actual_Quick_Collection_Met__c})=&quot;No&quot;,&quot;Slow&quot;,&quot;Quick&quot;)</expression>
    </formulas>
    <formulas>
        <name>forT_ExpectedMargin</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!Get_Job_Commission_Record.Job_Status__c})=&quot;Closed&quot;,&quot;Final &quot;,&quot;Expected &quot;)</expression>
    </formulas>
    <formulas>
        <name>forT_JobCommissionLink</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260})) &amp; {!Get_Job_Commission_Record.Id}</expression>
    </formulas>
    <formulas>
        <name>forT_LCBDissue</name>
        <dataType>String</dataType>
        <expression>If(
  AND(
    TEXT({!Get_Job_Commission_Record.Job_In_Legal__c}) = &quot;Yes&quot;,
    TEXT({!Get_Job_Commission_Record.Job_In_Collections__c}) = &quot;Yes&quot;
  ),
 &quot;as being in Legal and Collections&quot;,
  IF(
    TEXT({!Get_Job_Commission_Record.Job_In_Legal__c}) = &quot;Yes&quot;,
    &quot;as being in Legal&quot;,
    IF(
    TEXT({!Get_Job_Commission_Record.Job_In_Collections__c}) = &quot;Yes&quot;,
    &quot;as being in Collections&quot;, 
    &quot;&quot;
    )
  )
)
&amp;
IF(
  AND(
    TEXT({!Get_Job_Commission_Record.Has_Bad_Debt__c})=&quot;Yes&quot;,
    OR(
      TEXT({!Get_Job_Commission_Record.Job_In_Legal__c}) = &quot;Yes&quot;,
      TEXT({!Get_Job_Commission_Record.Job_In_Collections__c}) = &quot;Yes&quot;
    )
    ),
  &quot; and having Bad Debt&quot;,
  IF(
       TEXT({!Get_Job_Commission_Record.Has_Bad_Debt__c})=&quot;Yes&quot;,
        &quot;as having Bad Debt&quot;,
        &quot;&quot;
)
)</expression>
    </formulas>
    <interviewLabel>Job - Screen Flow - Job Commission Widget for BDs {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job - Screen Flow - Job Commission Widget for BDs</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Employee_Commission_Records</name>
        <label>Get All Employee Commission Records</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Employee_Specific_Commission_Display</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job_Commission__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Job_Commission_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employee_Commission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Employee_Commission_Records_For_Current_User</name>
        <label>Get Employee Commission Records For Current User</label>
        <locationX>1238</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Current_User_Have_an_Employee_Commissions_Record_For_This_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Employee__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Employee_Commission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Commission_Record</name>
        <label>Get Job Commission Record</label>
        <locationX>1097</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_Job_Commission_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job_Commission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Record</name>
        <label>Get Job Record</label>
        <locationX>573</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_it_Created_before_2024</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Status</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Before_2024_Screen</name>
        <label>Before 2024 Screen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>per2024message</name>
            <extensionName>c:customHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>textOnly</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtColor</name>
                <value>
                    <stringValue>white</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtFont</name>
                <value>
                    <stringValue>Arial</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isBold</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtWeight</name>
                <value>
                    <stringValue>400</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerHeight</name>
                <value>
                    <numberValue>40.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBgColor</name>
                <value>
                    <stringValue>#999999</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBrdr</name>
                <value>
                    <stringValue>8px 8px 8px 8px dotted black</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerMargin</name>
                <value>
                    <stringValue>5px 5px 5px 5px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerPadding</name>
                <value>
                    <stringValue>12px 12px 12px 12px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerText</name>
                <value>
                    <stringValue>NOTE: This Job was created before 2024 and therefore is not part of the new commission plan.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderNumber</name>
                <value>
                    <numberValue>7.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBrdrRadius</name>
                <value>
                    <numberValue>50.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DirectToJobCommission</name>
        <label>Direct To Job Commission</label>
        <locationX>1370</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NotEmployeeBanner</name>
            <extensionName>c:customHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>textOnly</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderNumber</name>
                <value>
                    <numberValue>6.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerText</name>
                <value>
                    <stringValue>You are not a commissionable employee on this Job. See Job Commission record for more detail.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtColor</name>
                <value>
                    <stringValue>white</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtFont</name>
                <value>
                    <stringValue>Arial</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isBold</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtWeight</name>
                <value>
                    <stringValue>400</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerHeight</name>
                <value>
                    <numberValue>40.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBgColor</name>
                <value>
                    <stringValue>#0392cf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBrdrRadius</name>
                <value>
                    <numberValue>15.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBrdr</name>
                <value>
                    <stringValue>8px 8px 8px 8px dotted black</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerMargin</name>
                <value>
                    <stringValue>5px 5px 5px 5px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerPadding</name>
                <value>
                    <stringValue>12px 12px 12px 12px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Employee_Specific_Commission_Display</name>
        <label>Employee Specific Commission Display</label>
        <locationX>1106</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confetti</name>
            <extensionName>c:FlowConfettiCMP</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>confettiEffect</name>
                <value>
                    <stringValue>Winner</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Job_Commission_Record.Margin_Tier__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Tier_1</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Job_Commission_Record.Actual_DepositFirst_Payment_Met__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Job_Commission_Record.Actual_Quick_Collection_Met__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Yes</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tier1Banner</name>
            <extensionName>c:customHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>textOnly</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerText</name>
                <value>
                    <stringValue>{!texT_Job_Tier1_Banner}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtColor</name>
                <value>
                    <stringValue>#ffff00</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isBold</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtWeight</name>
                <value>
                    <stringValue>900</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerHeight</name>
                <value>
                    <numberValue>75.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBgColor</name>
                <value>
                    <stringValue>#008000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBrdr</name>
                <value>
                    <stringValue>6px dotted yellow</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerMargin</name>
                <value>
                    <stringValue>5px 5px 5px 5px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerPadding</name>
                <value>
                    <stringValue>15px 15px 15px 15px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Utility:ribbon</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconPadding</name>
                <value>
                    <stringValue>50px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageType</name>
                <value>
                    <stringValue>lightningIcon</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticResourceImageHeight</name>
                <value>
                    <numberValue>75.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticResourceImageWidth</name>
                <value>
                    <numberValue>75.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBrdrRadius</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderNumber</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtFont</name>
                <value>
                    <stringValue>Arial</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Job_Commission_Record.Margin_Tier__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Tier_1</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tier2Banner</name>
            <extensionName>c:customHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>textOnly</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderNumber</name>
                <value>
                    <numberValue>2.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtColor</name>
                <value>
                    <stringValue>#008000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtFont</name>
                <value>
                    <stringValue>Arial</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isBold</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtWeight</name>
                <value>
                    <stringValue>900</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerHeight</name>
                <value>
                    <numberValue>75.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBgColor</name>
                <value>
                    <stringValue>#ffff00</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBrdrRadius</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBrdr</name>
                <value>
                    <stringValue>6px dotted green</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerMargin</name>
                <value>
                    <stringValue>5px 5px 5px 5px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerPadding</name>
                <value>
                    <stringValue>15px 15px 15px 15px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerText</name>
                <value>
                    <stringValue>{!texT_Job_Tier2_Banner}</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Job_Commission_Record.Margin_Tier__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Tier_2</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tier3Banner</name>
            <extensionName>c:customHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>textOnly</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderNumber</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerText</name>
                <value>
                    <stringValue>{!texT_Job_Tier3_Banner}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtColor</name>
                <value>
                    <stringValue>#ff0000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtFont</name>
                <value>
                    <stringValue>Arial</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isBold</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtWeight</name>
                <value>
                    <stringValue>900</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerHeight</name>
                <value>
                    <numberValue>75.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBgColor</name>
                <value>
                    <stringValue>#ffc04d</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBrdrRadius</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBrdr</name>
                <value>
                    <stringValue>6px dotted red</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerMargin</name>
                <value>
                    <stringValue>5px 5px 5px 5px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerPadding</name>
                <value>
                    <stringValue>15px 15px 15px 15px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Job_Commission_Record.Margin_Tier__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Tier_3</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tier4Banner</name>
            <extensionName>c:customHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>textOnly</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderNumber</name>
                <value>
                    <numberValue>4.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerText</name>
                <value>
                    <stringValue>{!texT_Job_Tier4_Banner}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtColor</name>
                <value>
                    <stringValue>#ffc04d</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtFont</name>
                <value>
                    <stringValue>Arial</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isBold</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtWeight</name>
                <value>
                    <stringValue>900</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerHeight</name>
                <value>
                    <numberValue>75.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBgColor</name>
                <value>
                    <stringValue>#ff0000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBrdrRadius</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBrdr</name>
                <value>
                    <stringValue>6px dotted orange</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerMargin</name>
                <value>
                    <stringValue>5px 5px 5px 5px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerPadding</name>
                <value>
                    <stringValue>15px 15px 15px 15px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Job_Commission_Record.Margin_Tier__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Tier_4</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Job_Commission_Record.Job_Margin__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Job_Commission_Record.Job_Margin__c</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tier0Banner</name>
            <extensionName>c:customHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>textOnly</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderNumber</name>
                <value>
                    <numberValue>5.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerText</name>
                <value>
                    <stringValue>{!texT_Job_Tier0_Banner}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtColor</name>
                <value>
                    <stringValue>#000000</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtFont</name>
                <value>
                    <stringValue>Arial</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isBold</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtWeight</name>
                <value>
                    <stringValue>900</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerHeight</name>
                <value>
                    <numberValue>75.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBgColor</name>
                <value>
                    <stringValue>#fffff</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBrdrRadius</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBrdr</name>
                <value>
                    <stringValue>6px dotted black</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerMargin</name>
                <value>
                    <stringValue>5px 5px 5px 5px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerPadding</name>
                <value>
                    <stringValue>15px 15px 15px 15px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Job_Commission_Record.Margin_Tier__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Job_Commission_Record.Job_Margin__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Job_Commission_Record.Job_Margin__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Employee_Specific_Commission_Display_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Employee_Specific_Commission_Display_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SplitBanner</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;SPLIT COMMISSIONS&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Your split percentage share of the commissions is&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;{!Get_Employee_Commission_Records_For_Current_User.Individual_Split_Percentage__c}%&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Here&apos;s the breakdown:&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Splits</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Employee_Commission__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Splits</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_All_Employee_Commission_Records</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Employee_Name__c&quot;,&quot;guid&quot;:&quot;column-c34b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Employee&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Employee Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Individual_Split_Percentage__c&quot;,&quot;guid&quot;:&quot;column-9a72&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Split %&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Individual Split Percentage&quot;,&quot;type&quot;:&quot;customPercent&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>SplitMultiplierMessage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Split Multiplier:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;{!forN_SplitMultiplier}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Employee_Specific_Commission_Display_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>QPJobStartDateIsNull</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;DEPOSIT/1ST PAYMENT&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This job must be populated with a &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Start Date &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;for the Deposit/First Payment Incentive to begin tracking.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Job_Start_Date__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>QPInProgress</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;DEPOSIT/1ST PAYMENT&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(3, 146, 207); font-size: 72px;&quot;&gt;{!Get_Job_Commission_Record.Deposit_FirstPayment_Incent_Days_Remain__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(3, 146, 207); font-size: 12px;&quot;&gt;Days Remaining&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(3, 146, 207); font-size: 12px;&quot;&gt;Job Start Date:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(3, 146, 207); font-size: 12px;&quot;&gt;{!Get_Job_Commission_Record.Job_Start_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(3, 146, 207); font-size: 12px;&quot;&gt;Deposit/First Payment Incentive Days:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(3, 146, 207); font-size: 12px;&quot;&gt;{!Get_Job_Commission_Record.Deposit1st_Payment_Incentive_Threshold__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(3, 146, 207); font-size: 12px;&quot;&gt;Deposit/First Payment Due Date: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(3, 146, 207); font-size: 12px;&quot;&gt;{!Get_Job_Commission_Record.DepositFirst_Payment_Incentive_Due_Date__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Job_Start_Date__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Actual_DepositFirst_Payment_Met__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.DepositFirst_Payment_Incentive_Due_Date__c</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <elementReference>$Flow.CurrentDate</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>QPQualified2</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;&lt;u&gt;DEPOSIT/1ST PAYMENT&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(86, 134, 46);&quot;&gt;Great Job, {!Get_Employee_Commission_Records_For_Current_User.Employee__r.FirstName}! You earned the Deposit/First Payment Incentive which adds&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(86, 134, 46);&quot;&gt;{!forC_ActualDeposit1stPayAmount}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(86, 134, 46);&quot;&gt;to your commissions for this Job.&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(86, 134, 46);&quot;&gt;Deposit/First Payment Due Date:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(86, 134, 46);&quot;&gt;{!Get_Job_Commission_Record.DepositFirst_Payment_Incentive_Due_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(86, 134, 46); font-size: 12px;&quot;&gt;Deposit/First Payment Received Date:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(86, 134, 46);&quot;&gt;{!Get_Job_Commission_Record.Job_Date_of_DepositFirst_Payment__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(86, 134, 46);&quot;&gt;Tier Basis Points:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(86, 134, 46);&quot;&gt;{!Get_Job_Commission_Record.Actual_Deposit_1st_Payment_Incentive__c}%&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(86, 134, 46);&quot;&gt;Deposit/First Payment Amount:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(86, 134, 46);&quot;&gt;{!forC_DepositFirstPaymentAmount}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Actual_DepositFirst_Payment_Met__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>QPDisqualified2</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;&lt;u&gt;DEPOSIT/1ST &lt;/u&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;PAYMENT&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(238, 64, 53);&quot;&gt;The Deposit/First Payment Incentive was not earned. It was valued at {!Get_Job_Commission_Record.Deposit_First_Payment_Incentive__c}% / {!forC_CurrentValueDep1stPay}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(238, 64, 53);&quot;&gt;Job Start Date:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(238, 64, 53);&quot;&gt;{!Get_Job_Commission_Record.Job_Start_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(238, 64, 53); font-size: 12px;&quot;&gt;Deposit/First Payment Due Date:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(238, 64, 53); font-size: 12px;&quot;&gt;{!Get_Job_Commission_Record.DepositFirst_Payment_Incentive_Due_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(238, 64, 53); font-size: 12px;&quot;&gt;Deposit/First Payment Received Date:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(238, 64, 53); font-size: 12px;&quot;&gt;n/a&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(238, 64, 53); font-size: 12px;&quot;&gt;Days to Deposit/First Payment Received Date:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(238, 64, 53); font-size: 12px;&quot;&gt;n/a&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(238, 64, 53); font-size: 12px;&quot;&gt;Days over threshold:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(238, 64, 53); font-size: 12px;&quot;&gt;n/a&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Actual_DepositFirst_Payment_Met__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Job_Start_Date__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.DepositFirst_Payment_Incentive_Due_Date__c</leftValueReference>
                            <operator>LessThan</operator>
                            <rightValue>
                                <elementReference>$Flow.CurrentDate</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Job_Date_of_DepositFirst_Payment__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>QPDisqualified3</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;&lt;u&gt;DEPOSIT/1ST &lt;/u&gt;&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;PAYMENT&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(238, 64, 53); font-size: 14px;&quot;&gt;The Deposit/First Payment Incentive was not earned. &lt;/strong&gt;&lt;strong style=&quot;color: rgb(238, 64, 53); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;It was valued at {!Get_Job_Commission_Record.Deposit_First_Payment_Incentive__c}% / {!forC_CurrentValueDep1stPay}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(238, 64, 53); font-size: 12px;&quot;&gt;Job Start Date:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(238, 64, 53); font-size: 12px;&quot;&gt;{!Get_Job_Commission_Record.Job_Start_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(238, 64, 53);&quot;&gt;Deposit/First Payment Due Date:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(238, 64, 53);&quot;&gt;{!Get_Job_Commission_Record.DepositFirst_Payment_Incentive_Due_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(238, 64, 53);&quot;&gt;Deposit/First Payment Received Date:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(238, 64, 53);&quot;&gt;{!Get_Job_Commission_Record.Job_Date_of_DepositFirst_Payment__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(238, 64, 53);&quot;&gt;Days to Deposit/First Payment Received Date:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(238, 64, 53);&quot;&gt;{!forN_NumberDaysTo1stDepositPayment}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(238, 64, 53);&quot;&gt;Days over threshold:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(238, 64, 53);&quot;&gt;{!forN_NumberDaysOverDeposit1stPaymentDueDate}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Actual_DepositFirst_Payment_Met__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Job_Start_Date__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.DepositFirst_Payment_Incentive_Due_Date__c</leftValueReference>
                            <operator>LessThan</operator>
                            <rightValue>
                                <elementReference>$Flow.CurrentDate</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Job_Date_of_DepositFirst_Payment__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Employee_Specific_Commission_Display_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>QCNoWorkCompleteDate</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;QUICK COLLECTION&lt;/u&gt;&lt;/strong&gt;&lt;span style=&quot;font-size: 8px;&quot;&gt;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;This job must be populated with a &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Work Complete Date &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;for the Quick Collection Incentive to begin tracking.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Job_Work_Complete_Date__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>QCInProgess</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt; QUICK COLLECTION&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(3, 146, 207); font-size: 72px;&quot;&gt;{!Get_Job_Commission_Record.Quick_Collection_Incentive_Days_Remain__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(3, 146, 207); font-size: 12px;&quot;&gt;Days Remaining&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot; style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(3, 146, 207); font-size: 12px;&quot;&gt;Work Complete Date:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(3, 146, 207);&quot;&gt;{!Get_Job_Commission_Record.Job_Work_Complete_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(3, 146, 207); font-size: 12px;&quot;&gt;Quick Collection Incentive Days:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(3, 146, 207);&quot;&gt;{!Get_Job_Commission_Record.Collection_Incentive_Threshold__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(3, 146, 207); font-size: 12px;&quot;&gt;Quick Collection Due Date:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(3, 146, 207);&quot;&gt;{!Get_Job_Commission_Record.Quick_Collection_Incentive_Due_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(3, 146, 207);&quot;&gt;ROM Contracted Sales:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(3, 146, 207);&quot;&gt;{!forC_ROMContractedSales}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(3, 146, 207);&quot;&gt;Paid to Date:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(3, 146, 207);&quot;&gt;{!forC_PaidToDate}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(3, 146, 207);&quot;&gt;AR Balance:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(3, 146, 207);&quot;&gt;{!forC_ARBalance}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Job_Work_Complete_Date__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Actual_Quick_Collection_Met__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Quick_Collection_Incentive_Due_Date__c</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <elementReference>$Flow.CurrentDate</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>QCWinner</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;QUICK COLLECTION&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;&lt;u&gt;&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(86, 134, 46);&quot;&gt;Outstanding, {!Get_Employee_Commission_Records_For_Current_User.Employee__r.FirstName}! You earned the Quick Collection Incentive which adds&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px; color: rgb(86, 134, 46);&quot;&gt;{!forC_ActualQuickCollectAmount}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(86, 134, 46);&quot;&gt;to your commissions for this Job.&lt;/strong&gt;&lt;/p&gt;&lt;p class=&quot;ql-indent-1&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(86, 134, 46);&quot;&gt;Quick Collection Due Date:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(86, 134, 46);&quot;&gt;{!Get_Job_Commission_Record.Quick_Collection_Incentive_Due_Date__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(86, 134, 46); font-size: 12px;&quot;&gt;Job Fully Collected Date:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(86, 134, 46); font-size: 12px;&quot;&gt;{!Get_Job_Commission_Record.Job_Date_Fully_Collected__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(86, 134, 46); font-size: 12px;&quot;&gt;Tier Basis Points&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(86, 134, 46);&quot;&gt;{!Get_Job_Commission_Record.Actual_Quick_Collection_Incentive__c}%&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(86, 134, 46); font-size: 12px;&quot;&gt;ROM Contracted Sales:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(86, 134, 46);&quot;&gt;{!forC_ROMContractedSales}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Actual_Quick_Collection_Met__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>QCSLow</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;QUICK COLLECTION&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(238, 64, 53); font-size: 14px;&quot;&gt;The Quick Collection Incentive was not earned. &lt;/strong&gt;&lt;strong style=&quot;color: rgb(238, 64, 53); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;It was valued at {!Get_Job_Commission_Record.Quick_Collection_Incentive__c}% / {!forC_CurrentValueQuickCollection}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(238, 64, 53); font-size: 12px;&quot;&gt;ROM Contracted Sales:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(238, 64, 53); font-size: 12px;&quot;&gt;{!forC_ROMContractedSales}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(238, 64, 53); font-size: 12px;&quot;&gt;Quick Collection Due Date:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(238, 64, 53); font-size: 12px;&quot;&gt;{!Get_Job_Commission_Record.Quick_Collection_Incentive_Due_Date__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Job_Work_Complete_Date__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Actual_Quick_Collection_Met__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Quick_Collection_Incentive_Due_Date__c</leftValueReference>
                            <operator>LessThan</operator>
                            <rightValue>
                                <elementReference>$Flow.CurrentDate</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>qcFullyColl</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(86, 134, 46); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;This job qualifies for the Slow Collection Incentive  which gives you&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(86, 134, 46); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;{!Get_Job_Commission_Record.Actual_Slow_Collection_Incentive__c}% / {!forC_ActualSlowCollectAmount} &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(86, 134, 46); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;added to your Collection-Based Calculation for this Job.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(86, 134, 46);&quot;&gt;Tier Basis Points&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(86, 134, 46); font-size: 12px;&quot;&gt;{!Get_Job_Commission_Record.Actual_Slow_Collection_Incentive__c}%&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(86, 134, 46); font-size: 12px;&quot;&gt;Job Fully Collected Date:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(86, 134, 46);&quot;&gt;{!Get_Job_Commission_Record.Job_Date_Fully_Collected__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Actual_Slow_Collection_Met__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>qcarbal</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Once fully collected, this job will qualify for the Slow Collection Incentive.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;AR Balance:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!forC_ARBalance}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Actual_Quick_Collection_Met__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Job_Work_Complete_Date__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Actual_Slow_Collection_Met__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Quick_Collection_Incentive_Due_Date__c</leftValueReference>
                            <operator>LessThan</operator>
                            <rightValue>
                                <elementReference>$Flow.CurrentDate</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Employee_Specific_Commission_Display_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>del7</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;POTENTIAL EARNINGS &lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;The &lt;/span&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Incentive Amount&lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; is calculated by multiplying four metrics:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Job Amount: &lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;{!forC_ROMContractedSales}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Split Multiplier: &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!forN_SplitMultiplier}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: var(--slds-g-color-neutral-base-100, var(--lwc-colorBackgroundInput,rgb(255, 255, 255))); color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68))); font-size: 12px;&quot;&gt;Individual Split Percentage: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;{!Get_Employee_Commission_Records_For_Current_User.Individual_Split_Percentage__c}%&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;Incentive Percentage:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;* Deposit/1st Payment - {!Get_Job_Commission_Record.Deposit_First_Payment_Incentive__c}% &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;* Quick Collection - {!Get_Job_Commission_Record.Quick_Collection_Incentive__c}% &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;* Slow Collection - {!Get_Job_Commission_Record.Slow_Collection_Incentive__c}% &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;&lt;u&gt;Current Value of Incentives:&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>1</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Job_Status__c</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Closed</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>potentialDep1st</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Deposit/First Payment Incentive&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!forC_ROMContractedSales} &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;x&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; {!forN_SplitMultiplier} &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;x &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Employee_Commission_Records_For_Current_User.Individual_Split_Percentage__c}% &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;x &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Job_Commission_Record.Deposit_First_Payment_Incentive__c}% =&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;{!forC_CurrentValueDep1stPay}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>(1 OR 2) AND (3 OR (4 AND (5 OR 6)))</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Employee_Commission_Records_For_Current_User.Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Open</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Employee_Commission_Records_For_Current_User.Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Rejected</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Actual_DepositFirst_Payment_Met__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Actual_DepositFirst_Payment_Met__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.DepositFirst_Payment_Incentive_Due_Date__c</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <elementReference>$Flow.CurrentDate</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Job_Start_Date__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>potentquick</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Quick Collection Incentive&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;{!forC_ROMContractedSales} &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;x&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt; {!forN_SplitMultiplier} &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;x &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;{!Get_Employee_Commission_Records_For_Current_User.Individual_Split_Percentage__c}% &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 12px;&quot;&gt;x &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Job_Commission_Record.Quick_Collection_Incentive__c}% &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68)));&quot;&gt;=&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;{!forC_CurrentValueQuickCollection}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>(1 OR 2) AND (3 OR (4 AND (5 OR 6)))</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Employee_Commission_Records_For_Current_User.Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Open</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Employee_Commission_Records_For_Current_User.Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Rejected</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Actual_Quick_Collection_Met__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Yes</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Actual_Quick_Collection_Met__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Quick_Collection_Incentive_Due_Date__c</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <elementReference>$Flow.CurrentDate</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Job_Work_Complete_Date__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>potentialslow</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;Slow Collection Incentive&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!forC_ROMContractedSales} &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;x&lt;/strong&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt; {!forN_SplitMultiplier}&lt;/span&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt; x &lt;/strong&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Employee_Commission_Records_For_Current_User.Individual_Split_Percentage__c}%&lt;/span&gt;&lt;strong style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt; x &lt;/strong&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Job_Commission_Record.Slow_Collection_Incentive__c}% &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: var(--slds-g-color-neutral-base-30, var(--lwc-colorTextWeak,rgb(68, 68, 68)));&quot;&gt;=&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;{!forC_CurrentValueSlowCollection}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>(1 OR 2) AND 3 AND 4 AND 5</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Employee_Commission_Records_For_Current_User.Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Open</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Employee_Commission_Records_For_Current_User.Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Rejected</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Actual_Quick_Collection_Met__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Job_Work_Complete_Date__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Job_Commission_Record.Quick_Collection_Incentive_Due_Date__c</leftValueReference>
                            <operator>LessThan</operator>
                            <rightValue>
                                <elementReference>$Flow.CurrentDate</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>potentialtier1</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Shows the maximum amount you can earn if this is a Tier 1 job and all incentives are met.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;{!forC_PotentialTotalCommissionsAmount}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Potential Deposit/First Payment Amount:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;{!forC_PotentialDepositFirstPaymentAmount}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Potential &lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0);&quot;&gt;Quick Collection Amount:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!forC_PotentialQuickCollectionAmount}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>$Flow.CurrentDate</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <dateValue>2024-01-01</dateValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>appiopweifd</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;&lt;u&gt;FINALIZED EARNINGS&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;The final actual amount you earned&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 24px;&quot;&gt;{!forC_ActualCommissionAmount}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Deposit/First&lt;/span&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt; Payment: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;{!forC_ActualDeposit1stPayAmount}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;{!forT_CollectionType} Collection: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;{!forC_CollectionPayment}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Commission Payment Date:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 12px;&quot;&gt;{!Get_Employee_Commission_Records_For_Current_User.Commission_Payment_Date__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Employee_Commission_Records_For_Current_User.Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Finalized</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Employee_Commission_Records_For_Current_User.Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Approved</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Employee_Commission_Records_For_Current_User.Status__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Paid</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>House_Account_Message</name>
        <label>House Account Message</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>HouseBanner</name>
            <extensionName>c:customHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>textOnly</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerText</name>
                <value>
                    <stringValue>{!texT_HouseBanner}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtColor</name>
                <value>
                    <stringValue>white</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isBold</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtWeight</name>
                <value>
                    <stringValue>400</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBgColor</name>
                <value>
                    <stringValue>#f37736</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBrdrRadius</name>
                <value>
                    <numberValue>15.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBrdr</name>
                <value>
                    <stringValue>8px 8px 8px 8px dotted black</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerMargin</name>
                <value>
                    <stringValue>5px 5px 5px 5px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerPadding</name>
                <value>
                    <stringValue>12px 12px 12px 12px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderNumber</name>
                <value>
                    <numberValue>8.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtFont</name>
                <value>
                    <stringValue>Arial</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerHeight</name>
                <value>
                    <numberValue>40.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Job_is_Canceled_Screen</name>
        <label>Job is Canceled Screen</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>JobIsCanceled</name>
            <extensionName>c:customHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>textOnly</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderNumber</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerText</name>
                <value>
                    <stringValue>NOTE: This Job is canceled</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtColor</name>
                <value>
                    <stringValue>white</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtFont</name>
                <value>
                    <stringValue>Arial</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isBold</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtWeight</name>
                <value>
                    <stringValue>400</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerHeight</name>
                <value>
                    <numberValue>40.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBgColor</name>
                <value>
                    <stringValue>black</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBrdrRadius</name>
                <value>
                    <numberValue>15.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBrdr</name>
                <value>
                    <stringValue>8px 8px 8px 8px dotted white</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerMargin</name>
                <value>
                    <stringValue>5px 5px 5px 5px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerPadding</name>
                <value>
                    <stringValue>12px 12px 12px 12px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Legal_Collection_Bad_Debt_Message</name>
        <label>Legal Collection Bad Debt Message</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>LCBD_banner</name>
            <extensionName>c:customHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>textOnly</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isBold</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtWeight</name>
                <value>
                    <stringValue>400</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerHeight</name>
                <value>
                    <numberValue>40.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBgColor</name>
                <value>
                    <stringValue>#ee4035</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBrdr</name>
                <value>
                    <stringValue>8px 8px 8px 8px dotted black</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerMargin</name>
                <value>
                    <stringValue>5px 5px 5px 5px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerPadding</name>
                <value>
                    <stringValue>12px 12px 12px 12px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtColor</name>
                <value>
                    <stringValue>white</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerText</name>
                <value>
                    <stringValue>{!texT_LCBDmessage}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBrdrRadius</name>
                <value>
                    <numberValue>15.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderNumber</name>
                <value>
                    <numberValue>9.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtFont</name>
                <value>
                    <stringValue>Arial</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>NoCommissions</name>
        <label>No Commissions</label>
        <locationX>1634</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoJobComms</name>
            <extensionName>c:customHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>textOnly</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderNumber</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerText</name>
                <value>
                    <stringValue>NOTE: No Job Commission details are available at this time.</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtColor</name>
                <value>
                    <stringValue>white</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtFont</name>
                <value>
                    <stringValue>Arial</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isBold</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerTxtWeight</name>
                <value>
                    <stringValue>400</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerHeight</name>
                <value>
                    <numberValue>40.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBgColor</name>
                <value>
                    <stringValue>black</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBrdrRadius</name>
                <value>
                    <numberValue>15.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerBrdr</name>
                <value>
                    <stringValue>8px 8px 8px 8px dotted white</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerMargin</name>
                <value>
                    <stringValue>5px 5px 5px 5px</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>headerPadding</name>
                <value>
                    <stringValue>12px 12px 12px 12px</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>447</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Job_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>texT_HouseBanner</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>NOTE: This Job is for a House Account and therefore is not commissionable.</text>
    </textTemplates>
    <textTemplates>
        <name>texT_Job_Tier0_Banner</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>STAY TUNED! Your Job&apos;s Margin and Tier have not yet been calculated.</text>
    </textTemplates>
    <textTemplates>
        <name>texT_Job_Tier1_Banner</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Job&apos;s {!forT_ExpectedMargin}Margin is at {!Get_Job_Commission_Record.Job_Margin__c}% and Tier 1 for Commissions.</text>
    </textTemplates>
    <textTemplates>
        <name>texT_Job_Tier2_Banner</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Job&apos;s {!forT_ExpectedMargin}Margin is at {!Get_Job_Commission_Record.Job_Margin__c}% and Tier 2 for Commissions.</text>
    </textTemplates>
    <textTemplates>
        <name>texT_Job_Tier3_Banner</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Job&apos;s {!forT_ExpectedMargin}Margin is at {!Get_Job_Commission_Record.Job_Margin__c}% and Tier 3 for Commissions.</text>
    </textTemplates>
    <textTemplates>
        <name>texT_Job_Tier4_Banner</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Your Job&apos;s {!forT_ExpectedMargin}Margin is at {!Get_Job_Commission_Record.Job_Margin__c}% and Tier 4 for Commissions.</text>
    </textTemplates>
    <textTemplates>
        <name>texT_LCBDmessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>ALERT: This job is listed {!forT_LCBDissue} and therefore is not commissionable.</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
