force-app/main/default/flows/Job_Commission_After_Save_C_Update_Job_with_Job_Commission_Id.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Job_Commission_on_Job</name>
        <label>Set Job Commission on Job</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>varR_Job.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Job__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_Job.Job_Commission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Job</targetReference>
        </connector>
    </assignments>
    <description>STAR-5568 Updates the job with the Job Commission Id and unchecks update job commission</description>
    <environments>Default</environments>
    <interviewLabel>Job Commission - After Save C - Update Job with Job Commission Id {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job Commission - After Save C - Update Job with Job Commission Id</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Job</name>
        <label>Update Job</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputReference>varR_Job</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Job_Commission_on_Job</targetReference>
        </connector>
        <filterFormula>{!$Setup.DataAdmin__c.TurnOffFlow__c} = false &amp;&amp;
ISBLANK({!$Record.Job__r.Job_Commission__c})</filterFormula>
        <object>Job_Commission__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_Job</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
