force-app/main/default/flows/Job_Subflow_Sync_BDsAndEmployeCommissions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_to_Create_List</name>
        <label>Add to Create List</label>
        <locationX>402</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>varR_EmployeeCommissionsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Calculated_Employee_Commissions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Calculated_Employee_Commissions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Delete_List</name>
        <label>Add to Delete List</label>
        <locationX>1194</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varR_EmployeeCommissionsToDelete</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Employee_Commissions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Employee_Commissions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Keep_List</name>
        <label>Add to Keep List</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Employee_Commissions.Last_Auto_Update_From_BD_EC_Sync__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forDT_Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_EmployeeCommissionsAutoCalculate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Employee_Commissions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Employee_Commissions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Update_List</name>
        <label>Add to Update List</label>
        <locationX>666</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>varR_EmployeeCommissionsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Calculated_Employee_Commissions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Calculated_Employee_Commissions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Set_BD_1_EC</name>
        <label>Set BD 2 EC</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>varR_EmployeeCommission.Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_newJob.BD_Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_EmployeeCommission.Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_newJob.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_EmployeeCommission.Job_Commission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_newJob.Job_Commission__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_EmployeeCommission.Last_Auto_Update_From_BD_EC_Sync__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forDT_Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_EmployeeCommissionsAutoCalculate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_EmployeeCommission</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_EC_for_BD_3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Matched_BD_1</name>
        <label>Matched BD 1</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varB_MatchBD1</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Keep_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Matched_BD_2</name>
        <label>Matched BD 2</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varB_MatchBD2</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_to_Keep_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Matched_BD_3</name>
        <label>Matched BD 3</label>
        <locationX>930</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varB_MatchBD3</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Add_to_Keep_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BD_1_EC</name>
        <label>Set BD 1 EC</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <assignmentItems>
            <assignToReference>varR_EmployeeCommission.Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_newJob.BD_Account_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_EmployeeCommission.Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_newJob.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_EmployeeCommission.Job_Commission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_newJob.Job_Commission__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_EmployeeCommission.Last_Auto_Update_From_BD_EC_Sync__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forDT_Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_EmployeeCommissionsAutoCalculate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_EmployeeCommission</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_EC_for_BD_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_BD_3_EC</name>
        <label>Set BD 3 EC</label>
        <locationX>182</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>varR_EmployeeCommission.Employee__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_newJob.BD_Account_Manager_3__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_EmployeeCommission.Job__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_newJob.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_EmployeeCommission.Job_Commission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_newJob.Job_Commission__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_EmployeeCommission.Last_Auto_Update_From_BD_EC_Sync__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forDT_Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_EmployeeCommissionsAutoCalculate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varR_EmployeeCommission</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Job_Commission</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Job_Commission_with_Number_of_Employees</name>
        <label>Update Job Commission with Number of Employees</label>
        <locationX>314</locationX>
        <locationY>1958</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCommission</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Job_Commission</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Number_of_Commissionable_Employees__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varR_EmployeeCommissionsAutoCalculate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Job_Commission</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Create_EC_for_BD_1</name>
        <label>Create EC for BD 1?</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Create_EC_for_BD_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_BD_1_as_EC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_MatchBD1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_newJob.BD_Account_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BD_1_EC</targetReference>
            </connector>
            <label>Create BD 1 as EC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_EC_for_BD_2</name>
        <label>Create EC for BD 2?</label>
        <locationX>314</locationX>
        <locationY>1250</locationY>
        <defaultConnector>
            <targetReference>Create_EC_for_BD_3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_BD_2_as_EC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_MatchBD2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_newJob.BD_Account_Manager_2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Set_BD_1_EC</targetReference>
            </connector>
            <label>Create BD 2 as EC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_EC_for_BD_3</name>
        <label>Create EC for BD 3?</label>
        <locationX>314</locationX>
        <locationY>1550</locationY>
        <defaultConnector>
            <targetReference>Get_Job_Commission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_BD_3_as_EC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varB_MatchBD3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_newJob.BD_Account_Manager_3__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Set_BD_3_EC</targetReference>
            </connector>
            <label>Create BD 3 as EC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Employee_Commissions</name>
        <label>Create Employee Commissions?</label>
        <locationX>314</locationX>
        <locationY>2882</locationY>
        <defaultConnector>
            <targetReference>Update_Employee_Commissions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Employee_Commissions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_EmployeeCommissionsToCreate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Employee_Commissions</targetReference>
            </connector>
            <label>Yes - Create Employee Commissions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_Vs_Update</name>
        <label>Create Vs. Update?</label>
        <locationX>534</locationX>
        <locationY>2390</locationY>
        <defaultConnector>
            <targetReference>Add_to_Update_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Calculated_Employee_Commissions.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_to_Create_List</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delete_Employee_Commissions</name>
        <label>Delete Employee Commissions?</label>
        <locationX>314</locationX>
        <locationY>3578</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Delete_Employee_Commissions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_EmployeeCommissionsToDelete</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Old_Employee_Commissions</targetReference>
            </connector>
            <label>Yes - Delete Employee Commissions</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Custom_Splits_or_Non_Commissionable_Sales_BDs</name>
        <label>Has Custom Splits or Non-Commissionable Sales BDs?</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Don&apos;t Sync BD/EC</defaultConnectorLabel>
        <rules>
            <name>Sync_BD_EC</name>
            <conditionLogic>1 AND (2 OR 5 )AND (3 OR 6) AND (4 OR 7) AND (8 OR 11) AND (9 OR 12) AND (10 OR 13)</conditionLogic>
            <conditions>
                <leftValueReference>varR_newJob.Job_Commission__r.Custom_Splits__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_newJob.BD_Account_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_newJob.BD_Account_Manager_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_newJob.BD_Account_Manager_3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_newJob.BD_Account_Manager__r.Sales_Commissionable_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_newJob.BD_Account_Manager_2__r.Sales_Commissionable_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_newJob.BD_Account_Manager_3__r.Sales_Commissionable_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_oldJob.BD_Account_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_oldJob.BD_Account_Manager_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_oldJob.BD_Account_Manager_3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_oldJob.BD_Account_Manager__r.Sales_Commissionable_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_oldJob.BD_Account_Manager_2__r.Sales_Commissionable_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_oldJob.BD_Account_Manager_3__r.Sales_Commissionable_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Employee_Commissions</targetReference>
            </connector>
            <label>Sync BD/EC</label>
        </rules>
    </decisions>
    <decisions>
        <name>Match_on_BD</name>
        <label>Match on BD?</label>
        <locationX>798</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Add_to_Delete_List</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Remove</defaultConnectorLabel>
        <rules>
            <name>Match_BD_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Employee_Commissions.Employee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varR_newJob.BD_Account_Manager__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matched_BD_1</targetReference>
            </connector>
            <label>Match BD 1</label>
        </rules>
        <rules>
            <name>Match_BD_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Employee_Commissions.Employee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varR_newJob.BD_Account_Manager_2__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matched_BD_2</targetReference>
            </connector>
            <label>Match BD 2</label>
        </rules>
        <rules>
            <name>Match_BD_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Employee_Commissions.Employee__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varR_newJob.BD_Account_Manager_3__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matched_BD_3</targetReference>
            </connector>
            <label>Match BD 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Update_Employee_Commissions</name>
        <label>Update Employee Commissions?</label>
        <locationX>314</locationX>
        <locationY>3230</locationY>
        <defaultConnector>
            <targetReference>Delete_Employee_Commissions</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Employee_Commissions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_EmployeeCommissionsToUpdate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Employee_Commissions</targetReference>
            </connector>
            <label>Yes - Update Employee Commissions</label>
        </rules>
    </decisions>
    <description>STAR-6264 this sub flow syncs BDs and ECs</description>
    <environments>Default</environments>
    <formulas>
        <name>forDT_Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Job-Subflow-Sync-BDsAndEmployeCommissions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job-Subflow-Sync-BDsAndEmployeCommissions</label>
    <loops>
        <name>Loop_Through_Calculated_Employee_Commissions</name>
        <label>Loop Through Calculated Employee Commissions</label>
        <locationX>314</locationX>
        <locationY>2282</locationY>
        <collectionReference>Calculate_Auto_Splits.varR_OutgoingEmployeeCommissions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Vs_Update</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Job_Commission</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Employee_Commissions</name>
        <label>Loop Through Employee Commissions</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Existing_Employee_Commissions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Match_on_BD</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_EC_for_BD_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Employee_Commissions</name>
        <label>Create New Employee Commissions</label>
        <locationX>50</locationX>
        <locationY>2990</locationY>
        <connector>
            <targetReference>Update_Employee_Commissions</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_Error</targetReference>
        </faultConnector>
        <inputReference>varR_EmployeeCommissionsToCreate</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Old_Employee_Commissions</name>
        <label>Delete Old Employee Commissions</label>
        <locationX>50</locationX>
        <locationY>3686</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_Error</targetReference>
        </faultConnector>
        <inputReference>varR_EmployeeCommissionsToDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Existing_Employee_Commissions</name>
        <label>Get Existing Employee Commissions</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Employee_Commissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job_Commission__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_newJob.Job_Commission__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employee_Commission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Commission</name>
        <label>Get Job Commission</label>
        <locationX>314</locationX>
        <locationY>1850</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Job_Commission_with_Number_of_Employees</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varR_newJob.Job_Commission__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job_Commission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_Employee_Commissions</name>
        <label>Update Existing Employee Commissions</label>
        <locationX>50</locationX>
        <locationY>3338</locationY>
        <connector>
            <targetReference>Delete_Employee_Commissions</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_Error</targetReference>
        </faultConnector>
        <inputReference>varR_EmployeeCommissionsToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Job_Commission</name>
        <label>Update Job Commission</label>
        <locationX>314</locationX>
        <locationY>2774</locationY>
        <connector>
            <targetReference>Create_Employee_Commissions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Post_Error</targetReference>
        </faultConnector>
        <inputReference>varR_JobCommission</inputReference>
    </recordUpdates>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Has_Custom_Splits_or_Non_Commissionable_Sales_BDs</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_Auto_Splits</name>
        <label>Calculate Auto Splits</label>
        <locationX>314</locationX>
        <locationY>2174</locationY>
        <connector>
            <targetReference>Loop_Through_Calculated_Employee_Commissions</targetReference>
        </connector>
        <flowName>EmployeeCommissionCal_Subflow_CalculateAutoSplits</flowName>
        <inputAssignments>
            <name>varR_IncomingEmployeeCommissions</name>
            <value>
                <elementReference>varR_EmployeeCommissionsAutoCalculate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_JobCommission</name>
            <value>
                <elementReference>varR_JobCommission</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Calculate_Job_Commission</name>
        <label>Calculate Job Commission</label>
        <locationX>314</locationX>
        <locationY>2066</locationY>
        <connector>
            <targetReference>Calculate_Auto_Splits</targetReference>
        </connector>
        <flowName>CommissionCal_Subflow_CalculateJobCommissionUsingMultiplier</flowName>
        <inputAssignments>
            <name>varR_Job</name>
            <value>
                <elementReference>varR_newJob</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_JobCommission</name>
            <value>
                <elementReference>varR_JobCommission</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Post_Error</name>
        <label>Post Error</label>
        <locationX>842</locationX>
        <locationY>2882</locationY>
        <flowName>Bolt_Event_Subflow_Post_Sales_Incentive_Plan_Error_BoltEvents</flowName>
    </subflows>
    <variables>
        <name>varB_MatchBD1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varB_MatchBD2</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varB_MatchBD3</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varR_EmployeeCommission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee_Commission__c</objectType>
    </variables>
    <variables>
        <name>varR_EmployeeCommissionsAutoCalculate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee_Commission__c</objectType>
    </variables>
    <variables>
        <name>varR_EmployeeCommissionsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee_Commission__c</objectType>
    </variables>
    <variables>
        <name>varR_EmployeeCommissionsToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee_Commission__c</objectType>
    </variables>
    <variables>
        <name>varR_EmployeeCommissionsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Employee_Commission__c</objectType>
    </variables>
    <variables>
        <name>varR_JobCommission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Commission__c</objectType>
    </variables>
    <variables>
        <name>varR_newJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>varR_oldJob</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
