force-app/main/default/flows/Job_Subflow_BD1_as_blank_for_BOLT_Sync_Account_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Bolt_Account_Owner_and_Job_created_by_Bolt</name>
        <label>Bolt Account Owner and Job created by Bolt</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Set_BD1_as_Blank_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0051U000008x9m0QAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0051U000008x9m0QAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BD1_as_Blank</targetReference>
            </connector>
            <label>Set BD1 as Blank Decision</label>
        </rules>
        <rules>
            <name>Set_BD1_from_Account_Owner_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0051U000008x9m0QAA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>0051U000008x9m0QAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_BD1_from_Account_Owner</targetReference>
            </connector>
            <label>Set BD1 from Account Owner Decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>By_Pass_Flow</name>
        <label>By Pass Flow</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>ByPassFlow</defaultConnectorLabel>
        <rules>
            <name>Execute_Flow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.DataAdmin__c.TurnOffFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bolt_Account_Owner_and_Job_created_by_Bolt</targetReference>
            </connector>
            <label>Execute Flow</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Job-Subflow-BD1 as blank for BOLT Sync Account-After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job-Subflow-BD1 as blank for BOLT Sync Account-After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_BD1_as_Blank</name>
        <label>Set BD1 as Blank</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>BD_Account_Manager__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_BD1_from_Account_Owner</name>
        <label>Set BD1 from Account Owner</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>BD_Account_Manager__c</field>
            <value>
                <elementReference>$Record.Account.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>By_Pass_Flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0051U000008x9m0QAA</stringValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
