force-app/main/default/flows/Job_Job_Commission_Financial_Updates_AutoTriggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Job_Fields_to_Job_Commission_Record</name>
        <label>Assign Job Fields to Job Commission Record</label>
        <locationX>308</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>Get_Job_Commission_Record.Job_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ROM_Contracted_Sales__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Job_Commission_Record.Job_Bad_Debt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Bad_Debt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Job_Commission_Record.Job_Date_Fully_Collected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Date_Fully_Collected__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Job_Commission_Record.Job_Date_of_DepositFirst_Payment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Date_of_First_Payment__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Job_Commission_Record.Job_DepositFirst_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.First_Payment_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Job_Commission_Record.Job_In_Collections__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_Collections</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Job_Commission_Record.Job_In_Legal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_Legal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Job_Commission_Record.Job_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Start_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Job_Commission_Record.Job_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Job_Commission_Record.Job_Work_Complete_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Work_Complete_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Job_Commission_Record.Job_Margin__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_JobMargin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Job_Commission</targetReference>
        </connector>
    </assignments>
    <description>user story 5991</description>
    <environments>Default</environments>
    <formulas>
        <name>forT_Collections</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.In_Collections__c}= True,
&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>forT_JobMargin</name>
        <dataType>Number</dataType>
        <expression>IF
(
TEXT({!$Record.Status})=&quot;Closed&quot;,
{!$Record.Final_Margin__c}, {!$Record.Expected_Margin__c}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forT_Legal</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Legal__c}= True,
&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <interviewLabel>Job-Job Commission Financial Updates-AutoTriggered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job-Job Commission Financial Updates-AutoTriggered</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Job_Commission_Record</name>
        <label>Get Job Commission Record</label>
        <locationX>308</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Job_Fields_to_Job_Commission_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job_Commission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>temp with terri&apos;s flow</description>
        <name>Update_Job_Commission</name>
        <label>Update Job Commission</label>
        <locationX>308</locationX>
        <locationY>492</locationY>
        <inputReference>Get_Job_Commission_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>NOT({!$Setup.DataAdmin__c.TurnOffFlow__c})&amp;&amp;
NOT(ISBLANK({!$Record.Job_Commission__c}))</filterFormula>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_Job_Commission_Record</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
