force-app/main/default/flows/Job_Account_Job_Dates_and_Status_Record_Triggered.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>IsAccountChanged</name>
        <label>IsAccountChanged?</label>
        <locationX>330</locationX>
        <locationY>1127</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RunJobStartDates_PriorAcct</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>isFlowBypass</name>
        <label>isFlowBypass</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>UpdateJobStartDates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bypass_No</defaultConnectorLabel>
        <rules>
            <name>Bypass_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.DataAdmin__c.TurnOffFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypass_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateJobCloseDates</name>
        <label>UpdateJobCloseDates</label>
        <locationX>330</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>IsAccountChanged</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No_JobClose</defaultConnectorLabel>
        <rules>
            <name>Yes_JobClose</name>
            <conditionLogic>(1 AND 2) OR 3 OR (4 AND 5) OR (4 AND 6) OR 7</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Close_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Close_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RunMRJobCloseDate_Acct</targetReference>
            </connector>
            <label>Yes_JobClose</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateJobStartDates</name>
        <label>UpdateJobStartDates</label>
        <locationX>330</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>UpdateJobCloseDates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No_JobStart</defaultConnectorLabel>
        <rules>
            <name>Yes_JobStart</name>
            <conditionLogic>(1 AND 2) OR 3 OR (4 AND 5) OR (4 AND 6) OR 7</conditionLogic>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RunJobStartDates_Acct</targetReference>
            </connector>
            <label>Yes_JobStart</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Job - Account Job Dates and Status - Record Triggered {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job - Account Job Dates and Status - Record Triggered</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>isFlowBypass</targetReference>
        </connector>
        <filterFormula>OR(
  AND(
    ISCHANGED({!$Record.Status}), 
    OR(
      ISPICKVAL({!$Record__Prior.Status},&quot;Canceled&quot;),
      ISPICKVAL({!$Record.Status},&quot;Canceled&quot;)
    )
  ),
  OR(
    AND(
      ISNEW(),
      NOT(ISBLANK({!$Record.Start_Date__c}))
    ),
    ISCHANGED({!$Record.Start_Date__c})
  ),
OR(
  AND(
    ISNEW(),
    NOT(ISBLANK({!$Record.Close_Date__c}))
  ),
  ISCHANGED({!$Record.Close_Date__c})
),
ISCHANGED({!$Record.AccountId})
)</filterFormula>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <subflows>
        <name>RunJobStartDates_Acct</name>
        <label>RunJobStartDates-Acct</label>
        <locationX>198</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>UpdateJobCloseDates</targetReference>
        </connector>
        <flowName>Account_Job_Start_Dates_Process_Triggered</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AccountPriorStatus</name>
            <value>
                <elementReference>$Record.Account.Prior_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AccountStatus</name>
            <value>
                <elementReference>$Record.Account.Status__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>RunJobStartDates_PriorAcct</name>
        <label>RunJobStartDates-PriorAcct</label>
        <locationX>198</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>RunMRJobCloseDate_PriorAcct</targetReference>
        </connector>
        <flowName>Account_Job_Start_Dates_Process_Triggered</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record__Prior.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AccountPriorStatus</name>
            <value>
                <elementReference>$Record__Prior.Account.Prior_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AccountStatus</name>
            <value>
                <elementReference>$Record__Prior.Account.Status__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>RunMRJobCloseDate_Acct</name>
        <label>RunMRJobCloseDate-Acct</label>
        <locationX>198</locationX>
        <locationY>911</locationY>
        <connector>
            <targetReference>IsAccountChanged</targetReference>
        </connector>
        <flowName>Account_Most_Recent_Job_Close_Date_Process_Triggered</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>RunMRJobCloseDate_PriorAcct</name>
        <label>RunMRJobCloseDate-PriorAcct</label>
        <locationX>198</locationX>
        <locationY>1367</locationY>
        <flowName>Account_Most_Recent_Job_Close_Date_Process_Triggered</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>$Record__Prior.AccountId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
