force-app/main/default/flows/Job_After_Save_U_Job_Commission_Financial_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Commission_Calculation_Updates</name>
        <label>Set Commission Calculation Updates</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCommission</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calculate_Job_Commission.varR_JobCommission</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Job_Commission</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Financial_Fields</name>
        <label>Set Financial Fields</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCommission</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Financial_Fields_on_Job_Commission.varR_JobCommission</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Number_of_Commissionable_Employees__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Employee_Commissions</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Job_Commission</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>con_Flow</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Job - Job Commission Financial Updates - AutoTriggered</stringValue>
        </value>
    </constants>
    <description>user story 5991, STAR-5568</description>
    <environments>Default</environments>
    <formulas>
        <name>forT_Collections</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.In_Collections__c}= True,
&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>forT_JobMargin</name>
        <dataType>Number</dataType>
        <expression>IF
(
TEXT({!$Record.Status})=&quot;Closed&quot;,
{!$Record.Final_Margin__c}, {!$Record.Expected_Margin__c}
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forT_Legal</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Legal__c}= True,
&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <interviewLabel>Job - After Save U - Job Commission Financial Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job - After Save U - Job Commission Financial Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Employee_Commissions</name>
        <label>Get Employee Commissions</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Financial_Fields_on_Job_Commission</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job_Commission__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job_Commission__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Employee_Commission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Job_Commission_Record</name>
        <label>Get Job Commission Record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Employee_Commissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job_Commission__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>temp with terri&apos;s flow</description>
        <name>Update_Job_Commission</name>
        <label>Update Job Commission</label>
        <locationX>176</locationX>
        <locationY>971</locationY>
        <faultConnector>
            <targetReference>Post_Bolt_Log_Error</targetReference>
        </faultConnector>
        <inputReference>varR_JobCommission</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Job_Commission_Record</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>AND
(
NOT({!$Setup.DataAdmin__c.TurnOffFlow__c}),
{!$Record.Update_Job_Commission__c}= true 
)</filterFormula>
        <object>WorkOrder</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_Job_Commission</name>
        <label>Calculate Job Commission</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Set_Commission_Calculation_Updates</targetReference>
        </connector>
        <flowName>CommissionCal_Subflow_CalculateJobCommissionUsingMultiplier</flowName>
        <inputAssignments>
            <name>varR_Job</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_JobCommission</name>
            <value>
                <elementReference>varR_JobCommission</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Post_Bolt_Log_Error</name>
        <label>Post Bolt Log Error</label>
        <locationX>440</locationX>
        <locationY>1079</locationY>
        <flowName>Bolt_Event_Subflow_Post_Sales_Incentive_Plan_Error_BoltEvents</flowName>
        <inputAssignments>
            <name>varT_Flow</name>
            <value>
                <elementReference>con_Flow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_StatusMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Set_Financial_Fields_on_Job_Commission</name>
        <label>Set Financial Fields on Job Commission</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Set_Financial_Fields</targetReference>
        </connector>
        <flowName>Job_Subflow_SetFinanicalFieldsOnJobCommission</flowName>
        <inputAssignments>
            <name>varR_Job</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_JobCommission</name>
            <value>
                <elementReference>Get_Job_Commission_Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varR_JobCommission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Job_Commission__c</objectType>
    </variables>
</Flow>
