force-app/main/default/flows/Job_Commission_After_Save_C_Create_Initial_Employee_Commission_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <constants>
        <name>con_FlowName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Job Commission - After Save - C - Async Create Initial Employee Commission Records</stringValue>
        </value>
    </constants>
    <constants>
        <name>con_ObjectName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Job Commission</stringValue>
        </value>
    </constants>
    <description>STAR-5564, STAR-6212 This creates the list of employee commission records for a new Job Commission Using the Commissionable Sales User BDs associated with the Job Commission&apos;s Job</description>
    <environments>Default</environments>
    <interviewLabel>STAR-5564, STAR-6212 This creates the list of employee commission records for a new Job Commission Using the Commissionable Sales User BDs associated with the Job Commission&apos;s Job {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job Commission - After Save C - Create Initial Employee Commission Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Employee_Commissions</name>
        <label>Create Employee Commissions</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <faultConnector>
            <targetReference>Post_Sales_Incentive_Plan_Bolt_Log_Error</targetReference>
        </faultConnector>
        <inputReference>Initialize_Employee_Commissions.varR_EmployeeCommissions</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_the_Job_Associated_with_the_Job_Commission</name>
        <label>Get the Job Associated with the Job Commission</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initialize_Employee_Commissions</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Post_Sales_Incentive_Plan_Bolt_Log_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Job__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_Job_Associated_with_the_Job_Commission</targetReference>
        </connector>
        <filterFormula>{!$Setup.DataAdmin__c.TurnOffFlow__c} = false
&amp;&amp; IsNew()
&amp;&amp; NOT(ISBLANK({!$Record.Job__c}))</filterFormula>
        <object>Job_Commission__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Initialize_Employee_Commissions</name>
        <label>Initialize Employee Commissions</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Create_Employee_Commissions</targetReference>
        </connector>
        <flowName>EmployeeCommissionCal_Subflow_InitializeEmployeeCommissions</flowName>
        <inputAssignments>
            <name>varR_Job</name>
            <value>
                <elementReference>Get_the_Job_Associated_with_the_Job_Commission</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_JobCommission</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Post_Sales_Incentive_Plan_Bolt_Log_Error</name>
        <label>Post Sales Incentive Plan Bolt Log Error</label>
        <locationX>440</locationX>
        <locationY>647</locationY>
        <flowName>Bolt_Event_Subflow_Post_Sales_Incentive_Plan_Error_BoltEvents</flowName>
        <inputAssignments>
            <name>varT_Flow</name>
            <value>
                <elementReference>con_FlowName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_Id</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varT_StatusMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
