force-app/main/default/flows/Job_Subflow_CreateInitialJobCommissionRecordForJob.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Get_Commission_Records</name>
        <label>Get Commission Records</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCommission</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calculate_Job_Commission.varR_JobCommission</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Get_Number_of_Commissionable_Employees</name>
        <label>Get Number of Commissionable Employees</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Number_of_Commissionable_Employees__c</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Sales_Commissionable_Users.varR_SalesCommissionableUsers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Financial_Fields_from_Job</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Financial_and_Multiplier_Info</name>
        <label>Set Financial and Multiplier Info</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCommission</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Financial_Fields_from_Job.varR_JobCommission</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Job_Commission</targetReference>
        </connector>
    </assignments>
    <description>STAR-5564 This sub process for a job creates the initial job commission record for a job</description>
    <environments>Default</environments>
    <interviewLabel>Job-Subflow-CreateInitialJobCommissionRecordForJob {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Job-Subflow-CreateInitialJobCommissionRecordForJob</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Sales_Commissionable_Users</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Calculate_Job_Commission</name>
        <label>Calculate Job Commission</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Commission_Records</targetReference>
        </connector>
        <flowName>CommissionCal_Subflow_CalculateJobCommissionUsingMultiplier</flowName>
        <inputAssignments>
            <name>varR_Job</name>
            <value>
                <elementReference>varR_Job</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_JobCommission</name>
            <value>
                <elementReference>varR_JobCommission</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Financial_Fields_from_Job</name>
        <label>Get Financial Fields from Job</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Set_Financial_and_Multiplier_Info</targetReference>
        </connector>
        <flowName>Job_Subflow_SetFinanicalFieldsOnJobCommission</flowName>
        <inputAssignments>
            <name>varR_Job</name>
            <value>
                <elementReference>varR_Job</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varR_JobCommission</name>
            <value>
                <elementReference>varR_JobCommission</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Sales_Commissionable_Users</name>
        <label>Get Sales Commissionable Users</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Get_Number_of_Commissionable_Employees</targetReference>
        </connector>
        <flowName>User_Subflow_Get_Commissionable_Sales_Users</flowName>
        <inputAssignments>
            <name>varR_Job</name>
            <value>
                <elementReference>varR_Job</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varN_NumberOfCommissionableEmployees</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>varR_Job</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>varR_JobCommission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Job_Commission__c</objectType>
    </variables>
</Flow>
