force-app/main/default/flows/Job_Clone_Job.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AssignJobValues</name>
        <label>AssignJobValues</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>JobCloneValues.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetJobToClone.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Cloned_from_Another_Record__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Property.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Cloned_from_Job_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetJobToClone.WorkOrderNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Job_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JobName_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Callers_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Caller_s_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Onsite_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Onsite_Contact_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Onsite_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Onsite_Contact_Email_1.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Tax_Exempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tax_Exempt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Bid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_this_Job_a_Bid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Area_Wide_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Area_Wide_Event1.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.T_M_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.T_M_Year__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Vertical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.Vertical__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Subvertical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.Subvertical__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Territory.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Client_Work_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_Work_Order_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Protocols_Work_Auth_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Protocols_Work_Auth_PO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Protocols_ACM_Testing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Protocols_ACM_Testing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Protocols_DFRs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Protocols_DFRs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Protocols_Pricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Protocols_Pricing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Protocols_Portal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Protocols_Portal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Protocols_Billing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Protocols_Billing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Protocols_Adjusters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Protocols_Adjusters</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Protocols_Broker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Protocols_Broker</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Protocols_Special_Concerns__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Protocols_Special_Concerns</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Date_of_Call__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Call</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Date_of_Loss__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Loss</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_type_LU.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Work_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WorkType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Estimated_SqFt_Affected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_SqFtAffected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Damage_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Damage_Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Special_Concerns__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Special_Concerns1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Contract_Attached1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Attached</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Source1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Site_Walk_Complete_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site_Walk_Completion_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Referred_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferredBy.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Insurance_Adjuster_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insurance_Adjuster_Account.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Insurance_Agent_Broker_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insurance_Agent_Broker_Account.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Insurance_Claim_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Claim_Number1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Insurance_Deductible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insurance_Deductible1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Insurance_Policy_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insurance_Policy_Number1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Billing_Contact2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Contact1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Billing_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Contact_Email1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Billing_Contact_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Contact_Phone1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Billing_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Billing_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Billing_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_State_Country_Dep_PL.topValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Billing_Zip_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Zip_Postal_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Billing_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_State_Country_Dep_PL.middleValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.BD_Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BD_Account_Manager1.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.BD_Account_Manager_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BD_Account_Manager_2_1.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.BD_Account_Manager_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BD_Account_Manager_3_1.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Regional_Coordinator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Regional_Coordinator1.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.AP_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AP_Approver1.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Estimate_Sent_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimate_Sent_Date1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.ROM_Estimate_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROM_Estimate_Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Probability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Probability1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Integrate_with_Bolt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetBranch.Integrate_with_Bolt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Account_Contract_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.Contract_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Insurance_Carrier_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insurance_Carrier_Account.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Rate_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.MSA_Rate_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.National_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.National_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Drive_Down__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.Drive_Down__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Rate_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rate_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Billing_Portal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Portal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Prevailing_Wage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prevailing_Wage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Billing_Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Entity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.GPO_Cooperative_Purchasing_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cooperative_Purchasing_Vehicle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Insurance_Adjuster_Contactx__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insuarnce_Adjuster_Contact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Insurance_Agent_Broker_Contactx__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insurance_Agent_Broker_Contact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Insurance_Carrier_Contactx__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insurance_Carrier_Contact.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Onsite_Contact_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Onsite_Contact_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Project_Director__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Director1.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.Project_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Manager.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobCloneValues.RM_CM_OM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RM_CM_OM_1.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateClonedJob</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>Billing_PortalPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Billing_Portal__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Choice_BillingEntity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Billing_Entity__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_ContractorType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contractor_Type__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_Cooperative</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GPO_Cooperative_Purchasing_Agreement__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_PrevailingWage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Prevailing_Wage__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ContractAttachedPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contract_Attached1__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Job_Probability</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Probability__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>LeadSourcePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lead_Source__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Rate_TypePL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rate_Type__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WorkType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Work_Type__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>forT_DefaultPropertyid</name>
        <dataType>String</dataType>
        <expression>IF(
{!GetJobToClone.Property__r.Active__c} =True,
{!GetJobToClone.Property__r.Id},
Null
)</expression>
    </formulas>
    <formulas>
        <name>forT_DefaultPropertyName</name>
        <dataType>String</dataType>
        <expression>IF(
{!GetJobToClone.Property__r.Active__c} =True,
{!GetJobToClone.Property__r.Name},
Null
)</expression>
    </formulas>
    <formulas>
        <name>JobName_Formula</name>
        <dataType>String</dataType>
        <expression>IF(
  {!Make_Custom_Job_Name} = true,
  {!Custom_Job_Name},
  IF(
    ISBLANK({!GetProperty.Property_Name__c}),
    {!GetProperty.Parent.Name} +&quot;_&quot;+TEXT(TODAY()),
    {!GetProperty.Property_Name__c} +&quot;_&quot;+TEXT(TODAY())
  )
)</expression>
    </formulas>
    <interviewLabel>Job - Clone Job {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Job - Clone Job</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateClonedJob</name>
        <label>CreateClonedJob</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Done</targetReference>
        </connector>
        <faultConnector>
            <targetReference>VR_Error_Message</targetReference>
        </faultConnector>
        <inputReference>JobCloneValues</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Clone_Job</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetJobToClone.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetBranch</name>
        <label>GetBranch</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignJobValues</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Territory.selectedValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetJobToClone</name>
        <label>GetJobToClone</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>WorkOrder</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProperty</name>
        <label>GetProperty</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetBranch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Property.selectedValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Clone_Job</name>
        <label>Clone Job</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetProperty</targetReference>
        </connector>
        <fields>
            <name>Critical_Details</name>
            <fieldText>Critical Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Critical_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Clone_From_Job_Number</name>
                    <fieldText>&lt;p&gt;You are cloning Job &lt;strong&gt;{!GetJobToClone.WorkOrderNumber}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Property_Warning</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please use caution if selecting a different Property as this is a clone. Be sure to review the Branch, Protocols, and Billing info if you choose a different Property than the original Job.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Property</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Property</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldName</name>
                        <value>
                            <stringValue>parentid</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldValue</name>
                        <value>
                            <elementReference>GetAccount.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedName</name>
                        <value>
                            <elementReference>forT_DefaultPropertyName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>forT_DefaultPropertyid</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>Active__c=true</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Service_Territory</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>GetJobToClone.ServiceTerritory.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>ServiceTerritory</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Branch</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>GetJobToClone.ServiceTerritory.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>isActive=true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedName</name>
                        <value>
                            <elementReference>GetJobToClone.ServiceTerritory.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Critical_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_Info_Display_Text</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px;&quot;&gt;Account Name: &lt;/span&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!GetAccount.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Job_Name_Issue</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The Job Name will be the chosen Property Name (or Account Name if blank) with today&apos;s date appended. If you would instead like to enter a custom Job Name, please check the box:&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Make_Custom_Job_Name</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Make Custom Job Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Custom_Job_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Custom Job Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Make_Custom_Job_Name</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Create_Job_Section_header</name>
            <fieldText>Job Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Job_Section_header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Caller_s_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Callers_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Caller&apos;s Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Onsite_Contact_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Onsite_Contact__c</elementReference>
                    </defaultValue>
                    <fieldText>Onsite Contact Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Onsite_Contact_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Onsite Contact Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>GetJobToClone.Onsite_Contact_Phone__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Onsite_Contact_Email_1</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Onsite Contact Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>readonly</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>GetJobToClone.Onsite_Contact_Email__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Job_Section_header_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Tax_Exempt</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Tax_Exempt__c</elementReference>
                    </defaultValue>
                    <fieldText>Tax Exempt</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;When check box is checked the customer is tax exempt for this job.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Is_this_Job_a_Bid</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Bid__c</elementReference>
                    </defaultValue>
                    <fieldText>Is this Job a Bid?</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Check this box if the job was or will be involved in a bid process.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Area_Wide_Event1</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>GetJobToClone.Area_Wide_Event__r.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Area_Wide_Event__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Area Wide Event</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>GetJobToClone.Area_Wide_Event__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>Active__c=True</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedName</name>
                        <value>
                            <elementReference>GetJobToClone.Area_Wide_Event__r.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Prevailing_Wage</name>
                    <choiceReferences>choice_PrevailingWage</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Prevailing_Wage__c</elementReference>
                    </defaultValue>
                    <fieldText>Prevailing Wage</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>T_M_Rate_Year</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(5, 5, 0);&quot;&gt;T&amp;amp;M Year&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!GetJobToClone.T_M_Year__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Rate_Type</name>
                    <choiceReferences>Rate_TypePL</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Rate_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Rate Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Practice</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Practice&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!GetAccount.Vertical__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Subcategory&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!GetAccount.Subvertical__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Client_Work_Order_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Client_Work_Order_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Client Work Order Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Protocols</name>
            <fieldText>Protocols</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Protocols_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Protocols_Work_Auth_PO</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Protocols_Work_Auth_PO__c</elementReference>
                    </defaultValue>
                    <fieldText>Protocols: Work Auth/PO</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Protocols_ACM_Testing</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Protocols_ACM_Testing__c</elementReference>
                    </defaultValue>
                    <fieldText>Protocols: ACM Testing</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Protocols_DFRs</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Protocols_DFRs__c</elementReference>
                    </defaultValue>
                    <fieldText>Protocols: DFRs</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Protocols_Pricing</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Protocols_Pricing__c</elementReference>
                    </defaultValue>
                    <fieldText>Protocols: Pricing</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Protocols_Portal</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Protocols_Portal__c</elementReference>
                    </defaultValue>
                    <fieldText>Protocols: Portal</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Protocols_Billing</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Protocols_Billing__c</elementReference>
                    </defaultValue>
                    <fieldText>Protocols: Billing</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Protocols_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Protocols_Adjusters</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Protocols_Adjusters__c</elementReference>
                    </defaultValue>
                    <fieldText>Protocols: Adjusters</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Protocols_Broker</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Protocols_Broker__c</elementReference>
                    </defaultValue>
                    <fieldText>Protocols: Broker</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Protocols_Special_Concerns</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Protocols_Special_Concerns__c</elementReference>
                    </defaultValue>
                    <fieldText>Protocols: Special Concerns</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Billing_Entity</name>
                    <choiceReferences>Choice_BillingEntity</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Billing_Entity__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing Entity</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>GPO_DisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;This account has a GPO. If the job should have one, please select it.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetJobToClone.Account.GPO_Cooperative_Purchasing_Agreement__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Cooperative_Purchasing_Vehicle</name>
                    <choiceReferences>choice_Cooperative</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>GPO/Cooperative Purchasing Agreement</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>GetJobToClone.Account.GPO_Cooperative_Purchasing_Agreement__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Incident_Loss_Specifics</name>
            <fieldText>Incident Loss Specifics</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Loss_Specifics_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Call</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Date_of_Call__c</elementReference>
                    </defaultValue>
                    <fieldText>Date of Call</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Date_of_Loss</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Date_of_Loss__c</elementReference>
                    </defaultValue>
                    <fieldText>Date of Loss</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Work_type_LU</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>GetJobToClone.WorkType.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>WorkType</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Job Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>GetJobToClone.WorkType.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedName</name>
                        <value>
                            <elementReference>GetJobToClone.WorkType.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Work_Type_PL</name>
                    <choiceReferences>WorkType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Work_Type__c</elementReference>
                    </defaultValue>
                    <fieldText>Work Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Estimated_SqFtAffected</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Estimated_SqFt_Affected__c</elementReference>
                    </defaultValue>
                    <fieldText>Estimated SqFtAffected</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Loss_Specifics_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Damage_Description</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Damage_Description__c</elementReference>
                    </defaultValue>
                    <fieldText>Damage Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Special_Concerns1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Special_Concerns__c</elementReference>
                    </defaultValue>
                    <fieldText>Special Concerns</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Contract_Attached</name>
                    <choiceReferences>ContractAttachedPL</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Contract_Attached1__c</elementReference>
                    </defaultValue>
                    <fieldText>Contract Attached</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Lead_Source_Defining_Points_of_Contacts</name>
            <fieldText>Lead Source &amp; Defining Points of Contacts</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lead_Source_Defining_Points_of_Contacts_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lead_Source1</name>
                    <choiceReferences>LeadSourcePL</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Lead_Source__c</elementReference>
                    </defaultValue>
                    <fieldText>Lead Source</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ReferredBy</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>GetJobToClone.Referred_By__r.Contact_Account__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>Contact_Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Referred By</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>GetJobToClone.Referred_By__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedName</name>
                        <value>
                            <elementReference>GetJobToClone.Referred_By__r.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Insurance_Adjuster_Account</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>GetJobToClone.Insurance_Adjuster_Account__r.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Insurance Adjuster Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>GetJobToClone.Insurance_Adjuster_Account__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedName</name>
                        <value>
                            <stringValue>{!GetJobToClone.Insurance_Adjuster_Account__r.Name)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>Active__c = True and RecordType.DeveloperName in (&apos;Account&apos;,&apos;Parent&apos;)</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Insuarnce_Adjuster_Contact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Insurance_Adjuster_Contactx__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Insurance Adjuster Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>WorkOrder</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>GetJobToClone.Insurance_Adjuster_Contactx__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Insurance_Agent_Broker_Account</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>GetJobToClone.Insurance_Agent_Broker_Account__r.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Insurance Agent/Broker Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>GetJobToClone.Insurance_Agent_Broker_Account__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedName</name>
                        <value>
                            <elementReference>GetJobToClone.Insurance_Agent_Broker_Account__r.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>Active__c = True and RecordType.DeveloperName in (&apos;Account&apos;,&apos;Parent&apos;)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Insurance_Agent_Broker_Contact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Insurance_Agent_Broker_Contactx__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Insurance Agent Broker Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>WorkOrder</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>GetJobToClone.Insurance_Agent_Broker_Contactx__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Insurance_Carrier_Account</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>GetJobToClone.Insurance_Carrier_Account__r.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Insurance Carrier Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>GetJobToClone.Insurance_Carrier_Account__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedName</name>
                        <value>
                            <elementReference>GetJobToClone.Insurance_Carrier_Account__r.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>Active__c = True and RecordType.DeveloperName in (&apos;Account&apos;,&apos;Parent&apos;)</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Insurance_Carrier_Contact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Insurance_Carrier_Contactx__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Insurance Carrier Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>WorkOrder</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>GetJobToClone.Insurance_Carrier_Contactx__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Claim_Number1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Insurance_Claim_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Claim Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Insurance_Deductible1</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Insurance_Deductible__c</elementReference>
                    </defaultValue>
                    <fieldText>Insurance Deductible</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Insurance_Policy_Number1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Insurance_Policy_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Insurance Policy Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Lead_Source_Defining_Points_of_Contacts_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Billing_Portal</name>
                    <choiceReferences>Billing_PortalPL</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Billing_Portal__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing Portal</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Billing_Contact1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Billing_Contact2__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing Contact</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Billing_Contact_Email1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Billing_Contact_Email__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing Contact Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Billing_Contact_Phone1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Billing_Contact_Phone__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing Contact Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Billing_Street</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Billing_Street__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Billing_City</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Billing_City__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Billing_State_Country_Dep_PL</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>WorkOrder</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Billing_Country__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Billing_State__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Billing Country</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Billing State</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>GetJobToClone.Billing_State__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>GetJobToClone.Billing_Country__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Billing_Zip_Postal_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetJobToClone.Billing_Zip_Postal_Code__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing Zip/Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Lead_Source_Defining_Points_of_Contacts_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BD_Account_Manager1</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>GetJobToClone.BD_Account_Manager__r.User_Title_Flow__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>User_Title_Flow__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>BD Account Manager</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>GetJobToClone.BD_Account_Manager__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>isActive=true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedName</name>
                        <value>
                            <elementReference>GetJobToClone.BD_Account_Manager__r.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>BD_Account_Manager_2_1</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>GetJobToClone.BD_Account_Manager_2__r.User_Title_Flow__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>User_Title_Flow__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>BD Account Manager 2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>GetJobToClone.BD_Account_Manager_2__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>isActive=true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedName</name>
                        <value>
                            <elementReference>GetJobToClone.BD_Account_Manager_2__r.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>BD_Account_Manager_3_1</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>GetJobToClone.BD_Account_Manager_3__r.User_Title_Flow__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>User_Title_Flow__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>BD Account Manager 3</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>GetJobToClone.BD_Account_Manager_3__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>isActive=true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedName</name>
                        <value>
                            <elementReference>GetJobToClone.BD_Account_Manager_3__r.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Project_Director1</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>GetJobToClone.Project_Director__r.User_Title_Flow__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>User_Title_Flow__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Project Director</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>GetJobToClone.Project_Director__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>isActive=true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedName</name>
                        <value>
                            <elementReference>GetJobToClone.Project_Director__r.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Project_Manager</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>GetJobToClone.Project_Manager__r.User_Title_Flow__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Project Manager</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>User_Title_Flow__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>GetJobToClone.Project_Manager__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedName</name>
                        <value>
                            <elementReference>GetJobToClone.Project_Manager__r.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>isActive=true</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Regional_Coordinator1</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>GetJobToClone.Regional_Coordinator__r.User_Title_Flow__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>User_Title_Flow__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Regional Coordinator</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>GetJobToClone.Regional_Coordinator__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>isActive=true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedName</name>
                        <value>
                            <elementReference>GetJobToClone.Regional_Coordinator__r.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>RM_CM_OM_1</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>GetJobToClone.RM_CM_OM__r.User_Title_Flow__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>User_Title_Flow__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>RM/CM/OM</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>GetJobToClone.RM_CM_OM__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedName</name>
                        <value>
                            <elementReference>GetJobToClone.RM_CM_OM__r.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>isActive=true</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>AP_Approver1</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>GetJobToClone.AP_Approver__r.User_Title_Flow__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>User_Title_Flow__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>AP Approver</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>GetJobToClone.AP_Approver__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>isActive=true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedName</name>
                        <value>
                            <elementReference>GetJobToClone.AP_Approver__r.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Forecasting</name>
            <fieldText>Forecasting (not cloned)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Forecasting_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Site_Walk_Completion_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Site Walk Completion Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Estimate_Sent_Date1</name>
                    <dataType>Date</dataType>
                    <fieldText>Estimate Sent Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Forecasting_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ROM_Estimate_Amount</name>
                    <dataType>Number</dataType>
                    <fieldText>ROM/Estimate Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Probability1</name>
                    <choiceReferences>Job_Probability</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Probability %</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Clone Job</nextOrFinishButtonLabel>
        <pausedText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;You have paused the flow&lt;/span&gt;&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Done</name>
        <label>Done</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Complete</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;You successfully created the Job!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Click &lt;/strong&gt;&lt;a href=&quot;/{!JobCloneValues}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;&lt;strong&gt;here&lt;/strong&gt;&lt;/a&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt; to view your New Job&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VR_Error_Message</name>
        <label>VR Error Message</label>
        <locationX>440</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;Please read the error below. Play close attention to the error after the phrase &lt;strong style=&quot;font-size: 12px; font-family: Calibri, sans-serif;&quot;&gt;FIELD_CUSTOM_VALIDATION_EXCEPTION&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 143, 8); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To fix the errors, click the previous button to go back into the field(s) that need attention. Then, click the Next button to complete the creation of the job.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetJobToClone</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>JobCloneValues</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
</Flow>
