force-app/main/default/flows/JobCommissionCal_Subflow_DefaultCommissionable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Sets Default Commissionable Fields</description>
        <name>Default_Commissionable</name>
        <label>Default Commissionable</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varP_HasBadDebt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>con_No</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varN_DefaultCommissionableSwitch</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varP_DefaultCommissionable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>con_Yes</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Set as NON Commissionable by Default</description>
        <name>Is_NOT_Default_Commissionable</name>
        <label>Is NOT Default Commissionable</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varP_HasBadDebt</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_hasBadDebt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varN_DefaultCommissionableSwitch</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varP_DefaultCommissionable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>con_No</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <description>No</description>
        <name>con_No</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </constants>
    <constants>
        <description>Yes</description>
        <name>con_Yes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determine if Job is Commissionable by Default</description>
        <name>Is_Default_Commissionable</name>
        <label>Is Default Commissionable?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Is_NOT_Default_Commissionable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR 4) AND 2 AND 3 AND 5</conditionLogic>
            <conditions>
                <leftValueReference>varC_JobBadDebt</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varP_JobInCollections</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>con_Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varP_JobInLegal</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>con_Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varC_JobBadDebt</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varP_HouseAccount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>con_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Commissionable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>STAR-5564, STAR-5512, STAR-6133 Determines if a Job Commission is Commissionable or not by default</description>
    <environments>Default</environments>
    <formulas>
        <name>forT_hasBadDebt</name>
        <dataType>String</dataType>
        <expression>IF (
    {!varC_JobBadDebt} &gt; 0,
    {!con_Yes},
    {!con_No}
)</expression>
    </formulas>
    <interviewLabel>JobCommissionCal-Subflow-DefaultCommissionable? {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JobCommissionCal-Subflow-DefaultCommissionable?</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Default_Commissionable</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Amount of Job Bad Debt</description>
        <name>varC_JobBadDebt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>Do NOT display to Users.  Utilized in Manage Commission UI for Calculations.  Set to 1 if Default Commissionable? = Yes; Else 0 if Default Commissionable? = No.  This is used to calculate the Default Total Commission Payment Amount which is Default Commissionable Switch X Default Pay w/o Commissionable Switch.</description>
        <name>varN_DefaultCommissionableSwitch</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Not in Legal AND Not in Collections AND No Bad Debt AND Not House Account Job, means job is commissionable</description>
        <name>varP_DefaultCommissionable</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Yes if Job Bad Debt &gt; 0, Else No</description>
        <name>varP_HasBadDebt</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varP_HouseAccount</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Yes if Job In Collections; Else No</description>
        <name>varP_JobInCollections</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Yes if Job In Legal, Else No</description>
        <name>varP_JobInLegal</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
