force-app/main/default/flows/JobCommissionCal_Subflow_Commissionable.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Calculate_Actuals</name>
        <label>Calculate Actuals</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Pay_w_o_Commissionable_Switch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_ActualPayWOCommissionableSwitch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Revise_Individual_Calculations_Based_on_Overall_Commisionablity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Default_Values</name>
        <label>Calculate Default Values</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Default_Pay_w_o_Commissionable_Switch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_DefaultPayWOCommissionableSwitch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Default_Total_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_DefaultTotalPaymentAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Default_Total_Commission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forN_DefaultTotalCommissionPercent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Default_Total_Commission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forN_DefaultTotalCommissionPercent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets Default Commissionable Fields</description>
        <name>Default_Commissionable</name>
        <label>Default Commissionable</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Default_Commissionable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>con_Yes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Default_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set as NON Commissionable by Default</description>
        <name>Is_NOT_Default_Commissionable</name>
        <label>Is NOT Default Commissionable</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Default_Commissionable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>con_No</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Default_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Revise_Individual_Calculations_Based_on_Overall_Commisionablity</name>
        <label>Revise Individual Calculations Based on Overall Commisionablity</label>
        <locationX>182</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_DepositFirst_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_ActualDepositFirstPaymentAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Quick_Collection_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_ActualQuickCollectionPaymentAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Slow_Collection_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_ActualSlowCollectionPaymentAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Total_Collection_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_ActualTotalCollectionPaymentAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Default_DepositFirst_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_DefaultDepositFirstPaymentAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Default_Quick_Collection_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_DefaultQuickCollectionPaymentAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Default_Slow_Collection_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_DefaultSlowCollectionPaymentAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Default_Total_Collection_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_DefaultTotalCollectionPaymentAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Total_Commission_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_ActualTotalPaymentAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Total_Commission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forN_ActualTotalCommissionPercent</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Actuals_to_Match_Defaults</name>
        <label>Set Actuals to Match Defaults</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Commissionable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_JobCommission.Default_Commissionable__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Pay_w_o_Commissionable_Switch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_ActualPayWOCommissionableSwitch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Revise_Individual_Calculations_Based_on_Overall_Commisionablity</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>No</description>
        <name>con_No</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </constants>
    <constants>
        <description>Yes</description>
        <name>con_Yes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Determine if Job is Commissionable by Default</description>
        <name>Is_Default_Commissionable</name>
        <label>Is Default Commissionable?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Is_NOT_Default_Commissionable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>varR_JobCommission.Job_In_Collections__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>con_Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_JobCommission.Job_In_Legal__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>con_Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_JobCommission.House_Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>con_Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_JobCommission.Job_Bad_Debt__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_JobCommission.Job_Bad_Debt__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Default_Commissionable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Exception</name>
        <label>Is Exception?</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Set_Actuals_to_Match_Defaults</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Actual and Default the Same</defaultConnectorLabel>
        <rules>
            <name>Actual_Different_Than_Default</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_JobCommission.Exception_Commissionable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>con_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Actuals</targetReference>
            </connector>
            <label>Actual Different Than Default</label>
        </rules>
    </decisions>
    <description>STAR-5564, STAR-5512, STAR-6133 Determines if a Job Commission is Commissionable or not</description>
    <environments>Default</environments>
    <formulas>
        <name>forC_ActualDepositFirstPaymentAmount</name>
        <dataType>Currency</dataType>
        <expression>{!varR_JobCommission.Actual_DepositFirst_Payment_Amount__c} *{!forN_ActualSwitch}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>This is the Actual Deposit/First Payment Amount + Actual Total Collection Payment Amount before applying if entire job is commissionable or not</description>
        <name>forC_ActualPayWOCommissionableSwitch</name>
        <dataType>Currency</dataType>
        <expression>{!varR_JobCommission.Actual_DepositFirst_Payment_Amount__c} + {!varR_JobCommission.Actual_Total_Collection_Payment_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forC_ActualQuickCollectionPaymentAmount</name>
        <dataType>Currency</dataType>
        <expression>{!varR_JobCommission.Actual_Quick_Collection_Payment_Amount__c} * {!forN_ActualSwitch}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forC_ActualSlowCollectionPaymentAmount</name>
        <dataType>Currency</dataType>
        <expression>{!varR_JobCommission.Actual_Slow_Collection_Payment_Amount__c} * {!forN_ActualSwitch}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forC_ActualTotalCollectionPaymentAmount</name>
        <dataType>Currency</dataType>
        <expression>{!varR_JobCommission.Actual_Total_Collection_Payment_Amount__c} * {!forN_ActualSwitch}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>The Actual Total Payment Amount</description>
        <name>forC_ActualTotalPaymentAmount</name>
        <dataType>Currency</dataType>
        <expression>IF({!forC_ActualPayWOCommissionableSwitch} &gt; 0, {!forN_ActualSwitch}* {!forC_ActualPayWOCommissionableSwitch}, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forC_DefaultDepositFirstPaymentAmount</name>
        <dataType>Currency</dataType>
        <expression>{!varR_JobCommission.Default_DepositFirst_Payment_Amount__c} * {!forN_DefaultSwitch}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>This is the Default Deposit/First Payment Amount + Default Total Collection Payment Amount before applying if entire job is commissionable or not</description>
        <name>forC_DefaultPayWOCommissionableSwitch</name>
        <dataType>Currency</dataType>
        <expression>{!varR_JobCommission.Default_DepositFirst_Payment_Amount__c} + {!varR_JobCommission.Default_Total_Collection_Payment_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forC_DefaultQuickCollectionPaymentAmount</name>
        <dataType>Currency</dataType>
        <expression>{!varR_JobCommission.Default_Quick_Collection_Payment_Amount__c} * {!forN_DefaultSwitch}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forC_DefaultSlowCollectionPaymentAmount</name>
        <dataType>Currency</dataType>
        <expression>{!varR_JobCommission.Default_Slow_Collection_Payment_Amount__c} * {!forN_DefaultSwitch}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forC_DefaultTotalCollectionPaymentAmount</name>
        <dataType>Currency</dataType>
        <expression>{!varR_JobCommission.Default_Total_Collection_Payment_Amount__c} * {!forN_DefaultSwitch}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>The default total payment of a job commission on a job</description>
        <name>forC_DefaultTotalPaymentAmount</name>
        <dataType>Currency</dataType>
        <expression>IF({!forC_DefaultPayWOCommissionableSwitch} &gt; 0, {!forN_DefaultSwitch}* {!forC_DefaultPayWOCommissionableSwitch}, 0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>forN_ActualSwitch</name>
        <dataType>Number</dataType>
        <expression>IF (TEXT({!varR_JobCommission.Actual_Commissionable__c}) = {!con_Yes}, 1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>Actual Total Commission Payment Amount / Job Amount * 100</description>
        <name>forN_ActualTotalCommissionPercent</name>
        <dataType>Number</dataType>
        <expression>IF({!varR_JobCommission.Job_Amount__c} &gt; 0, 100 * {!varR_JobCommission.Actual_Total_Commission_Payment_Amount__c} / {!varR_JobCommission.Job_Amount__c}, 0)</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>forN_DefaultSwitch</name>
        <dataType>Number</dataType>
        <expression>IF (TEXT({!varR_JobCommission.Default_Commissionable__c}) = {!con_Yes}, 1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>This is the Default Total Payment Amount / Job Amount X 100%</description>
        <name>forN_DefaultTotalCommissionPercent</name>
        <dataType>Number</dataType>
        <expression>IF({!varR_JobCommission.Job_Amount__c} &gt; 0, 100 * {!varR_JobCommission.Default_Total_Payment_Amount__c} / {!varR_JobCommission.Job_Amount__c}, 0)</expression>
        <scale>4</scale>
    </formulas>
    <interviewLabel>JobCommissionCal-Subflow-Commissionable {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JobCommissionCal-Subflow-Commissionable</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Default_Commissionable</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_JobCommission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job_Commission__c</objectType>
    </variables>
</Flow>
