force-app/main/default/flows/JobCommissionCal_Subflow_SetActualDepositFirstPaymentParameters.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Clear_Actual_Parameters</name>
        <label>Clear Actual Parameters</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varN_ActualDeposit1stPayIncentivePer</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Actual_Parameters</name>
        <label>Set Actual Parameters</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varN_ActualDeposit1stPayIncentivePer</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varN_Deposit1stPayIncentivePercent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Exception</name>
        <label>Set Exception</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>varP_ExceptionDepositFirstPayment</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Exception.varP_isException</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <description>Yes</description>
        <name>con_Yes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Actual_Met</name>
        <label>Actual Met?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Clear_Actual_Parameters</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Actual Met - No</defaultConnectorLabel>
        <rules>
            <name>Actual_Met_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varP_ActualDeposit1stPaymentMet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>con_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Actual_Parameters</targetReference>
            </connector>
            <label>Actual Met - Yes</label>
        </rules>
    </decisions>
    <description>STAR-6133, STAR-5602 This sublfow sets the Actual parameters for Actual Deposit First Payment Amount.  It is used by the Manage Commission UI</description>
    <environments>Default</environments>
    <interviewLabel>JobCommissionCal-Subflow- {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JobCommissionCal-Subflow-SetActualDepositFirstPaymentParameters</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Actual_Met</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Is_Exception</name>
        <label>Is Exception?</label>
        <locationX>182</locationX>
        <locationY>434</locationY>
        <connector>
            <targetReference>Set_Exception</targetReference>
        </connector>
        <flowName>JobCommissionCal_SubFlow_DetermineException</flowName>
        <inputAssignments>
            <name>varP_isActualMet</name>
            <value>
                <elementReference>varP_ActualDeposit1stPaymentMet</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varP_isDefaultMet</name>
            <value>
                <elementReference>varP_DefaultDeposit1stPaymentMet</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>varN_ActualDeposit1stPayIncentivePer</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varN_Deposit1stPayIncentivePercent</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>varP_ActualDeposit1stPaymentMet</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varP_DefaultDeposit1stPaymentMet</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varP_ExceptionDepositFirstPayment</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
