force-app/main/default/flows/JobCommissionCal_Subflow_TotalCollection.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Copy the Default Quick Collection Values to the Actual Quick Collection Values since there isn&apos;t an Exception for Quick Collection</description>
        <name>Copy_Default_Quick_Collections_to_Actuals</name>
        <label>Copy Default Quick Collections to Actuals</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Quick_Collection_Met__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_JobCommission.Default_Quick_Collection_Met__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Quick_Collection_Incentive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_JobCommission.Default_Quick_Collection_Incentive__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Quick_Collection_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_JobCommission.Default_Quick_Collection_Payment_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Exception_Quick_Collection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>con_No</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Slow_Collection_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Copy the Default Slow Collection Values to the Actual Slow Collection Values since there isn&apos;t an Exception for Slow Collection</description>
        <name>Copy_Default_Slow_Collections_to_Actuals</name>
        <label>Copy Default Slow Collections to Actuals</label>
        <locationX>446</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Slow_Collection_Met__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_JobCommission.Default_Slow_Collection_Met__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Slow_Collection_Incentive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_JobCommission.Default_Slow_Collection_Incentive__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Slow_Collection_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_JobCommission.Default_Slow_Collection_Payment_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Exception_Slow_Collection__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>con_No</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actual_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>None</name>
        <label>None</label>
        <locationX>578</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Total_Collection_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Total_Collection_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Quick</name>
        <label>Quick</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Total_Collection_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quick Collection</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Total_Collection_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_JobCommission.Actual_Quick_Collection_Payment_Amount__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Because there is an Quick Collection Exception, set the actuals Quick Collection to match the actual re-calculated values</description>
        <name>Set_Actual_Quick_Collection_Calculated_Values</name>
        <label>Set Actual Quick Collection Calculated Values</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Quick_Collection_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calculate_the_Actual_Quick_Collection_Payment_Amount.varC_PaymentAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Slow_Collection_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Because there is an Slow Collection Exception, set the actuals Slow Collection to match the actual re-calculated values</description>
        <name>Set_Actual_Slow_Collection_Calculated_Values</name>
        <label>Set Actual Slow Collection Calculated Values</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Slow_Collection_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calculate_the_Actual_Slow_Collection_Payment_Amount.varC_PaymentAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actual_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets the Default Quick Collection Incentive %, Default Quick Collection Met?, Default Slow Collection Incentive % and Default Slow Collection Met?  fields on the Job Commission</description>
        <name>Set_Default_Criteria</name>
        <label>Set Default Criteria</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Default_Quick_Collection_Met__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Determine_Default_Total_Collection_Criteria_Met.varP_DefaultQuickCollectionMet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Default_Slow_Collection_Met__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Determine_Default_Total_Collection_Criteria_Met.varP_DefaultSlowCollectionMet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Default_Slow_Collection_Incentive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Determine_Default_Total_Collection_Criteria_Met.varN_DefaultSlowCollectionIncentivePer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Default_Quick_Collection_Incentive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Determine_Default_Total_Collection_Criteria_Met.varN_DefaultQuickCollectionIncentivePer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Default_Total_Collection_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Determine_Default_Total_Collection_Criteria_Met.varP_DefaultTotalCollectionType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Default_Quick_Collection_Payment_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set the Default Slow and Quick Collection Amounts</description>
        <name>Set_Default_Quick_and_Slow_Amounts</name>
        <label>Set Default Quick and Slow Amounts</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Default_Quick_Collection_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calculate_Default_Quick_Collection_Payment_Amount.varC_PaymentAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Default_Slow_Collection_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calculate_Default_Slow_Collection_Payment_Amount.varC_PaymentAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Default_Total_Collection_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_DefaultTotalCollectionPaymentAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Default_Total_Collection_Payment_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Default_Total_Collection_Payment_Amount</name>
        <label>Set Default Total Collection Payment Amount</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Default_Total_Collection_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_DefaultTotalCollectionPaymentAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_Exception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Because there is no Exception, set the actuals to match the defaults</description>
        <name>Set_the_Actual_to_be_the_Same_as_Default</name>
        <label>Set the Actual to be the Same as Default</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Quick_Collection_Met__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_JobCommission.Default_Quick_Collection_Met__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Quick_Collection_Incentive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_JobCommission.Default_Quick_Collection_Incentive__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Quick_Collection_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_JobCommission.Default_Quick_Collection_Payment_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Slow_Collection_Met__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_JobCommission.Default_Slow_Collection_Met__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Slow_Collection_Incentive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_JobCommission.Default_Slow_Collection_Incentive__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Slow_Collection_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_JobCommission.Default_Slow_Collection_Payment_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Total_Collection_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_JobCommission.Default_Total_Collection_Payment_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Total_Collection_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_JobCommission.Default_Total_Collection_Type__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Slow</name>
        <label>Slow</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Total_Collection_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Slow Collection</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varR_JobCommission.Actual_Total_Collection_Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varR_JobCommission.Actual_Slow_Collection_Payment_Amount__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>con_No</name>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </constants>
    <constants>
        <description>None</description>
        <name>con_TypeNone</name>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </constants>
    <constants>
        <description>Quick Collection</description>
        <name>con_TypeQuickCollection</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Quick Collection</stringValue>
        </value>
    </constants>
    <constants>
        <description>Slow Collection</description>
        <name>con_TypeSlowCollection</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Slow Collection</stringValue>
        </value>
    </constants>
    <constants>
        <name>con_Yes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Actual_Type</name>
        <label>Actual Type</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <defaultConnector>
            <targetReference>None</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None</defaultConnectorLabel>
        <rules>
            <name>Quick_Collection_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_JobCommission.Actual_Quick_Collection_Met__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_JobCommission.Actual_Slow_Collection_Met__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quick</targetReference>
            </connector>
            <label>Quick Collection Type</label>
        </rules>
        <rules>
            <name>Slow_Collection_Type</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_JobCommission.Actual_Quick_Collection_Met__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_JobCommission.Actual_Slow_Collection_Met__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Slow</targetReference>
            </connector>
            <label>Slow Collection Type</label>
        </rules>
    </decisions>
    <decisions>
        <description>Has Exception for either Quick or Slow Collection?</description>
        <name>Has_Exception</name>
        <label>Has Exception?</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Set_the_Actual_to_be_the_Same_as_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Exception</defaultConnectorLabel>
        <rules>
            <name>Exception</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varR_JobCommission.Exception_Quick_Collection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varR_JobCommission.Exception_Slow_Collection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_Quick_Collection_Exception</targetReference>
            </connector>
            <label>Exception</label>
        </rules>
    </decisions>
    <decisions>
        <description>If has a Quick Collection Exception</description>
        <name>Has_Quick_Collection_Exception</name>
        <label>Has Quick Collection Exception?</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Copy_Default_Quick_Collections_to_Actuals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quick Collection Exception - No</defaultConnectorLabel>
        <rules>
            <name>Quick_Collection_Exception_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_JobCommission.Exception_Quick_Collection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_the_Actual_Quick_Collection_Payment_Amount</targetReference>
            </connector>
            <label>Quick Collection Exception - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Slow_Collection_Exception</name>
        <label>Has Slow Collection Exception?</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Copy_Default_Slow_Collections_to_Actuals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Slow Collection Exception - No</defaultConnectorLabel>
        <rules>
            <name>Slow_Collection_Exception_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varR_JobCommission.Exception_Slow_Collection__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_the_Actual_Slow_Collection_Payment_Amount</targetReference>
            </connector>
            <label>Slow Collection Exception - Yes</label>
        </rules>
    </decisions>
    <description>STAR-5564, STAR-5602, STAR-6133 This calculates Total Collection for both Slow and Quick Collection portions of the commission.</description>
    <environments>Default</environments>
    <formulas>
        <name>forC_DefaultTotalCollectionPaymentAmount</name>
        <dataType>Currency</dataType>
        <expression>IF (TEXT({!varR_JobCommission.Default_Quick_Collection_Met__c}) = {!con_Yes} &amp;&amp; TEXT({!varR_JobCommission.Default_Slow_Collection_Met__c}) = {!con_No},
    {!varR_JobCommission.Default_Quick_Collection_Payment_Amount__c},
    IF (TEXT({!varR_JobCommission.Default_Quick_Collection_Met__c}) = {!con_No} &amp;&amp; TEXT({!varR_JobCommission.Default_Slow_Collection_Met__c}) = {!con_Yes},
        {!varR_JobCommission.Default_Slow_Collection_Payment_Amount__c},
        0
    )
 )</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>JobCommissionCal-Subflow-TotalCollection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JobCommissionCal-Subflow-TotalCollection</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Default_Total_Collection_Criteria_Met</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Calculate Default Quick Collection Payment Amount</description>
        <name>Calculate_Default_Quick_Collection_Payment_Amount</name>
        <label>Calculate Default Quick Collection Payment Amount</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Calculate_Default_Slow_Collection_Payment_Amount</targetReference>
        </connector>
        <flowName>JobCommissionCal_SubFlow_Generic_CommissionCalculation</flowName>
        <inputAssignments>
            <name>varC_JobAmount</name>
            <value>
                <elementReference>varR_JobCommission.Job_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varN_IncentivePercentage</name>
            <value>
                <elementReference>varR_JobCommission.Default_Quick_Collection_Incentive__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varN_SplitMultiplier</name>
            <value>
                <elementReference>varR_JobCommission.Split_Multiplier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varP_isCriteriaMet</name>
            <value>
                <elementReference>varR_JobCommission.Default_Quick_Collection_Met__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Calculate Default Slow Collection Payment Amount</description>
        <name>Calculate_Default_Slow_Collection_Payment_Amount</name>
        <label>Calculate Default Slow Collection Payment Amount</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Set_Default_Quick_and_Slow_Amounts</targetReference>
        </connector>
        <flowName>JobCommissionCal_SubFlow_Generic_CommissionCalculation</flowName>
        <inputAssignments>
            <name>varC_JobAmount</name>
            <value>
                <elementReference>varR_JobCommission.Job_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varN_IncentivePercentage</name>
            <value>
                <elementReference>varR_JobCommission.Default_Slow_Collection_Incentive__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varN_SplitMultiplier</name>
            <value>
                <elementReference>varR_JobCommission.Split_Multiplier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varP_isCriteriaMet</name>
            <value>
                <elementReference>varR_JobCommission.Default_Slow_Collection_Met__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Calculates the Actual Quick Collection Payment Amount</description>
        <name>Calculate_the_Actual_Quick_Collection_Payment_Amount</name>
        <label>Calculate the Actual Quick Collection Payment Amount</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Set_Actual_Quick_Collection_Calculated_Values</targetReference>
        </connector>
        <flowName>JobCommissionCal_SubFlow_Generic_CommissionCalculation</flowName>
        <inputAssignments>
            <name>varC_JobAmount</name>
            <value>
                <elementReference>varR_JobCommission.Job_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varN_IncentivePercentage</name>
            <value>
                <elementReference>varR_JobCommission.Actual_Quick_Collection_Incentive__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varN_SplitMultiplier</name>
            <value>
                <elementReference>varR_JobCommission.Split_Multiplier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varP_isCriteriaMet</name>
            <value>
                <elementReference>varR_JobCommission.Actual_Quick_Collection_Met__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Calculates the Actual Slow Collection Payment Amount</description>
        <name>Calculate_the_Actual_Slow_Collection_Payment_Amount</name>
        <label>Calculate the Actual Slow Collection Payment Amount</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Set_Actual_Slow_Collection_Calculated_Values</targetReference>
        </connector>
        <flowName>JobCommissionCal_SubFlow_Generic_CommissionCalculation</flowName>
        <inputAssignments>
            <name>varC_JobAmount</name>
            <value>
                <elementReference>varR_JobCommission.Job_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varN_IncentivePercentage</name>
            <value>
                <elementReference>varR_JobCommission.Actual_Slow_Collection_Incentive__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varN_SplitMultiplier</name>
            <value>
                <elementReference>varR_JobCommission.Split_Multiplier__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varP_isCriteriaMet</name>
            <value>
                <elementReference>varR_JobCommission.Actual_Slow_Collection_Met__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <description>Determine if Default Total Collection Criteria is met for either Quick or Slow Collection but not both</description>
        <name>Determine_Default_Total_Collection_Criteria_Met</name>
        <label>Determine Default Total Collection Criteria Met</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Set_Default_Criteria</targetReference>
        </connector>
        <flowName>JobCommissionCal_Subflow_DefaultTotalCollectionCriteria</flowName>
        <inputAssignments>
            <name>varD_JobDateFullyCollected</name>
            <value>
                <elementReference>varR_JobCommission.Job_Date_Fully_Collected__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varD_JobWorkCompleteDate</name>
            <value>
                <elementReference>varR_JobCommission.Job_Work_Complete_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varN_CollectionIncentiveThreshold</name>
            <value>
                <elementReference>varR_JobCommission.Collection_Incentive_Threshold__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varN_QuickCollectionIncentivePercent</name>
            <value>
                <elementReference>varR_JobCommission.Quick_Collection_Incentive__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varN_SlowCollectionIncentivePercent</name>
            <value>
                <elementReference>varR_JobCommission.Slow_Collection_Incentive__c</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>The incoming Job Commission has the tier and job financial information.  The outgoing Job Commission has the Deposit First Payment calculation informaiton.</description>
        <name>varR_JobCommission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job_Commission__c</objectType>
    </variables>
</Flow>
