force-app/main/default/flows/JobCommissionCal_Subflow_ConfigureCommissionParameters.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Configure_Job_Commission_Parameters</name>
        <label>Configure Job Commission Parameters</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <actionName>CommissionConfigurationInvoker</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Commission_Parameters</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jobCommissionLst</name>
            <value>
                <elementReference>varR_JobCommission</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CommissionConfigurationInvoker</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Commission_Parameters</name>
        <label>Set Commission Parameters</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varR_JobCommission</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Configure_Job_Commission_Parameters</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>STAR-5564, STAR-5991 This subflow configures the selects the margin tier and parameters for the job commission based on job margin</description>
    <environments>Default</environments>
    <interviewLabel>JobCommissionCal-Subflow-ConfigureCommissionParameters {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JobCommissionCal-Subflow-ConfigureCommissionParameters</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Configure_Job_Commission_Parameters</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>varR_JobCommission</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Job_Commission__c</objectType>
    </variables>
</Flow>
