force-app/main/default/flows/JobCommissionCal_SubFlow_Generic_CommissionCalculation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Calculate_Amount</name>
        <label>Calculate Amount</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varC_PaymentAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forC_PaymentAmount</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_to_0</name>
        <label>Set to 0</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>varC_PaymentAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>con_Yes</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Criteria_Met</name>
        <label>Criteria Met?</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Set_to_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varP_isCriteriaMet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>con_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Amount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>STAR-5564, STAR-6133 This subflow calculates a generic commission amount</description>
    <environments>Default</environments>
    <formulas>
        <description>This is the Deposit First Payment Amount Calculated</description>
        <name>forC_PaymentAmount</name>
        <dataType>Currency</dataType>
        <expression>IF(
      ISNULL({!varC_JobAmount}) || ISNULL({!varN_SplitMultiplier} ) || ISNULL({!varN_IncentivePercentage}),
      0,
      {!varC_JobAmount}* {!varN_SplitMultiplier} * {!varN_IncentivePercentage}/100
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>JobCommissionCal-SubFlow-Generic-DepositFirstPayment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>JobCommissionCal-SubFlow-Generic-CommissionCalculation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Criteria_Met</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>The Commissionable Job Amount</description>
        <name>varC_JobAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>This is the calculated Payment Amount</description>
        <name>varC_PaymentAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>This is the Incentive Percentage</description>
        <name>varN_IncentivePercentage</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>This is the split multiplier and it is based off of the number of ECs on a Job Commission</description>
        <name>varN_SplitMultiplier</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Pass in Picklist Value of Yes and No if Criteria Met</description>
        <name>varP_isCriteriaMet</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
