force-app/main/default/flows/Maps_MassAction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_Single_Campaign_Member_to_Collection</name>
        <label>Add Single Campaign Member to Collection</label>
        <locationX>819</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>vCampaignMember</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vSingleCampaignMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_recordIds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Maps_Id</name>
        <label>Assign Single Maps Id</label>
        <locationX>614</locationX>
        <locationY>179</locationY>
        <assignmentItems>
            <assignToReference>vSingleCampaignMember.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_recordIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vSingleCampaignMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCampaignId.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Single_Campaign_Member_to_Collection</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>ActiveCampaigns</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>vSelectedCampaign</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <formulas>
        <name>addSemi</name>
        <dataType>String</dataType>
        <expression>{!recordIdssss} + &quot;;&quot;</expression>
    </formulas>
    <formulas>
        <name>removeMapsIds</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!recordIdssss},&quot;,&quot;),TRIM(RIGHT({!recordIdssss}, LEN({!recordIdssss}) - FIND(&quot;,&quot;, {!recordIdssss}))),&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>singleMapsId</name>
        <dataType>String</dataType>
        <expression>IF(CONTAINS({!recordIdssss},&quot;,&quot;),TRIM(LEFT({!recordIdssss}, FIND(&quot;,&quot;, {!recordIdssss})-1)),LEFT({!recordIdssss},18))</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Maps_MassAction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Maps_MassAction</label>
    <loops>
        <name>Loop_through_recordIds</name>
        <label>Loop through recordIds</label>
        <locationX>299</locationX>
        <locationY>265</locationY>
        <collectionReference>recordId</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Single_Maps_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AddAccountToCampaign</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>AddAccountToCampaign</name>
        <label>AddAccountToCampaign</label>
        <locationX>664</locationX>
        <locationY>571</locationY>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <inputReference>vCampaignMember</inputReference>
    </recordCreates>
    <recordLookups>
        <name>getCampaignId</name>
        <label>getCampaignId</label>
        <locationX>168</locationX>
        <locationY>392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_recordIds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campaign_Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Select_an_Active_Campaign</name>
        <label>Select an Active Campaign</label>
        <locationX>50</locationX>
        <locationY>252</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getCampaignId</targetReference>
        </connector>
        <fields>
            <name>Campaign_Name</name>
            <choiceReferences>ActiveCampaigns</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Campaign Name</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>911</locationX>
        <locationY>572</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;Accounts have been assigned to {!getCampaignId.Name}!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CampaignsMessage</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>CampaignsAstro</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>273</locationX>
        <locationY>95</locationY>
        <connector>
            <targetReference>Select_an_Active_Campaign</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordIdssss</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>singleAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>singleContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>singleEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Event</objectType>
    </variables>
    <variables>
        <name>textId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>vSelectedCampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vSingleCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
