force-app/main/default/flows/New_Job_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assigned</name>
        <label>AssignedReferredby</label>
        <locationX>557</locationX>
        <locationY>1046</locationY>
        <assignmentItems>
            <assignToReference>NewJobRec.Referred_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Contact.CreateContact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Complete_Job_Screen_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Job_Screen_Info</name>
        <label>Initialize Job Screen Info</label>
        <locationX>689</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>NewJobRec.Tax_Exempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Tax_Exempt__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.BD_Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Callers_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Property_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Onsite_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Onsite_Contact_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Onsite_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Vertical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Vertical__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Subvertical__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Subvertical__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Client_Work_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Work_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Damage_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Special_Concerns__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Area_Wide_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Referred_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Site_Walk_Complete_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vaRDateNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Estimate_Sent_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vaRDateNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Billing_Contact2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_billingcontactname</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Billing_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_billingcontactemail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Billing_Contact_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_billingcontactphone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.BD_Account_Manager_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_BD2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.BD_Account_Manager_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Regional_Coordinator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.AP_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Probability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Insurance_Deductible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNumberNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Insurance_Policy_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Insurance_Claim_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Date_of_Loss__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vaRDateNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Date_of_Call__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Estimated_SqFt_Affected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNumberNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Protocols_ACM_Testing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_PropertyACMTestingProtocols</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Protocols_Adjusters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_PropertyAdjustersProtocols</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Protocols_Billing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_PropertyBillingProtocols</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Protocols_Broker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_PropertyBrokerProtocols</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Protocols_DFRs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_PropertyDFRProtocols</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Protocols_Portal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_PropertyPortalProtocols</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Protocols_Pricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_PropertyPricingProtocols</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Protocols_Special_Concerns__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_PropertySpecialConcernsProtocols</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Protocols_Work_Auth_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_PropertyWorkAuthPOProtocols</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.National_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.National_Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Drive_Down__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Drive_Down__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Account_Contract_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Contract_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.T_M_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.T_M_Year__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Job_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_JobName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Property_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.ROM_Estimate_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varNumberNull</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Billing_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Billing_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Billing_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Billing_Zip_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_BillingZipCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Billing_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Rate_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.MSA_Rate_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Prevailing_Wage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Prevailing_Wage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Bid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_Boolean</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Billing_Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Billing_Entity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Price_Sheet__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Price_Sheet__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Insurance_Adjuster_Contactx__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Insurance_Agent_Broker_Contactx__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Insurance_Carrier_Contactx__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Project_Director__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Project_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.RM_CM_OM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vaR_JobIdNull.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.GPO_Cooperative_Purchasing_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.GPO_Cooperative_Purchasing_Agreement__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewJobRec.Bill_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Bill_To__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Capture_Initial_Job_Fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetintialJob</name>
        <label>SetintialJob</label>
        <locationX>689</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>NewJobRec</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Capture_Initial_Job_Fields.StoreJobFields</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact_Decision</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_AreaWideEventNo</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Choice_AreaWideEventYes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Choice_JobStatus</name>
        <choiceText>Lead</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Create_Contact_Decision</name>
        <label>Create Contact</label>
        <locationX>689</locationX>
        <locationY>830</locationY>
        <defaultConnector>
            <targetReference>Done</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Don&apos;t Create Contact</defaultConnectorLabel>
        <rules>
            <name>Create_Contact_Checkbox_is_checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Capture_Initial_Job_Fields.isCreateContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact</targetReference>
            </connector>
            <label>Create Contact Checkbox is checked</label>
        </rules>
    </decisions>
    <description>this will be used from the Account&gt;Create New Job button.  It is consolidate 3 screens into one</description>
    <dynamicChoiceSets>
        <name>choice_AccountStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_BDAccountManager2</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_ContractAttached</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contract_Attached1__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_JobLossReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Job_Loss_Reason__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_JobProbabilty</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Probability__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>used to pass lookup values of key team members</description>
        <name>choice_KeyTeamMembersID</name>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_LeadSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lead_Source__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_RateType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rate_Type__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_ScopeLetterAttached</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Scope_Letter_Attached1__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_ServiceTerritoryID</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>ServiceTerritory</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_TypeofLoss</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Work_Type__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_UserRecord</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00e1U000001wM2L</stringValue>
            </value>
        </filters>
        <object>User</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>JobStatusPL</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>forB_isOverrideAccountProtocols</name>
        <dataType>Boolean</dataType>
        <expression>IF( 
          ISNULL({!CreateJobRecord.Protocols_ACM_Testing__c})
    &amp;&amp; ISNULL({!CreateJobRecord.Protocols_Adjusters__c})
    &amp;&amp; ISNULL({!CreateJobRecord.Protocols_Billing__c})
    &amp;&amp; ISNULL({!CreateJobRecord.Protocols_Broker__c})   
    &amp;&amp; ISNULL({!CreateJobRecord.Protocols_DFRs__c})
    &amp;&amp; ISNULL({!CreateJobRecord.Protocols_Portal__c})
    &amp;&amp; ISNULL({!CreateJobRecord.Protocols_Pricing__c}) 
    &amp;&amp; ISNULL({!CreateJobRecord.Protocols_Special_Concerns__c}) 
    &amp;&amp; ISNULL({!CreateJobRecord.Protocols_Work_Auth_PO__c}), 
  true, 
  false
)</expression>
    </formulas>
    <formulas>
        <name>forT_AgentFirstName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}</expression>
    </formulas>
    <formulas>
        <name>forT_BD2</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Account.BD_Account_Manager_2__r.IsActive}= True&amp;&amp;{!Get_Account.BD_Account_Manager_2__r.Id}&lt;&gt; {!Get_Account.OwnerId}, ({!Get_Account.BD_Account_Manager_2__r.Id}), Null)</expression>
    </formulas>
    <formulas>
        <name>forT_BillingCity</name>
        <dataType>String</dataType>
        <expression>CASE(
{!Get_Account.Bill_To__c},
&quot;Property&quot;, {!Find_or_Create_Property.propertyAccRecVar.BillingCity},
&quot;Account&quot;, {!Get_Account.BillingCity},
&quot;Portal&quot;, {!Get_Account.BillingCity},
{!Get_Account.BillingCity}
)</expression>
    </formulas>
    <formulas>
        <name>forT_billingcontactemail</name>
        <dataType>String</dataType>
        <expression>CASE(
{!Get_Account.Bill_To__c},
&quot;Property&quot;, {!Find_or_Create_Property.propertyAccRecVar.Billing_Email__c},
&quot;Account&quot;, {!Get_Account.Billing_Email__c},
&quot;Portal&quot;, {!Get_Account.Billing_Email__c},
NULL
)</expression>
    </formulas>
    <formulas>
        <name>forT_billingcontactname</name>
        <dataType>String</dataType>
        <expression>CASE(
{!Get_Account.Bill_To__c},
&quot;Property&quot;, {!Find_or_Create_Property.propertyAccRecVar.Billing_Contact__c},
&quot;Account&quot;, {!Get_Account.Billing_Contact__c},
&quot;Portal&quot;, {!Get_Account.Billing_Contact__c},
NULL
)</expression>
    </formulas>
    <formulas>
        <name>forT_billingcontactphone</name>
        <dataType>String</dataType>
        <expression>CASE(
{!Get_Account.Bill_To__c},
&quot;Property&quot;, {!Find_or_Create_Property.propertyAccRecVar.Billing_Phone__c},
&quot;Account&quot;, {!Get_Account.Billing_Phone__c},
&quot;Portal&quot;, {!Get_Account.Billing_Phone__c},
NULL
)</expression>
    </formulas>
    <formulas>
        <name>forT_BillingCountry</name>
        <dataType>String</dataType>
        <expression>CASE(
TEXT({!Get_Account.Bill_To__c}),
&quot;Property&quot;, TEXT({!Find_or_Create_Property.propertyAccRecVar.BillingCountryCode}),
&quot;Account&quot;, TEXT({!Get_Account.BillingCountryCode}),
&quot;Portal&quot;, TEXT({!Get_Account.BillingCountryCode}),
TEXT({!Get_Account.BillingCountryCode})
)</expression>
    </formulas>
    <formulas>
        <name>forT_BillingState</name>
        <dataType>String</dataType>
        <expression>CASE(
{!Get_Account.Bill_To__c},
&quot;Property&quot;, TEXT({!Find_or_Create_Property.propertyAccRecVar.BillingStateCode}),
&quot;Account&quot;, TEXT({!Get_Account.BillingStateCode}),
&quot;Portal&quot;, TEXT({!Get_Account.BillingStateCode}),
TEXT({!Get_Account.BillingStateCode})
)</expression>
    </formulas>
    <formulas>
        <name>forT_BillingStreet</name>
        <dataType>String</dataType>
        <expression>CASE(
{!Get_Account.Bill_To__c},
&quot;Property&quot;, {!Find_or_Create_Property.propertyAccRecVar.BillingStreet},
&quot;Account&quot;, {!Get_Account.BillingStreet},
&quot;Portal&quot;, {!Get_Account.BillingStreet},
{!Get_Account.BillingStreet}
)</expression>
    </formulas>
    <formulas>
        <name>forT_BillingZipCode</name>
        <dataType>String</dataType>
        <expression>CASE(
{!Get_Account.Bill_To__c},
&quot;Property&quot;, {!Find_or_Create_Property.propertyAccRecVar.BillingPostalCode},
&quot;Account&quot;, {!Get_Account.BillingPostalCode},
&quot;Portal&quot;, {!Get_Account.BillingPostalCode},
{!Get_Account.BillingPostalCode}
)</expression>
    </formulas>
    <formulas>
        <name>fort_CountryCode</name>
        <dataType>String</dataType>
        <expression>IF ( ISBLANK ( {!Get_Account.ShippingCountry}), {!$User.Country}, {!Get_Account.ShippingCountry})</expression>
    </formulas>
    <formulas>
        <name>forT_InitializeBillingAddress</name>
        <dataType>String</dataType>
        <expression>{!Get_Account.BillingStreet}&amp; BR() &amp;&quot; &quot;&amp; {!Get_Account.BillingCity}&amp;  &quot;, &quot; &amp;{!Get_Account.BillingState} &amp; &quot;, &quot; &amp; {!Get_Account.BillingPostalCode} &amp; BR( )&amp;&quot; &quot;&amp; {!Get_Account.BillingCountry}</expression>
    </formulas>
    <formulas>
        <description>used to pull in the job creator&apos;s name on first scrent</description>
        <name>forT_JobCreatorName</name>
        <dataType>String</dataType>
        <expression> {!$User.FirstName}</expression>
    </formulas>
    <formulas>
        <name>forT_JobName</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!Find_or_Create_Property.propertyAccRecVar.Property_Name__c}),
    {!Get_Account.Name} +&quot; &quot;+ TEXT(TODAY()),
    {!Find_or_Create_Property.propertyAccRecVar.Property_Name__c} +&quot; &quot;+ TEXT(TODAY())
)</expression>
    </formulas>
    <formulas>
        <name>forT_PropertyACMTestingProtocols</name>
        <dataType>String</dataType>
        <expression>IF(
!ISBLANK({!Find_or_Create_Property.propertyAccRecVar.Protocols_ACM_Testing__c}),
{!Find_or_Create_Property.propertyAccRecVar.Protocols_ACM_Testing__c},
{!Get_Account.Protocols_ACM_Testing__c}
)</expression>
    </formulas>
    <formulas>
        <name>forT_PropertyAdjustersProtocols</name>
        <dataType>String</dataType>
        <expression>IF(
!ISBLANK({!Find_or_Create_Property.propertyAccRecVar.Protocols_Adjusters__c}),
{!Find_or_Create_Property.propertyAccRecVar.Protocols_Adjusters__c},
{!Get_Account.Protocols_Adjusters__c}
)</expression>
    </formulas>
    <formulas>
        <name>forT_PropertyBillingProtocols</name>
        <dataType>String</dataType>
        <expression>IF(
!ISBLANK({!Find_or_Create_Property.propertyAccRecVar.Protocols_Billing__c}),
{!Find_or_Create_Property.propertyAccRecVar.Protocols_Billing__c},
{!Get_Account.Protocols_Billing__c}
)</expression>
    </formulas>
    <formulas>
        <name>forT_PropertyBrokerProtocols</name>
        <dataType>String</dataType>
        <expression>IF(
!ISBLANK({!Find_or_Create_Property.propertyAccRecVar.Protocols_Broker__c}),
{!Find_or_Create_Property.propertyAccRecVar.Protocols_Broker__c},
{!Get_Account.Protocols_Broker__c}
)</expression>
    </formulas>
    <formulas>
        <name>forT_PropertyDFRProtocols</name>
        <dataType>String</dataType>
        <expression>IF(
!ISBLANK({!Find_or_Create_Property.propertyAccRecVar.Protocols_DFRs__c}),
{!Find_or_Create_Property.propertyAccRecVar.Protocols_DFRs__c},
{!Get_Account.Protocols_DFRs__c}
)</expression>
    </formulas>
    <formulas>
        <name>forT_PropertyPortalProtocols</name>
        <dataType>String</dataType>
        <expression>IF(
!ISBLANK({!Find_or_Create_Property.propertyAccRecVar.Protocols_Portal__c}),
{!Find_or_Create_Property.propertyAccRecVar.Protocols_Portal__c},
{!Get_Account.Protocols_Portal__c}
)</expression>
    </formulas>
    <formulas>
        <name>forT_PropertyPricingProtocols</name>
        <dataType>String</dataType>
        <expression>IF(
!ISBLANK({!Find_or_Create_Property.propertyAccRecVar.Protocols_Pricing__c}),
{!Find_or_Create_Property.propertyAccRecVar.Protocols_Pricing__c},
{!Get_Account.Protocols_Pricing__c}
)</expression>
    </formulas>
    <formulas>
        <name>forT_PropertySpecialConcernsProtocols</name>
        <dataType>String</dataType>
        <expression>IF(
!ISBLANK({!Find_or_Create_Property.propertyAccRecVar.Protocols_Special_Concerns__c}),
{!Find_or_Create_Property.propertyAccRecVar.Protocols_Special_Concerns__c},
{!Get_Account.Protocols_Special_Concerns__c}
)</expression>
    </formulas>
    <formulas>
        <name>forT_PropertyWorkAuthPOProtocols</name>
        <dataType>String</dataType>
        <expression>IF(
!ISBLANK({!Find_or_Create_Property.propertyAccRecVar.Protocols_Work_Auth_PO__c}),
{!Find_or_Create_Property.propertyAccRecVar.Protocols_Work_Auth_PO__c},
{!Get_Account.Protocols_Work_Auth_PO__c}
)</expression>
    </formulas>
    <formulas>
        <name>forT_ProtocolACMTesting</name>
        <dataType>String</dataType>
        <expression>IF({!forB_isOverrideAccountProtocols}=true,{!GetAccounts.Protocols_ACM_Testing__c},{!CreateJobRecord.Protocols_ACM_Testing__c})</expression>
    </formulas>
    <formulas>
        <name>forT_ProtocolAdjuster</name>
        <dataType>String</dataType>
        <expression>IF({!forB_isOverrideAccountProtocols}=true,{!GetAccounts.Protocols_Adjusters__c},{!CreateJobRecord.Protocols_Adjusters__c})</expression>
    </formulas>
    <formulas>
        <name>forT_ProtocolBilling</name>
        <dataType>String</dataType>
        <expression>IF({!forB_isOverrideAccountProtocols},{!GetAccounts.Protocols_Billing__c},{!CreateJobRecord.Protocols_Billing__c})</expression>
    </formulas>
    <formulas>
        <name>forT_ProtocolBroker</name>
        <dataType>String</dataType>
        <expression>IF({!forB_isOverrideAccountProtocols}, {!GetAccounts.Protocols_Broker__c},{!CreateJobRecord.Protocols_Broker__c})</expression>
    </formulas>
    <formulas>
        <name>forT_ProtocolDFR</name>
        <dataType>String</dataType>
        <expression>IF({!forB_isOverrideAccountProtocols}, {!GetAccounts.Protocols_DFRs__c},{!CreateJobRecord.Protocols_DFRs__c})</expression>
    </formulas>
    <formulas>
        <name>forT_ProtocolPortal</name>
        <dataType>String</dataType>
        <expression>IF({!forB_isOverrideAccountProtocols},{!GetAccounts.Protocols_Portal__c},{!CreateJobRecord.Protocols_Portal__c})</expression>
    </formulas>
    <formulas>
        <name>forT_ProtocolPricing</name>
        <dataType>String</dataType>
        <expression>IF({!forB_isOverrideAccountProtocols},{!GetAccounts.Protocols_Pricing__c},{!CreateJobRecord.Protocols_Pricing__c})</expression>
    </formulas>
    <formulas>
        <name>forT_ProtocolSpecialConcerns</name>
        <dataType>String</dataType>
        <expression>IF({!forB_isOverrideAccountProtocols},{!GetAccounts.Protocols_Special_Concerns__c},{!CreateJobRecord.Protocols_Special_Concerns__c})</expression>
    </formulas>
    <formulas>
        <name>forT_ProtocolWorkAuthPO</name>
        <dataType>String</dataType>
        <expression>IF({!forB_isOverrideAccountProtocols},{!GetAccounts.Protocols_Work_Auth_PO__c},{!CreateJobRecord.Protocols_Work_Auth_PO__c})</expression>
    </formulas>
    <interviewLabel>New Job Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>New Job Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>689</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_or_Create_Property</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Account</name>
        <label>GetUpdatedAccount</label>
        <locationX>689</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Initialize_Job_Screen_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Done</name>
        <label>Done</label>
        <locationX>689</locationX>
        <locationY>1346</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Complete</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;You successfully created the Job!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Click &lt;/b&gt;&lt;a href=&quot;/{!NewJobRec}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 18px;&quot;&gt;&lt;b&gt;here&lt;/b&gt;&lt;/a&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt; to view your New Job&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>563</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Capture_Initial_Job_Fields</name>
        <label>Capture Initial Job Fields</label>
        <locationX>689</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>SetintialJob</targetReference>
        </connector>
        <flowName>Sub_Job_Screen_Capture</flowName>
        <inputAssignments>
            <name>JobAccountVar</name>
            <value>
                <elementReference>Get_Updated_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>propertyAccRecVar</name>
            <value>
                <elementReference>Find_or_Create_Property.propertyAccRecVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RelatedtoInsuranceClaimCheckbox</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StoreJobFields</name>
            <value>
                <elementReference>NewJobRec</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Complete_Job_Screen_Fields</name>
        <label>Complete Job Screen Fields</label>
        <locationX>557</locationX>
        <locationY>1154</locationY>
        <connector>
            <targetReference>Done</targetReference>
        </connector>
        <flowName>Sub_Job_Screen_Capture</flowName>
        <inputAssignments>
            <name>AdjusterContactName</name>
            <value>
                <elementReference>Capture_Initial_Job_Fields.AdjusterContactName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>AgentBrokerContactName</name>
            <value>
                <elementReference>Capture_Initial_Job_Fields.AgentBrokerContactName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>APApproverName</name>
            <value>
                <elementReference>Capture_Initial_Job_Fields.APApproverName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BDAccountManager2Name</name>
            <value>
                <elementReference>Capture_Initial_Job_Fields.BDAccountManager2Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BDAccountManager3Name</name>
            <value>
                <elementReference>Capture_Initial_Job_Fields.BDAccountManager3Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>BDAccountManagerName</name>
            <value>
                <elementReference>Capture_Initial_Job_Fields.BDAccountManagerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>InsuranceCarrierContactName</name>
            <value>
                <elementReference>Capture_Initial_Job_Fields.InsuranceCarrierContactName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>IsAWESelected</name>
            <value>
                <elementReference>Capture_Initial_Job_Fields.IsAWESelected</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>JobAccountVar</name>
            <value>
                <elementReference>Get_Updated_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProjectDirectorName</name>
            <value>
                <elementReference>Capture_Initial_Job_Fields.ProjectDirectorName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ProjectManagerName</name>
            <value>
                <elementReference>Capture_Initial_Job_Fields.ProjectManagerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>propertyAccRecVar</name>
            <value>
                <elementReference>Find_or_Create_Property.propertyAccRecVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ReferredByName</name>
            <value>
                <elementReference>Capture_Initial_Job_Fields.ReferredByName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RegionalCoordinatorName</name>
            <value>
                <elementReference>Capture_Initial_Job_Fields.RegionalCoordinatorName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RelatedtoInsuranceClaimCheckbox</name>
            <value>
                <elementReference>Capture_Initial_Job_Fields.RelatedtoInsuranceClaimCheckbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>RMCMOMName</name>
            <value>
                <elementReference>Capture_Initial_Job_Fields.RMCMOMName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ServiceTerritoryName</name>
            <value>
                <elementReference>Capture_Initial_Job_Fields.ServiceTerritoryName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ShowClientProtocolsCheckbox</name>
            <value>
                <elementReference>Capture_Initial_Job_Fields.ShowClientProtocolsCheckbox</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>StoreJobFields</name>
            <value>
                <elementReference>NewJobRec</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>557</locationX>
        <locationY>938</locationY>
        <connector>
            <targetReference>Assigned</targetReference>
        </connector>
        <flowName>Create_Contact_Subflow</flowName>
        <inputAssignments>
            <name>AccountName</name>
            <value>
                <elementReference>Get_Updated_Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Accountvar</name>
            <value>
                <elementReference>Get_Updated_Account</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Find_or_Create_Property</name>
        <label>Find or Create Property</label>
        <locationX>689</locationX>
        <locationY>290</locationY>
        <connector>
            <targetReference>Get_Updated_Account</targetReference>
        </connector>
        <flowName>Sub_Flow_Find_or_Create_Property</flowName>
        <inputAssignments>
            <name>AccountBillinginfo</name>
            <value>
                <elementReference>Get_Account</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>accountIdVar</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>propertyAccRecVar</name>
            <value>
                <elementReference>Find_or_Create_Property.propertyAccRecVar</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>ClaimScript</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Related to Insurance Claim - Determine if this involves an insurance claim - if so, collect as much insurance information as possible (click checkbox for fields)</text>
    </textTemplates>
    <textTemplates>
        <description>used for damage descrption screen questions</description>
        <name>DamageDescriptionScript</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Damage Description Detail all notes about damage for Operations Team Special Concerns Is there power at the property ? Do you need a generator? Is the property vacant or occupied? Is the property single or multi-level? Has the source of the damage been identified/repaired? Contents Damage Have any contents or personal property been damaged? What was damaged and what is rough estimated value of items? Does anything need to be removed ASAP?</text>
    </textTemplates>
    <textTemplates>
        <name>IntroScript</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Ask for a property name to include any relevant unit, suite, or store number</text>
    </textTemplates>
    <variables>
        <description>get the account Id</description>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>get all AWE from object</description>
        <name>AreaWideEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Area_Wide_Event__c</objectType>
    </variables>
    <variables>
        <name>Contact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CreateJobRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>emptyString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>&apos;&apos;</stringValue>
        </value>
    </variables>
    <variables>
        <name>GetAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>NewContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NewJobCreation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>NewJobRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceTerritoryId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceTerritory</objectType>
    </variables>
    <variables>
        <name>StoreNewJob</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StoreScreenJobfields</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Boolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaR_JobIdNull</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>VarCallerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaRDateNull</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarJobFIelds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNumberNull</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
