force-app/main/default/flows/RFP_Opportunity_Create_Update_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Last_Stage_Change_Date</name>
        <label>Set Last Stage Change Date</label>
        <locationX>242</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>varD_LastStageDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_RPF_Opportunity</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Bypass_Flow</name>
        <label>Is Bypass Flow?</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Stage_Change</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Bypass</defaultConnectorLabel>
        <rules>
            <name>TRUE_Bypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.DataAdmin__c.TurnOffFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>TRUE_Bypass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Stage_Change</name>
        <label>Stage Change?</label>
        <locationX>374</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_RPF_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Stage Change</defaultConnectorLabel>
        <rules>
            <name>TRUE_Stage_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Last_Stage_Change_Date</targetReference>
            </connector>
            <label>TRUE_Stage Change</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forB_IsNewRFP</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp; {!$Record.RecordType.Name = &quot;RFP&quot;}</expression>
    </formulas>
    <formulas>
        <name>forD_Today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>RFP Opportunity - Create Update - B {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RFP Opportunity - Create Update - Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_RPF_Opportunity</name>
        <label>Update RPF Opportunity</label>
        <locationX>374</locationX>
        <locationY>767</locationY>
        <inputAssignments>
            <field>Last_Stage_Change_Date__c</field>
            <value>
                <elementReference>varD_LastStageDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Bypass_Flow</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varD_LastStageDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Last_Stage_Change_Date__c</elementReference>
        </value>
    </variables>
</Flow>
