force-app/main/default/flows/Sub_Job_Screen_Capture.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_the_default_Branch</name>
        <label>Assign the default Branch</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>StoreJobFields.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_the_corresponding_Branch.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dp_Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_BIllingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dp_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_BillingState</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Account_a_Tier_5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Integrate_with_Bolt_True_Assignment</name>
        <label>Integrate with Bolt True</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>StoreJobFields.Send_to_Accounting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Protocol_Assignments_from_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>JobAssignFields</name>
        <label>JobAssignFields</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>StoreJobFields.Callers_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Caller_s_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Onsite_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Onsite_Contact_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Onsite_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Onsite_Contact_Email_1.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Tax_Exempt__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tax_Exempt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.T_M_Year__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JobAccountVar.T_M_Year__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Territory.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Client_Work_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_Work_Order_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Date_of_Call__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Call</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Date_of_Loss__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_of_Loss</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Estimated_SqFt_Affected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimated_SqFtAffected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Damage_Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Damage_Description1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Special_Concerns__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Special_Concerns1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Area_Wide_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Area_Wide_Event1.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>isCreateContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Contact1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Source1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.BD_Account_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BD_Account_Manager1.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.BD_Account_Manager_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BD_Account_Manager_2_1.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.BD_Account_Manager_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BD_Account_Manager_3_1.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ServiceTerritoryName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Territory.selectedName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Service_Territory.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>APApproverName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AP_Approver1.selectedName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.AP_Approver__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AP_Approver1.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReferredByName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferredBy.selectedName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Referred_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferredBy.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AreaWideEventName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Area_Wide_Event1.selectedName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Area_Wide_Event__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Area_Wide_Event1.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RegionalCoordinatorName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Regional_Coordinator1.selectedName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Regional_Coordinator__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Regional_Coordinator1.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Protocols_ACM_Testing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_protocolsAcmTesting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Protocols_Adjusters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_protocolsAdjuster</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Protocols_Billing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_protocolsBilling</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Protocols_Broker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_protocolsBroker</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Protocols_DFRs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_protocolsDFR</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Protocols_Portal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_protocolsPortal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Protocols_Pricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_protocolsPricing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Protocols_Special_Concerns__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_protocolsSpecialConcerns</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Protocols_Work_Auth_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_protocolsWorkAuthPO</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Insurance_Claim_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Claim_Number1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Insurance_Deductible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insurance_Deductible1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Insurance_Policy_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insurance_Policy_Number1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Billing_Contact2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Contact1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.ROM_Estimate_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ROM_Estimate_Amount1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Probability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Probability1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Billing_Contact_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Contact_Phone1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Site_Walk_Complete_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Site_Walk_Completion_Date1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Estimate_Sent_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Estimate_Sent_Date1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Billing_Contact_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Contact_Email1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Account_Contract_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>JobAccountVar.Contract_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Contract_Attached1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>choice_ContractAttached</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsAWESelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Area_WideEvent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Client_Work_Order_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Client_Work_Order_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_type_LU.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Source1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>JobType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_type_LU.selectedName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BDAccountManagerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BD_Account_Manager1.selectedName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BDAccountManager2Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BD_Account_Manager_2_1.selectedName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BDAccountManager3Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BD_Account_Manager_3_1.selectedName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Property__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>propertyAccRecVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Work_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>choice_WorkType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Job_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Job_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Bid__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_this_Job_a_Bid</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsAWESelected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Is_Area_WideEvent</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReferredByName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferredBy.selectedName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Billing_Street__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Street</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Billing_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Billing_Zip_Postal_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Zip_Postal_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Billing_Portal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Portal_PL</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Billing_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dp_State</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Billing_Country__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dp_Country</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Rate_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rate_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.GPO_Cooperative_Purchasing_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cooperative_Purchasing_Vehicle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Prevailing_Wage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Prevailing_Wage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Billing_Entity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Entity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Onsite_Contact_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Onsite_Contact_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectDirectorName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Director1.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Project_Director__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Director1.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProjectManagerName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Manager.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.Project_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Manager.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RMCMOMName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RM_CM_OM_1.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StoreJobFields.RM_CM_OM__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RM_CM_OM_1.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Get Protocol Assignments From Screen</description>
        <name>Protocol_Assignments_from_Screen</name>
        <label>Protocol Assignments from Screen</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>jobProtocolVar.Protocols_ACM_Testing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Protocols_ACM_Testing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobProtocolVar.Protocols_Adjusters__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Protocols_Adjusters</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobProtocolVar.Protocols_Billing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Protocols_Billing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobProtocolVar.Protocols_Broker__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Protocols_Broker</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobProtocolVar.Protocols_DFRs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Protocols_DFRs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobProtocolVar.Protocols_Portal__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Protocols_Portal</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobProtocolVar.Protocols_Pricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Protocols_Pricing</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobProtocolVar.Protocols_Special_Concerns__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Protocols_Special_Concerns</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>jobProtocolVar.Protocols_Work_Auth_PO__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Protocols_Work_Auth_PO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>JobAssignFields</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice_AWENo</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Choice_AWEYes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Choice_BillingCountry</name>
        <choiceText>Billing Country Formula Choice</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>forT_BIllingCountry</elementReference>
        </value>
    </choices>
    <decisions>
        <name>Check_if_BOLT_Branch</name>
        <label>Check if BOLT Branch</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Protocol_Assignments_from_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Integrate_with_Bolt_True</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>GetBranchVar.Integrate_with_Bolt__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Integrate_with_Bolt_True_Assignment</targetReference>
            </connector>
            <label>Integrate with Bolt=True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Account_a_Tier_5</name>
        <label>Is Account a Tier 5?</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Do_you_want_to_Create_a_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tiers 1-4</defaultConnectorLabel>
        <rules>
            <name>Tier_5_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>JobAccountVar.Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Tier 5</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Tier_5_Screen</targetReference>
            </connector>
            <label>Tier 5 Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Record</name>
        <label>New Record?</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>Update_Job</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Record</defaultConnectorLabel>
        <rules>
            <name>Create_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StoreJobFields.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Job</targetReference>
            </connector>
            <label>Create Record</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choice_AccountStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_BillingEntity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Billing_Entity__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_BillingPortal</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Billing_Portal__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_ContractAttached</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contract_Attached1__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_ContractorType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contractor_Type__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_CooperativePurchasing</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>GPO_Cooperative_Purchasing_Agreement__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_JobLossReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Job_Loss_Reason__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_JobProbabilty</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Probability__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_LeadSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Lead_Source__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_PrevailingWage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Prevailing_Wage__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_RateType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Rate_Type__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_ScopeLetterAttached</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Scope_Letter_Attached1__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_TypeofLoss</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Work_Type__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_WorkType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Work_Type__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoice_BDAccountManager2</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>used to pass lookup values of key team members</description>
        <name>recChoice_KeyTeamMembersID</name>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoice_ServiceTerritoryID</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>ServiceTerritory</object>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>recChoice_UserRecord</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00e1U000001wM2L</stringValue>
            </value>
        </filters>
        <object>User</object>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>forB_AWEActive</name>
        <dataType>Boolean</dataType>
        <expression>{!AreaWideEventvar.Active__c}=True</expression>
    </formulas>
    <formulas>
        <name>forB_ProtocolOverride</name>
        <dataType>Boolean</dataType>
        <expression>IF( 
       (ISNULL({!jobProtocolVar.Protocols_ACM_Testing__c})=true         || {!jobProtocolVar.Protocols_ACM_Testing__c}=&apos;&apos;)    
    &amp;&amp; (ISNULL({!jobProtocolVar.Protocols_Adjusters__c})=true           || {!jobProtocolVar.Protocols_Adjusters__c} =&apos;&apos;)      
    &amp;&amp; (ISNULL({!jobProtocolVar.Protocols_Billing__c})=true             || {!jobProtocolVar.Protocols_Billing__c}=&apos;&apos;)                
    &amp;&amp; (ISNULL({!jobProtocolVar.Protocols_Broker__c})=true              || {!jobProtocolVar.Protocols_Broker__c}=&apos;&apos;)
    &amp;&amp; (ISNULL({!jobProtocolVar.Protocols_DFRs__c})=true                || {!jobProtocolVar.Protocols_DFRs__c}=&apos;&apos;) 
    &amp;&amp; (ISNULL({!jobProtocolVar.Protocols_Portal__c})=true              || {!jobProtocolVar.Protocols_Portal__c}=&apos;&apos;)    
    &amp;&amp; (ISNULL({!jobProtocolVar.Protocols_Pricing__c})=true             || {!jobProtocolVar.Protocols_Pricing__c}=&apos;&apos;)          
    &amp;&amp; (ISNULL({!jobProtocolVar.Protocols_Special_Concerns__c})=true    || {!jobProtocolVar.Protocols_Special_Concerns__c}=&apos;&apos;)  
    &amp;&amp; (ISNULL({!jobProtocolVar.Protocols_Work_Auth_PO__c})=true        || {!jobProtocolVar.Protocols_Work_Auth_PO__c}=&apos;&apos;) , 
  true, 
  false
)</expression>
    </formulas>
    <formulas>
        <name>forT_BIllingCountry</name>
        <dataType>String</dataType>
        <expression>CASE(
TEXT({!JobAccountVar.Bill_To__c}),
&quot;Property&quot;, TEXT({!propertyAccRecVar.BillingCountryCode}),
&quot;Account&quot;, TEXT({!JobAccountVar.BillingCountryCode}),
&quot;Portal&quot;, TEXT({!JobAccountVar.BillingCountryCode}),
 TEXT({!JobAccountVar.BillingCountryCode})
)</expression>
    </formulas>
    <formulas>
        <name>forT_BillingState</name>
        <dataType>String</dataType>
        <expression>CASE(
{!JobAccountVar.Bill_To__c},
&quot;Property&quot;, TEXT({!propertyAccRecVar.BillingStateCode}),
&quot;Account&quot;, TEXT({!JobAccountVar.BillingStateCode}),
&quot;Portal&quot;, TEXT({!JobAccountVar.BillingStateCode}),
TEXT({!JobAccountVar.BillingStateCode})
)</expression>
    </formulas>
    <formulas>
        <description>used to pull in the job creator&apos;s name on first scrent</description>
        <name>forT_JobCreatorName</name>
        <dataType>String</dataType>
        <expression> {!$User.FirstName}</expression>
    </formulas>
    <formulas>
        <name>forT_JobName</name>
        <dataType>String</dataType>
        <expression>{!propertyAccRecVar.Property_Name__c}&amp;&quot; &quot;&amp; TEXT(TODAY())</expression>
    </formulas>
    <formulas>
        <name>forT_protocolsAcmTesting</name>
        <dataType>String</dataType>
        <expression>IF({!forB_ProtocolOverride}=true,{!StoreJobFields.Protocols_ACM_Testing__c},{!jobProtocolVar.Protocols_ACM_Testing__c})</expression>
    </formulas>
    <formulas>
        <name>forT_protocolsAdjuster</name>
        <dataType>String</dataType>
        <expression>IF({!forB_ProtocolOverride}=true,{!StoreJobFields.Protocols_Adjusters__c},{!jobProtocolVar.Protocols_Adjusters__c})</expression>
    </formulas>
    <formulas>
        <name>forT_protocolsBilling</name>
        <dataType>String</dataType>
        <expression>IF({!forB_ProtocolOverride}=true,{!StoreJobFields.Protocols_Billing__c},{!jobProtocolVar.Protocols_Billing__c})</expression>
    </formulas>
    <formulas>
        <name>forT_protocolsBroker</name>
        <dataType>String</dataType>
        <expression>IF({!forB_ProtocolOverride}=true,{!StoreJobFields.Protocols_Broker__c},{!jobProtocolVar.Protocols_Broker__c})</expression>
    </formulas>
    <formulas>
        <name>forT_protocolsDFR</name>
        <dataType>String</dataType>
        <expression>IF({!forB_ProtocolOverride}=true,{!StoreJobFields.Protocols_DFRs__c},{!jobProtocolVar.Protocols_DFRs__c})</expression>
    </formulas>
    <formulas>
        <name>forT_protocolsPortal</name>
        <dataType>String</dataType>
        <expression>IF({!forB_ProtocolOverride}=true,{!StoreJobFields.Protocols_Portal__c},{!jobProtocolVar.Protocols_Portal__c})</expression>
    </formulas>
    <formulas>
        <name>forT_protocolsPricing</name>
        <dataType>String</dataType>
        <expression>IF({!forB_ProtocolOverride}=true,{!StoreJobFields.Protocols_Pricing__c},{!jobProtocolVar.Protocols_Pricing__c})</expression>
    </formulas>
    <formulas>
        <name>forT_protocolsSpecialConcerns</name>
        <dataType>String</dataType>
        <expression>IF({!forB_ProtocolOverride}=true,{!StoreJobFields.Protocols_Special_Concerns__c},{!jobProtocolVar.Protocols_Special_Concerns__c})</expression>
    </formulas>
    <formulas>
        <name>forT_protocolsWorkAuthPO</name>
        <dataType>String</dataType>
        <expression>IF({!forB_ProtocolOverride}=true,{!StoreJobFields.Protocols_Work_Auth_PO__c},{!jobProtocolVar.Protocols_Work_Auth_PO__c})</expression>
    </formulas>
    <formulas>
        <name>forT_RateType</name>
        <dataType>String</dataType>
        <expression>IF
(
ISBLANK(TEXT({!JobAccountVar.MSA_Rate_Type__c})),
&quot;T&amp;M&quot;,
TEXT({!JobAccountVar.MSA_Rate_Type__c})
)</expression>
    </formulas>
    <formulas>
        <name>forT_Zipcode</name>
        <dataType>String</dataType>
        <expression>LEFT( {!propertyAccRecVar.ShippingPostalCode}, 5 )</expression>
    </formulas>
    <interviewLabel>Sub Job Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Sub Job Screen Capture</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Job</name>
        <label>Create Job</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <faultConnector>
            <targetReference>VR_Error_Message</targetReference>
        </faultConnector>
        <inputReference>StoreJobFields</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Name_from_Zipcode_Match</name>
        <label>Get Name from Zipcode Match</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_the_corresponding_Branch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Zip_Code__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forT_Zipcode</elementReference>
            </value>
        </filters>
        <object>Branch_ZipCode_Match__mdt</object>
        <outputAssignments>
            <assignToReference>VarBranchName</assignToReference>
            <field>Branch_Name__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_the_corresponding_Branch</name>
        <label>Get the corresponding Branch</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_the_default_Branch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VarBranchName</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetBranchVar</name>
        <label>GetBranchVar</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_BOLT_Branch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Service_Territory.selectedValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Job</name>
        <label>Update Job</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>VR_Error_Message</targetReference>
        </faultConnector>
        <inputReference>StoreJobFields</inputReference>
    </recordUpdates>
    <screens>
        <name>Do_you_want_to_Create_a_Job</name>
        <label>Create Job</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetBranchVar</targetReference>
        </connector>
        <fields>
            <name>Create_Job_Section</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 18px;&quot;&gt;Create Job Section&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GoText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-family: Calibri, sans-serif; font-size: 18px;&quot;&gt;GNG Status is a&amp;nbsp;&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 18px;&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(8, 247, 84); font-size: 18px;&quot;&gt;{!JobAccountVar.Go_No_Gox__c}&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 18px;&quot;&gt; &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0); font-size: 18px; font-family: Calibri, sans-serif;&quot;&gt; Currently covered by contract&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>JobAccountVar.Go_No_Gox__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Go</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NoGoText</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;GNG Status is a &lt;/strong&gt;&lt;strong style=&quot;color: rgb(240, 8, 8); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;{!JobAccountVar.Go_No_Gox__c}&lt;/strong&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 16px;&quot;&gt;  Contract is required before work can be performed&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>JobAccountVar.Go_No_Gox__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No-Go</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Do_you_want_to_Create_a_Job_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Do_you_want_to_Create_a_Job_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Do_you_want_to_Create_a_Job_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Create_Job_Section_header</name>
            <fieldText>Create Job</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Job_Section_header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Job_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Job_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Job Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Format: &quot;Account Name - Property Name.&quot; This is not sent in the Lead Sheet email. Please ensure your Property Name reflects any Apt or Unit #s you wish the IR Ops team to note.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Caller_s_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Callers_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Caller&apos;s Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Onsite_Contact_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Onsite_Contact__c</elementReference>
                    </defaultValue>
                    <fieldText>Onsite Contact Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Onsite_Contact_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Onsite Contact Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>StoreJobFields.Onsite_Contact_Phone__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Onsite_Contact_Email_1</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Onsite Contact Email </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>StoreJobFields.Onsite_Contact_Email__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>PropertyAddress</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;Property Address&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!propertyAccRecVar.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Job_Section_header_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_Info_Display_Text</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 12px;&quot;&gt;Account Name&lt;/b&gt;&lt;/p&gt;&lt;p&gt;{!JobAccountVar.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Tax_Exempt</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Tax_Exempt__c</elementReference>
                    </defaultValue>
                    <fieldText>Tax Exempt</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;When check box is checked the customer is tax exempt for this job.&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Is_this_Job_a_Bid</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Bid__c</elementReference>
                    </defaultValue>
                    <fieldText>Is this Job a Bid?</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;Check this box if the job was or will be involved in a bid process.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Is_Area_WideEvent</name>
                    <choiceReferences>Choice_AWEYes</choiceReferences>
                    <choiceReferences>Choice_AWENo</choiceReferences>
                    <dataType>Boolean</dataType>
                    <fieldText>Is this Job Related to an Area Wide Event? (AWE)</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Area_Wide_Event1</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Area_Wide_Event__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Area Wide Event</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>AreaWideEventName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>StoreJobFields.Area_Wide_Event__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>Active__c=True</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <elementReference>Choice_AWEYes</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_Area_WideEvent</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Prevailing_Wage</name>
                    <choiceReferences>choice_PrevailingWage</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>JobAccountVar.Prevailing_Wage__c</elementReference>
                    </defaultValue>
                    <fieldText>Prevailing Wage</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>T_M_Rate_Year</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(62, 62, 60); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;T&amp;amp;M Rate Year&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!JobAccountVar.T_M_Year__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Rate_Type</name>
                    <choiceReferences>choice_RateType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>forT_RateType</elementReference>
                    </defaultValue>
                    <fieldText>Rate Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Practice</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Vertical&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!JobAccountVar.Vertical__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Subvertical&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!JobAccountVar.Subvertical__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Service_Territory</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>ServiceTerritory</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Branch</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>isActive=true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>StoreJobFields.ServiceTerritoryId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>ServiceTerritoryName</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Client_Work_Order_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Client_Work_Order_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Client Work Order Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Protocols_Section_Header</name>
            <fieldText>Protocols</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Protocols_Section_Header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Protocols_Work_Auth_PO</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Protocols_Work_Auth_PO__c</elementReference>
                    </defaultValue>
                    <fieldText>Protocols: Work Auth/PO</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Protocols_ACM_Testing</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Protocols_ACM_Testing__c</elementReference>
                    </defaultValue>
                    <fieldText>Protocols: ACM Testing</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Protocols_DFRs</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Protocols_DFRs__c</elementReference>
                    </defaultValue>
                    <fieldText>Protocols: DFRs</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Protocols_Pricing</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Protocols_Pricing__c</elementReference>
                    </defaultValue>
                    <fieldText>Protocols: Pricing</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Protocols_Portal</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Protocols_Portal__c</elementReference>
                    </defaultValue>
                    <fieldText>Protocols: Portal</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Protocols_Billing</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Protocols_Billing__c</elementReference>
                    </defaultValue>
                    <fieldText>Protocols: Billing</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Protocols_Section_Header_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Protocols_Adjusters</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Protocols_Adjusters__c</elementReference>
                    </defaultValue>
                    <fieldText>Protocols: Adjusters</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Protocols_Broker</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Protocols_Broker__c</elementReference>
                    </defaultValue>
                    <fieldText>Protocols: Broker</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Protocols_Special_Concerns</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Protocols_Special_Concerns__c</elementReference>
                    </defaultValue>
                    <fieldText>Protocols: Special Concerns</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>GPO_DisplayText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;This account has a GPO. If the job should have one, please select it.&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>JobAccountVar.GPO_Cooperative_Purchasing_Agreement__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Cooperative_Purchasing_Vehicle</name>
                    <choiceReferences>choice_CooperativePurchasing</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>GPO/Cooperative Purchasing Agreement</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Indicates the preferred Cooperative Purchasing Agreement to utilize. Please see Cooperative Purchasing account record in the SF Billing Protocol section.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>JobAccountVar.GPO_Cooperative_Purchasing_Agreement__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Billing_Entity</name>
                    <choiceReferences>choice_BillingEntity</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>JobAccountVar.Billing_Entity__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing Entity</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Select the legal entity/sister company that this client should be billed to. This populates onto all jobs associated with this account and informs the Billing team which legal entity&apos;s letterhead to use when invoicing this client. If in doubt, select First Onsite.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Do_you_want_to_Create_a_Job_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Do_you_want_to_Create_a_Job_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Do_you_want_to_Create_a_Job_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Do_you_want_to_Create_a_Job_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Do_you_want_to_Create_a_Job_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Incident_Loss_Specifics_Header_Section</name>
            <fieldText>Incident Loss Specifics</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Incident_Loss_Specifics_Header_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_of_Call</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Date_of_Call__c</elementReference>
                    </defaultValue>
                    <fieldText>Date of Call</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Date_of_Loss</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Date_of_Loss__c</elementReference>
                    </defaultValue>
                    <fieldText>Date of Loss</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Work_type_LU</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>WorkType</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Job Type</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>JobType</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>StoreJobFields.WorkTypeId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Work_Type_PL</name>
                    <choiceReferences>choice_WorkType</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.WorkType.Name</elementReference>
                    </defaultValue>
                    <fieldText>Work Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Estimated_SqFtAffected</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Estimated_SqFt_Affected__c</elementReference>
                    </defaultValue>
                    <fieldText>Estimated SqFtAffected</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Incident_Loss_Specifics_Header_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Damage_Description1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Damage_Description__c</elementReference>
                    </defaultValue>
                    <fieldText>Damage Description</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;This field is for the description of the damage. Include Store Name, Floor Level or Unit, Suite, Apartment, Building numbers if applicable.&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Special_Concerns1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Special_Concerns__c</elementReference>
                    </defaultValue>
                    <fieldText>Special Concerns</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Contract_Attached1</name>
                    <choiceReferences>choice_ContractAttached</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>No</stringValue>
                    </defaultValue>
                    <fieldText>Contract Attached?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Do_you_want_to_Create_a_Job_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Do_you_want_to_Create_a_Job_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Do_you_want_to_Create_a_Job_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Lead_Source_Defining_Points_of_Contacts_Header_Section</name>
            <fieldText>Lead Source &amp; Defining Points of Contacts</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Lead_Source_Defining_Points_of_Contacts_Header_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lead_Source1</name>
                    <choiceReferences>choice_LeadSource</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Lead</stringValue>
                    </defaultValue>
                    <fieldText>Lead Source</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ReferredBy</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Referred By</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>Contact_Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>ReferredByName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>StoreJobFields.Referred_By__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Create_Contact1</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Click here to create New Contact and then click the Create Job Button</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>StoreJobFields.Insurance_Adjuster_Account__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>StoreJobFields.Insurance_Adjuster_Contactx__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>StoreJobFields.Insurance_Agent_Broker_Account__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>StoreJobFields.Insurance_Agent_Broker_Contactx__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>StoreJobFields.Insurance_Carrier_Account__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>StoreJobFields.Insurance_Carrier_Contactx__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Claim_Number1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Insurance_Claim_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Claim Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Insurance_Deductible1</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Insurance_Deductible__c</elementReference>
                    </defaultValue>
                    <fieldText>Insurance Deductible</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Insurance_Policy_Number1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Insurance_Policy_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Insurance Policy Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Lead_Source_Defining_Points_of_Contacts_Header_Section_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Billing_Portal_PL</name>
                    <choiceReferences>choice_BillingPortal</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>JobAccountVar.Billing_Portal__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing Portal</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Billing_Contact1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Billing_Contact2__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing Contact</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Billing_Contact_Email1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Billing_Contact_Email__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing Contact Email</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Billing_Contact_Phone1</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Billing_Contact_Phone__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing Contact Phone</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Billing_Street</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Billing_Street__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing Street</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Billing_City</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Billing_City__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing City</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Billing_State_Country_Dep_PL</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>WorkOrder</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Billing_Country__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Billing_State__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Billing Country</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Billing State</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>dp_Country</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>dp_State</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>dp_Country</assignToReference>
                        <name>topValue</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>dp_State</assignToReference>
                        <name>middleValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Billing_Zip_Postal_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Billing_Zip_Postal_Code__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing Zip/Postal Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Lead_Source_Defining_Points_of_Contacts_Header_Section_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BD_Account_Manager1</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>User_Title_Flow__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>BD Account Manager</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>isActive=true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>StoreJobFields.BD_Account_Manager__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>JobAccountVar.Owner.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedName</name>
                        <value>
                            <elementReference>StoreJobFields.BD_Account_Manager__r.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>BD_Account_Manager_2_1</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>User_Title_Flow__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>BD Account Manager 2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>isActive=true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>BDAccountManager2Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>StoreJobFields.BD_Account_Manager_2__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>BD_Account_Manager_3_1</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>User_Title_Flow__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>BD Account Manager 3</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>isActive=true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>BDAccountManager3Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>StoreJobFields.BD_Account_Manager_3__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Project_Director1</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>ProjectDirectorName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>User_Title_Flow__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Project Director</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>StoreJobFields.Project_Director__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>isActive=true</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Regional_Coordinator1</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>User_Title_Flow__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Regional Coordinator</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>isActive=true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>RegionalCoordinatorName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>StoreJobFields.Regional_Coordinator__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Project_Manager</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>ProjectManagerName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Project Manager</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>User_Title_Flow__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>StoreJobFields.Project_Manager__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>isActive=true</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>RM_CM_OM_1</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>RMCMOMName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>User_Title_Flow__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>RM/CM/OM</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>StoreJobFields.RM_CM_OM__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>isActive=true</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>AP_Approver1</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>User_Title_Flow__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>AP Approver</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>whereClause</name>
                        <value>
                            <stringValue>isActive=true</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>APApproverName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>StoreJobFields.AP_Approver__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Forecasting_Header_Section</name>
            <fieldText>Forecasting</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Forecasting_Header_Section_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Forecasting_Header_Section_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Do_you_want_to_Create_a_Job_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Do_you_want_to_Create_a_Job_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Site_Walk_Completion_Date1</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Site_Walk_Complete_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Site Walk Completion Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Estimate_Sent_Date1</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Estimate_Sent_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Estimate Sent Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Do_you_want_to_Create_a_Job_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Do_you_want_to_Create_a_Job_Section10_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ROM_Estimate_Amount1</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.ROM_Estimate_Amount__c</elementReference>
                    </defaultValue>
                    <fieldText>ROM/Estimate Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>2</scale>
                </fields>
                <fields>
                    <name>Probability1</name>
                    <choiceReferences>choice_JobProbabilty</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>StoreJobFields.Probability__c</elementReference>
                    </defaultValue>
                    <fieldText>Probability %</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Do_you_want_to_Create_a_Job_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Do_you_want_to_Create_a_Job_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Create Job</nextOrFinishButtonLabel>
        <pausedText>&lt;p&gt;You have paused the flow&lt;/p&gt;</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Tier_5_Screen</name>
        <label>Tier_5_Screen</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Do_you_want_to_Create_a_Job</targetReference>
        </connector>
        <fields>
            <name>Tier_5_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-family: Calibri, sans-serif; font-size: 11pt; color: rgb(247, 4, 4); background-color: rgb(255, 255, 255);&quot;&gt;This is a Tier 5  Do Not Service Account. Do not service without talking to your GM/RDS/Sales Ops team. Please discuss with your leadership group prior to creating any jobs or making any commitments to this customer.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Click here to Create the Job</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>VR_Error_Message</name>
        <label>VR Error Message</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;Please read the error below. Play close attention to the error after the phrase &lt;b style=&quot;font-family: Calibri, sans-serif; font-size: 12px;&quot;&gt;FIELD_CUSTOM_VALIDATION_EXCEPTION&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(255, 143, 8);&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To fix the errors, click the previous button to go back into the field(s) that need attention. Then, click the Next button to complete the creation of the job.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Name_from_Zipcode_Match</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ClaimScript</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Related to Insurance Claim - Determine if this involves an insurance claim - if so, collect as much insurance information as possible (click checkbox for fields)</text>
    </textTemplates>
    <textTemplates>
        <description>used for damage descrption screen questions</description>
        <name>DamageDescriptionScript</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Damage Description Detail all notes about damage for Operations Team Special Concerns Is there power at the property ? Do you need a generator? Is the property vacant or occupied? Is the property single or multi-level? Has the source of the damage been identified/repaired? Contents Damage Have any contents or personal property been damaged? What was damaged and what is rough estimated value of items? Does anything need to be removed ASAP?</text>
    </textTemplates>
    <variables>
        <name>AdjusterContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>AgentBrokerContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>APApproverName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>AreaWideEventName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>AreaWideEventvar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Area_Wide_Event__c</objectType>
    </variables>
    <variables>
        <name>BDAccountManager2Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>BDAccountManager3Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>BDAccountManagerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dp_Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>dp_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InsuranceCarrierContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>IsAWESelected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Determines if we need to create a contact or not</description>
        <name>isCreateContact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>JobAccountVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>jobProtocolVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>JobType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectDirectorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ProjectManagerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>propertyAccRecVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ReferredByName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>RegionalCoordinatorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>RelatedtoInsuranceClaimCheckbox</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RMCMOMName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ServiceTerritoryName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ShowClientProtocolsCheckbox</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>true</stringValue>
        </value>
    </variables>
    <variables>
        <name>StoreJobFields</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>VarBranchName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Label.DefaultBranch</elementReference>
        </value>
    </variables>
</Flow>
