force-app/main/default/flows/Sub_Flow_Find_or_Create_Property.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_Shipping_Details_of_Canada</name>
        <label>Assign Shipping Details of Canada</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Canada_Property.locality</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Canada_Property.postal_code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingStateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Canada_Property.administrative_area_level_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Canada_Property.fullStreetAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Account_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Shipping_Details_of_US</name>
        <label>Assign Shipping Details of US</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Property.locality</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Property.postal_code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingStateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Property.administrative_area_level_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Property.fullStreetAddress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ShippingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>US</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Account_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Determine_Account_Name</name>
        <label>Determine Account Name</label>
        <locationX>314</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_propertyAccName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Determine_Property_Display_Address</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Determine_Property_Display_Address</name>
        <label>Determine Property Display Address</label>
        <locationX>314</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Property_Address_Trimmed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_displaypropertyaddress</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Property_Account_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Property_Account_Fields</name>
        <label>Store Property Account Fields</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Property_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Property_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Property_Account_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>accountIdVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Property_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Property_Address_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_BillingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_BillingZipCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Billing_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Contact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Billing_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Contact_Email.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Billing_Phone__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billing_Contact_Phone.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.BillingCountryCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_BillingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.BillingStateCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_ACM_Testing__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Adjusters__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Billing__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Broker__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_DFRs__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Portal__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Pricing__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Special_Concerns__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Protocols_Work_Auth_PO__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Active__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>propertyAccRecVar.Contract_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contract_Type</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Country</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>choice_Canada</name>
        <choiceText>Canada</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CAN</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_US</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;United States&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>US</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_Country</name>
        <label>Check Country?</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Determine_Account_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Canada_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>choice_Canada</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Shipping_Details_of_Canada</targetReference>
            </connector>
            <label>Is Canada Decision</label>
        </rules>
        <rules>
            <name>Is_US_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_US</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Shipping_Details_of_US</targetReference>
            </connector>
            <label>Is US Country</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_New_Property_Account</name>
        <label>Create New Property Account?</label>
        <locationX>666</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Get_Existing_Property_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Else Use Existing Property Account</defaultConnectorLabel>
        <rules>
            <name>Then_Create_New_Property_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Create_Property_Account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Property_Account_Record_Type</targetReference>
            </connector>
            <label>Then Create New Property Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Vertical_and_Subvertical_missing_on_Account</name>
        <label>Vertical and Subvertical missing on Account?</label>
        <locationX>666</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Create_New_Property_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AccountBillinginfo.Vertical__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AccountBillinginfo.Subvertical__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account_Practice_and_Subcategory</targetReference>
            </connector>
            <label>Missing</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>choice_Contract_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Contract_Type__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>forT_BillingCity</name>
        <dataType>String</dataType>
        <expression>IF(
      ISPICKVAL({!AccountBillinginfo.Bill_To__c},&quot;Property&quot;), 
      {!Create_Property.locality},
{!AccountBillinginfo.BillingCity}
)</expression>
    </formulas>
    <formulas>
        <name>forT_BillingCountry</name>
        <dataType>String</dataType>
        <expression>IF(
      ISPICKVAL({!AccountBillinginfo.Bill_To__c},&quot;Property&quot;), 
     {!Create_Property.country},
TEXT({!AccountBillinginfo.BillingCountryCode}))</expression>
    </formulas>
    <formulas>
        <name>forT_BillingState</name>
        <dataType>String</dataType>
        <expression>IF(
      ISPICKVAL({!AccountBillinginfo.Bill_To__c},&quot;Property&quot;), 
        {!Create_Property.administrative_area_level_1},
TEXT({!AccountBillinginfo.BillingStateCode}))</expression>
    </formulas>
    <formulas>
        <name>forT_BillingStreet</name>
        <dataType>String</dataType>
        <expression>IF(
      ISPICKVAL({!AccountBillinginfo.Bill_To__c},&quot;Property&quot;), 
        {!Create_Property.fullStreetAddress},
{!AccountBillinginfo.BillingStreet}
)</expression>
    </formulas>
    <formulas>
        <name>forT_BillingZipCode</name>
        <dataType>String</dataType>
        <expression>IF(
      ISPICKVAL({!AccountBillinginfo.Bill_To__c},&quot;Property&quot;), 
        {!Create_Property.postal_code},
{!AccountBillinginfo.BillingPostalCode}
)</expression>
    </formulas>
    <formulas>
        <name>forT_displaypropertyaddress</name>
        <dataType>String</dataType>
        <expression>{!propertyAccRecVar.ShippingStreet} &amp; &quot; &quot; &amp;
{!propertyAccRecVar.ShippingCity} &amp; &quot;,&quot; &amp;
TEXT({!propertyAccRecVar.ShippingStateCode}) &amp; &quot; &quot; &amp;
{!propertyAccRecVar.ShippingPostalCode}</expression>
    </formulas>
    <formulas>
        <name>forT_getcountry</name>
        <dataType>String</dataType>
        <expression>IF({!Create_Property.country}=&quot;PR&quot;,&quot;US&quot;,{!Create_Property.country})</expression>
    </formulas>
    <formulas>
        <name>forT_propertyAccName</name>
        <dataType>String</dataType>
        <expression>{!propertyAccRecVar.ShippingStreet} &amp; &quot; &quot;
&amp; {!propertyAccRecVar.ShippingCity} &amp; &quot; &quot;
&amp; TEXT({!propertyAccRecVar.ShippingStateCode}) &amp; &quot; &quot;
&amp; {!propertyAccRecVar.ShippingPostalCode} 
&amp; IF(!ISBLANK({!propertyAccRecVar.Property_Name__c}),&quot; - &quot; &amp; {!propertyAccRecVar.Property_Name__c},&quot;&quot;) 
&amp; IF(!ISBLANK({!propertyAccRecVar.Property_Number__c}),&quot; - &quot; &amp; {!propertyAccRecVar.Property_Number__c}, &quot;&quot;)</expression>
    </formulas>
    <interviewLabel>Sub Flow: Find or Create Property {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Sub Flow: Find or Create Property</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_New_Property_Account_Record</name>
        <label>Create New Property Account Record</label>
        <locationX>314</locationX>
        <locationY>1382</locationY>
        <faultConnector>
            <targetReference>Error_Message_0</targetReference>
        </faultConnector>
        <inputReference>propertyAccRecVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Property_Record</name>
        <label>Get Existing Property Record</label>
        <locationX>1018</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Property_Address.selectedValue</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>propertyAccRecVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Property_Name__c</queriedFields>
        <queriedFields>Property_Number__c</queriedFields>
        <queriedFields>Billing_Contact__c</queriedFields>
        <queriedFields>Billing_Email__c</queriedFields>
        <queriedFields>Billing_Phone__c</queriedFields>
        <queriedFields>BillingAddress</queriedFields>
        <queriedFields>BillingStreet</queriedFields>
        <queriedFields>BillingCity</queriedFields>
        <queriedFields>BillingState</queriedFields>
        <queriedFields>BillingPostalCode</queriedFields>
        <queriedFields>BillingCountry</queriedFields>
        <queriedFields>BillingStateCode</queriedFields>
        <queriedFields>BillingCountryCode</queriedFields>
        <queriedFields>Protocols_ACM_Testing__c</queriedFields>
        <queriedFields>Protocols_Adjusters__c</queriedFields>
        <queriedFields>Protocols_Billing__c</queriedFields>
        <queriedFields>Protocols_Broker__c</queriedFields>
        <queriedFields>Protocols_DFRs__c</queriedFields>
        <queriedFields>Protocols_Portal__c</queriedFields>
        <queriedFields>Protocols_Pricing__c</queriedFields>
        <queriedFields>Protocols_Special_Concerns__c</queriedFields>
        <queriedFields>Protocols_Work_Auth_PO__c</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Property_Account_Record_Type</name>
        <label>Get Property Account Record Type</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Store_Property_Account_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Property</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Practice_and_Subcategory</name>
        <label>Update Account Practice and Subcategory</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Create_New_Property_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountBillinginfo.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subvertical__c</field>
            <value>
                <elementReference>Vertical_DP_List.middleValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vertical__c</field>
            <value>
                <elementReference>Vertical_DP_List.topValue</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Error_Message_0</name>
        <label>Error_Message</label>
        <locationX>754</locationX>
        <locationY>1490</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>VR_Error_Message_0</name>
            <fieldText>&lt;p&gt;Please read the error below. Play close attention to the error after the phrase &lt;b style=&quot;font-size: 12px; font-family: Calibri, sans-serif;&quot;&gt;FIELD_CUSTOM_VALIDATION_EXCEPTION&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(255, 143, 8); background-color: rgb(255, 255, 255);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;To fix the errors, click the previous button to go back into the field(s) that need attention. Then, click the Next button to complete the creation of the job.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Find_or_Create_Property</name>
        <label>Find or Create Property</label>
        <locationX>666</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Vertical_and_Subvertical_missing_on_Account</targetReference>
        </connector>
        <fields>
            <name>Vertical_Subvertical_Sub_Header</name>
            <fieldText>Vertical/Subvertical</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Vertical_Subvertical_Sub_Header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Vertical_DP_List</name>
                    <extensionName>flowruntime:dependentPicklists</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>dependencyWrapperApiName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topPicklistApiName</name>
                        <value>
                            <stringValue>Vertical__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middlePicklistApiName</name>
                        <value>
                            <stringValue>Subvertical__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topLabel</name>
                        <value>
                            <stringValue>Vertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>topValue</name>
                        <value>
                            <elementReference>AccountBillinginfo.Vertical__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleLabel</name>
                        <value>
                            <stringValue>Subvertical</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>middleValue</name>
                        <value>
                            <elementReference>AccountBillinginfo.Subvertical__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>AccountBillinginfo.Vertical__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>AccountBillinginfo.Subvertical__c</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>AccountBillinginfo.Subvertical__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>AccountBillinginfo.Vertical__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Search_for_Property</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Create a Job&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(18, 0, 3); font-size: 14px;&quot;&gt;To start, search for property address here:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Property_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Find_Property_Address</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Property Address</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Parent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>ParentId=&apos;{!accountIdVar}&apos; AND RecordType.DeveloperName=&apos;Property&apos; AND (Active__c=true OR Status__c=&apos;Active&apos;)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Property_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Create_Property_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(11, 0, 0);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(11, 0, 0); font-size: 14px;&quot;&gt;If you can&apos;t find it, check the box.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Find_Property_Address.selectedName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Create_Property_Account</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Create Property Account</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Find_Property_Address.selectedName</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue></stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Find_or_Create_Property_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Find_or_Create_Property_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Property_Address_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Property Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif; color: rgb(62, 62, 60);&quot;&gt;“Please enter the Name of the Building. For example, the “Chrysler Building” is an example of a Property Name.”&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Property_Number</name>
                    <dataType>String</dataType>
                    <fieldText>Property Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;“Please enter the Store Number here. For example, Home Depot has a store number #265 for a specific location. The Suite # or Apartment # goes into the Damage Description section”&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Select_Country</name>
                    <choiceReferences>Choice_US</choiceReferences>
                    <choiceReferences>choice_Canada</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>Choice_US</defaultSelectedChoiceReference>
                    <fieldText>Select Country</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Create_Property</name>
                    <extensionName>c:AddressValidation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>countryISO</name>
                        <value>
                            <stringValue>USA</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>dataset</name>
                        <value>
                            <stringValue>us-address</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxSuggestion</name>
                        <value>
                            <numberValue>8.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Create_Property_Account</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Select_Country</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Choice_US</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Create_Canada_Property</name>
                    <extensionName>c:AddressValidation</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>countryISO</name>
                        <value>
                            <stringValue>CAN</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>dataset</name>
                        <value>
                            <stringValue>ca-address</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Create_Property_Account</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Select_Country</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>choice_Canada</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Find_or_Create_Property_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Billing_Contact</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>AccountBillinginfo.Billing_Contact__c</elementReference>
                    </defaultValue>
                    <fieldText>Billing Contact</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Billing_Contact_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Billing Contact Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>AccountBillinginfo.Billing_Email__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Billing_Contact_Phone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Billing Contact Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>AccountBillinginfo.Billing_Phone__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Contract_Type</name>
                    <choiceReferences>choice_Contract_Type</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Covered by Parent</stringValue>
                    </defaultValue>
                    <fieldText>Contract Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Create_Property_Account</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Proceed to Job Creation Screen</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_or_Create_Property</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountBillinginfo</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>incoming parent account id of property record</description>
        <name>accountIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>propertyAccRecVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>TEstBillCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
