force-app/main/default/flows/Task_AutoClose_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_to_the_Collection</name>
        <label>Assign to the Collection</label>
        <locationX>583</locationX>
        <locationY>482</locationY>
        <assignmentItems>
            <assignToReference>CollectionofTaskstoUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Through_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Task_Status_as_Closed_by_the_System</name>
        <label>Set Task Status as Closed by the System</label>
        <locationX>593</locationX>
        <locationY>341</locationY>
        <assignmentItems>
            <assignToReference>Loop_Through_Tasks.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed by the System</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_the_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Tasks_Found</name>
        <label>Tasks Found?</label>
        <locationX>163</locationX>
        <locationY>356</locationY>
        <defaultConnectorLabel>None Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tasks_Created_by_inactive_user</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Tasks</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>when user is marked as closed this will run and mark open tasks as closed by system</description>
    <environments>Default</environments>
    <interviewLabel>Task-AutoClose-After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task-AutoClose-After Save</label>
    <loops>
        <name>Loop_Through_Tasks</name>
        <label>Loop Through Tasks</label>
        <locationX>361</locationX>
        <locationY>354</locationY>
        <collectionReference>Get_Tasks_Created_by_inactive_user</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Task_Status_as_Closed_by_the_System</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Status_to_Closed_by_the_System</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Tasks_Created_by_inactive_user</name>
        <label>Get Tasks Created by inactive user</label>
        <locationX>169</locationX>
        <locationY>198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tasks_Found</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varUserId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsRecurrence</field>
            <operator>NotEqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status_to_Closed_by_the_System</name>
        <label>Update Status to Closed by the System</label>
        <locationX>376</locationX>
        <locationY>497</locationY>
        <inputReference>CollectionofTaskstoUpdate</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Tasks_Created_by_inactive_user</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionofTaskstoUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>varUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
