force-app/main/default/flows/Task_Create_Update_Before_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign_Type_is_Type</name>
        <label>assign - Type is Type</label>
        <locationX>1370</locationX>
        <locationY>887</locationY>
        <assignmentItems>
            <assignToReference>varType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varType_of_Activity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTypeContactCenterCall</name>
        <label>assignTypeContactCenterCall</label>
        <locationX>50</locationX>
        <locationY>1007</locationY>
        <assignmentItems>
            <assignToReference>varType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact Center Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varType_of_Activity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Contact Center Call</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTypeEmail</name>
        <label>assignTypeEmail</label>
        <locationX>842</locationX>
        <locationY>1367</locationY>
        <assignmentItems>
            <assignToReference>varType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varType_of_Activity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTypeHighspot</name>
        <label>assignTypeHighspot</label>
        <locationX>578</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>varType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Highspot</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varType_of_Activity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Highspot</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignTypeLinkedIn</name>
        <label>assignTypeLinkedIn</label>
        <locationX>314</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>varType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LinkedIn</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varType_of_Activity</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>LinkedIn</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>updateTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Due_Date_to_Today</name>
        <label>Set Due Date to Today</label>
        <locationX>701</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>varD_DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>decision_Type_is_blank</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>decision_DataAdminTurnOffFlow</name>
        <label>decision - DataAdminTurnOffFlow</label>
        <locationX>309</locationX>
        <locationY>311</locationY>
        <defaultConnector>
            <targetReference>Is_Complete_without_Due_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>TurnOff_No</defaultConnectorLabel>
        <rules>
            <name>TurnOff_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.DataAdmin__c.TurnOffFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>TurnOff_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Email</name>
        <label>decision - Email</label>
        <locationX>974</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>assign_Type_is_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Email_No</defaultConnectorLabel>
        <rules>
            <name>Email_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTypeEmail</targetReference>
            </connector>
            <label>Email_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Five9</name>
        <label>decision - Five9</label>
        <locationX>297</locationX>
        <locationY>887</locationY>
        <defaultConnector>
            <targetReference>decision_Sales_Navigator</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Five9_No</defaultConnectorLabel>
        <rules>
            <name>Five9_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Five9__Five9TaskType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTypeContactCenterCall</targetReference>
            </connector>
            <label>Five9_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Highspot</name>
        <label>decision - Highspot</label>
        <locationX>776</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>decision_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Highspot_No</defaultConnectorLabel>
        <rules>
            <name>Highspot_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Description</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>highspot.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTypeHighspot</targetReference>
            </connector>
            <label>Highspot_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Sales_Navigator</name>
        <label>decision - Sales Navigator</label>
        <locationX>545</locationX>
        <locationY>1007</locationY>
        <defaultConnector>
            <targetReference>decision_Highspot</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SalesNavigator_No</defaultConnectorLabel>
        <rules>
            <name>SalesNavigator_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sales Navigator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignTypeLinkedIn</targetReference>
            </connector>
            <label>SalesNavigator_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>decision_Type_is_blank</name>
        <label>decision - Type is blank</label>
        <locationX>833</locationX>
        <locationY>767</locationY>
        <defaultConnector>
            <targetReference>assign_Type_is_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blank_No</defaultConnectorLabel>
        <rules>
            <name>Blank_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>decision_Five9</targetReference>
            </connector>
            <label>Blank_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Complete_without_Due_Date</name>
        <label>Is Complete without Due Date</label>
        <locationX>833</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>decision_Type_is_blank</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No_Complete</defaultConnectorLabel>
        <rules>
            <name>Yes_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ActivityDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Due_Date_to_Today</targetReference>
            </connector>
            <label>Yes_Complete</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formulaISNEW</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Task - Create Update - Before Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Task - Create Update - Before Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>updateTask</name>
        <label>updateTask</label>
        <locationX>833</locationX>
        <locationY>1967</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>varD_DueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsVisibleInSelfService</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>varStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>varType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Activity__c</field>
            <value>
                <elementReference>varType_of_Activity</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>183</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>decision_DataAdminTurnOffFlow</targetReference>
        </connector>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varD_DueDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Record.ActivityDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varType_of_Activity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
