force-app/main/default/flows/Update_Inactive_Jobs_Owners_with_Branch_GM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Count_Job_Sharings_to_Delete</name>
        <label>Count Job Sharings to Delete</label>
        <locationX>182</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>varN_CountJobSharings</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varC_JobSharingToDelete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_there_Job_Sharings_to_Delete</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_there_Job_Sharings_to_Delete</name>
        <label>Are there Job Sharings to Delete?</label>
        <locationX>182</locationX>
        <locationY>996</locationY>
        <defaultConnector>
            <targetReference>Update_Job_Record_with_Branch_GM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do Nothing</defaultConnectorLabel>
        <rules>
            <name>Delete_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_CountJobSharings</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Job_Sharing_for_New_Owner</targetReference>
            </connector>
            <label>Delete_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Job_Owner_is_Inactive_Decision</name>
        <label>Job Owner is Inactive Decision</label>
        <locationX>765</locationX>
        <locationY>396</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Job_Owner_is_Inactive_and_Branch_is_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Jobs_Owner_Detail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Jobs_Owner_Detail.Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Branch_Detail</targetReference>
            </connector>
            <label>Job Owner is Inactive and Branch is Not Null</label>
        </rules>
        <rules>
            <name>Job_Owner_is_Inactive_and_Branch_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Jobs_Owner_Detail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ServiceTerritoryId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Jobs_Owner_Detail.Id</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Reassign_Queue</targetReference>
            </connector>
            <label>Job Owner is Inactive and Branch is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Related_Branch_GM_isActive_Decision</name>
        <label>Related Branch GM isActive Decision</label>
        <locationX>424</locationX>
        <locationY>636</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Related_Branch_GM_isActive_Decision_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Branch_Detail.General_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Branch_Detail.General_Manager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Job_Sharings_for_New_Owner</targetReference>
            </connector>
            <label>Related Branch GM isActive Decision Outcome</label>
        </rules>
        <rules>
            <name>Related_Branch_GM_is_Not_Active_or_Null_Decision_Outcome</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Branch_Detail.General_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Branch_Detail.General_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Branch_Detail.General_Manager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Reassign_Queue</targetReference>
            </connector>
            <label>Related Branch GM is Not Active or Null Decision Outcome</label>
        </rules>
    </decisions>
    <description>This flow updates the Jobs which are having inactive Owners, so then reassign them to Branch GM User. in case of both the user are inactive then, it updates the owner to &quot;Reassign Job&quot; Queue.</description>
    <environments>Default</environments>
    <interviewLabel>Update Inactive Jobs Owners with Branch GM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Inactive Jobs Owners with Branch GM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Job_Sharing_for_New_Owner</name>
        <label>Delete Job Sharing for New Owner</label>
        <locationX>50</locationX>
        <locationY>1116</locationY>
        <connector>
            <targetReference>Update_Job_Record_with_Branch_GM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Branch_Detail.General_Manager__c</elementReference>
            </value>
        </filters>
        <object>Job_Sharing__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Job_Sharings_for_New_Owner</name>
        <label>Get Job Sharings for New Owner</label>
        <locationX>182</locationX>
        <locationY>756</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Job_Sharings_to_Delete</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Job__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>User__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Branch_Detail.General_Manager__c</elementReference>
            </value>
        </filters>
        <object>Job_Sharing__c</object>
        <outputReference>varC_JobSharingToDelete</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Jobs_Owner_Detail</name>
        <label>Get Jobs Owner Detail</label>
        <locationX>765</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Job_Owner_is_Inactive_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reassign_Queue</name>
        <label>Get Reassign Queue</label>
        <locationX>765</locationX>
        <locationY>1764</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Job_Record_with_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reassign_Job</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Branch_Detail</name>
        <label>Get Related Branch Detail</label>
        <locationX>424</locationX>
        <locationY>516</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Related_Branch_GM_isActive_Decision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ServiceTerritoryId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceTerritory</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Job_Record_with_Branch_GM</name>
        <label>Update Job Record with Branch GM</label>
        <locationX>182</locationX>
        <locationY>1332</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Related_Branch_Detail.General_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Job_Record_with_Queue</name>
        <label>Update Job Record with Queue</label>
        <locationX>765</locationX>
        <locationY>1884</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Reassign_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>639</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Jobs_Owner_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-02-15</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>varC_JobSharingToDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Job_Sharing__c</objectType>
    </variables>
    <variables>
        <name>varN_CountJobSharings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
