force-app/main/default/flows/User_Create_Save_After.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Nickname</name>
        <label>Assign Nickname</label>
        <locationX>143</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>varT_Nickname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_Nickname2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Duplicate_Nicknames</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Duplicate_Nicknames</name>
        <label>Count Duplicate Nicknames</label>
        <locationX>275</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varN_CountofDuplicateNicknames</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varC_NicknameDuplicates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Duplicate_Nicknames_Exist</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bypass_Flow</name>
        <label>Bypass Flow?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Is_Active_and_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bypass_No</defaultConnectorLabel>
        <rules>
            <name>Bypass_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.DataAdmin__c.TurnOffFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypass_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicate_Nicknames_Exist</name>
        <label>Duplicate Nicknames Exist?</label>
        <locationX>275</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Update_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Duplicates_No</defaultConnectorLabel>
        <rules>
            <name>Dupicate_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_CountofDuplicateNicknames</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Nickname</targetReference>
            </connector>
            <label>Dupicate_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Active_and_New</name>
        <label>Is Active and New</label>
        <locationX>473</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>forB_IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Duplicate_Nicknames</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forB_IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>forT_Nickname</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
    SUBSTITUTE(
        SUBSTITUTE(
            SUBSTITUTE(
                SUBSTITUTE({!$Record.FirstName} &amp; &quot;.&quot; &amp; {!$Record.LastName} , &quot; &quot;, &quot;&quot;),&quot;&apos;&quot;, &quot;&quot;), &quot;-&quot; , &quot;&quot;), &quot;(&quot; , &quot;&quot;), &quot;)&quot; , &quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>forT_Nickname2</name>
        <dataType>String</dataType>
        <expression>{!varT_Nickname} &amp; &quot;+&quot;</expression>
    </formulas>
    <interviewLabel>User - Create Save - After {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User - Create Save - After</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Duplicate_Nicknames</name>
        <label>Get Duplicate Nicknames</label>
        <locationX>275</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Duplicate_Nicknames</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CommunityNickname</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_Nickname</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>varC_NicknameDuplicates</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CommunityNickname</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>407</locationX>
        <locationY>863</locationY>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>varT_Nickname</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_Flow</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varC_NicknameDuplicates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varN_CountofDuplicateNicknames</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varT_Nickname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>forT_Nickname</elementReference>
        </value>
    </variables>
</Flow>
