force-app/main/default/flows/User_IsActive_Changes_to_False_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Nickname</name>
        <label>Assign Nickname</label>
        <locationX>281</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>varT_Nickname</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_Nickname</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Nickname_Duplicates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Termed_as_True</name>
        <label>Assign Termed as True</label>
        <locationX>578</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>varB_Termed</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Underscore_to_Contact_Name</name>
        <label>Assign Underscore to Contact Name</label>
        <locationX>1282</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_ContactFirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_ContactLastName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_UserName</name>
        <label>Assign UserName</label>
        <locationX>512</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>varT_UserName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forT_UserName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_UserNameDuplicates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Nickname_Duplicates</name>
        <label>Count Nickname Duplicates</label>
        <locationX>281</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>varN_CountNicknameDuplicates</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varC_NicknameDuplicates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Duplicate_Nicknames_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_UserNameDuplicates</name>
        <label>Count UserName Duplicates</label>
        <locationX>512</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>varN_CountUserNameDuplicates</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>varC_UserNameDuplicates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UserNameDuplicates_Exist</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_Collection</name>
        <label>Empty Collection</label>
        <locationX>314</locationX>
        <locationY>1140</locationY>
        <assignmentItems>
            <assignToReference>varC_UserNameDuplicates</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>varC_UserNameDuplicates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_UserName</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Empty_Nickname_Collection</name>
        <label>Empty Nickname Collection</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>varC_NicknameDuplicates</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>varC_NicknameDuplicates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Nickname</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Deactivated_By</name>
        <label>Deactivated By?</label>
        <locationX>710</locationX>
        <locationY>1140</locationY>
        <defaultConnector>
            <targetReference>Update_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other User</defaultConnectorLabel>
        <rules>
            <name>BoltSync</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0051U000008x9m0</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Termed_as_True</targetReference>
            </connector>
            <label>BoltSync</label>
        </rules>
    </decisions>
    <decisions>
        <name>Duplicate_Nicknames_Exist</name>
        <label>Duplicate Nicknames Exist?</label>
        <locationX>281</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Assign_UserName</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No_DupeNicks</defaultConnectorLabel>
        <rules>
            <name>Yes_DupeNicks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_CountNicknameDuplicates</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Empty_Nickname_Collection</targetReference>
            </connector>
            <label>Yes_DupeNicks</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Termed_and_Portal</name>
        <label>Is Termed and Portal?</label>
        <locationX>1414</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TP_Yes</name>
            <conditionLogic>(1 or 3) and 2</conditionLogic>
            <conditions>
                <leftValueReference>varB_Termed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Termed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>TP_Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>UserNameDuplicates_Exist</name>
        <label>UserName Duplicates Exist?</label>
        <locationX>512</locationX>
        <locationY>1032</locationY>
        <defaultConnector>
            <targetReference>Deactivated_By</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Duplicates_No</defaultConnectorLabel>
        <rules>
            <name>Duplicates_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varN_CountUserNameDuplicates</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Empty_Collection</targetReference>
            </connector>
            <label>Duplicates_Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forT_ContactFirstName</name>
        <dataType>String</dataType>
        <expression>&quot;_&quot; &amp; {!$Record.Contact.FirstName}</expression>
    </formulas>
    <formulas>
        <name>forT_ContactLastName</name>
        <dataType>String</dataType>
        <expression>&quot;_&quot; &amp; {!$Record.Contact.LastName}</expression>
    </formulas>
    <formulas>
        <name>forT_FirstName</name>
        <dataType>String</dataType>
        <expression>&quot;_&quot; &amp; {!$Record.FirstName}</expression>
    </formulas>
    <formulas>
        <name>forT_LastName</name>
        <dataType>String</dataType>
        <expression>&quot;_&quot; &amp; {!$Record.LastName}</expression>
    </formulas>
    <formulas>
        <name>forT_Nickname</name>
        <dataType>String</dataType>
        <expression>&quot;_&quot; &amp; {!varT_Nickname}</expression>
    </formulas>
    <formulas>
        <name>forT_UserName</name>
        <dataType>String</dataType>
        <expression>&quot;_&quot; &amp; {!varT_UserName}</expression>
    </formulas>
    <interviewLabel>User - IsActive Changes to False - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User - IsActive Changes to False - After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>1282</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Underscore_to_Contact_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Nickname_Duplicates</name>
        <label>Get Nickname Duplicates</label>
        <locationX>281</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Nickname_Duplicates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CommunityNickname</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_Nickname</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>varC_NicknameDuplicates</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CommunityNickname</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_UserNameDuplicates</name>
        <label>Get UserNameDuplicates</label>
        <locationX>512</locationX>
        <locationY>816</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_UserNameDuplicates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varT_UserName</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>varC_UserNameDuplicates</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Username</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>1282</locationX>
        <locationY>600</locationY>
        <inputReference>Get_Contact</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>710</locationX>
        <locationY>1440</locationY>
        <inputAssignments>
            <field>CommunityNickname</field>
            <value>
                <elementReference>varT_Nickname</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>forT_FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IC_User__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>forT_LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Termed__c</field>
            <value>
                <elementReference>varB_Termed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Username</field>
            <value>
                <elementReference>varT_UserName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>721</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Nickname</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Activity_Closure_Delay</name>
            <connector>
                <targetReference>Subflow_Task_AutoClose_After_Save</targetReference>
            </connector>
            <label>Activity Closure Delay</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Community_User_Contact_Update_Delay</name>
            <connector>
                <targetReference>Is_Termed_and_Portal</targetReference>
            </connector>
            <label>Community User Contact Update Delay</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Subflow_Task_AutoClose_After_Save</name>
        <label>Subflow - Task-AutoClose-After Save</label>
        <locationX>1018</locationX>
        <locationY>276</locationY>
        <flowName>Task_AutoClose_After_Save</flowName>
        <inputAssignments>
            <name>varUserId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varB_iCertisUser</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.IC_User__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varB_Termed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Termed__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>varC_NicknameDuplicates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varC_UserNameDuplicates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varN_CountNicknameDuplicates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varN_CountUserNameDuplicates</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varT_Nickname</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.CommunityNickname</elementReference>
        </value>
    </variables>
    <variables>
        <name>varT_UserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Username</elementReference>
        </value>
    </variables>
</Flow>
