force-app/main/default/flows/User_Change_Chatter_to_Full.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Send Email Notice to Admin, user license has changed from Chatter to Salesforce (full)</description>
        <name>SendEmailtoAdmin</name>
        <label>SendEmailtoAdmin</label>
        <locationX>242</locationX>
        <locationY>575</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ChattertoFullEmailNotice</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>suzanne.caruso@firstonsite.com, molly.drzazgowski@firstonsite.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>salesforce.alerts@firstonsite.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>User Changed from Chatter to Full</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>dec_Admin_Flow_Bypass</name>
        <label>dec Admin Flow Bypass</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Is_Chatter_License_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Bypass No</defaultConnectorLabel>
        <rules>
            <name>Bypass_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Setup.DataAdmin__c.TurnOffFlow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Bypass Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Chatter_License_Changed</name>
        <label>Is Chatter License Changed?</label>
        <locationX>374</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Chatter_License_to_Full</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.License_Type__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Chatter</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.License_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendEmailtoAdmin</targetReference>
            </connector>
            <label>Chatter License to Full</label>
        </rules>
    </decisions>
    <description>User Change Chatter to Full License</description>
    <environments>Default</environments>
    <interviewLabel>User Change Chatter to Full {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Change Chatter to Full</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dec_Admin_Flow_Bypass</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>License_Type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChattertoFullEmailNotice</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello System Admin,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Record.FirstName} {!$Record.LastName} was changed from Chatter to Full in Salesforce.&lt;/p&gt;&lt;p&gt;Please be sure to add this person to your next Salesforce Onboard Training,&lt;/p&gt;&lt;p&gt;Regards,&lt;/p&gt;&lt;p&gt;System Administrator&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>UserLicenseType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.License_Type__c</elementReference>
        </value>
    </variables>
    <variables>
        <description>Chatter to Salesforce License User</description>
        <name>varChattertoSalesforceUser</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Record.Name</elementReference>
        </value>
    </variables>
</Flow>
