force-app/main/default/flows/User_Commission_Fields_After_Save.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>User_Commission_Field_Assignment</name>
        <label>User Commission Field Assignment</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>var_User.DelegatedApproverId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delegated_Approver.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_User.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_User.Termination_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Termination_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_User.Payroll_Company_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payroll_Company_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_User.File_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>File_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_User.Position_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Position_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_User.Associate_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Associate_Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_User.Home_Cost_Number_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Home_Cost_Number_Code</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User_Commission_Fields</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>{!Update_Commission_Fields_Toggle.messageToggleInactive}</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>No</promptText>
        </userInput>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>{!Update_Commission_Fields_Toggle.messageToggleActive}</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>Yes</promptText>
        </userInput>
        <value>
            <stringValue>Yes </stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>PL_Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PLChoice_CommissionPlan</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Compensation_Type__c</picklistField>
        <picklistObject>User</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>User-Commission Fields-After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User-Commission Fields-After Save</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_User_Commission_Fields</name>
        <label>Update User Commission Fields</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <faultConnector>
            <targetReference>Validation_Screen</targetReference>
        </faultConnector>
        <inputReference>var_User</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>User_Detail</name>
        <label>User Detail</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>User_Commission_Field_Assignment</targetReference>
        </connector>
        <fields>
            <name>Update_Commission_Fields_Toggle</name>
            <extensionName>flowruntime:toggle</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>messageToggleActive</name>
                <value>
                    <stringValue>Yes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>messageToggleInactive</name>
                <value>
                    <stringValue>No</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Do you want to Update user Commission Fields?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disabled</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Commission_User_Details</name>
            <fieldText>Commission User Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Commission_User_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>First_Name</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;First Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!var_User.FirstName}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Last Name&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;{!var_User.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>var_User.Sales_Commissionable_User__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Status</name>
                    <choiceReferences>PL_Status</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_User.Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>var_User.Compensation_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>var_User.Plan_Start_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>var_User.Plan_End_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>var_User.Hire_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Termination_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>var_User.Termination_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Termination Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Commission_User_Details_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>var_User.ManagerId</objectFieldReference>
                </fields>
                <fields>
                    <name>Delegated_Approver</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>DelegatedApproverId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Delegated Approver</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Payroll_Company_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_User.Payroll_Company_Code__c</elementReference>
                    </defaultValue>
                    <fieldText>Payroll Company Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>File_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_User.File_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>File Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Position_Id</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_User.Position_Id__c</elementReference>
                    </defaultValue>
                    <fieldText>Position Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Associate_Id</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_User.Associate_Id__c</elementReference>
                    </defaultValue>
                    <fieldText>Associate Id</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Home_Cost_Number_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>var_User.Home_Cost_Number_Code__c</elementReference>
                    </defaultValue>
                    <fieldText>Home Cost Number Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Update_Commission_Fields_Toggle.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Update Fields</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Validation_Screen</name>
        <label>Validation Screen</label>
        <locationX>440</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Validation_Error_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>User_Detail</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>var_User</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
