force-app/main/default/flows/User_Before_Save_CU_NO_BYPASS_User_Update_History.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_line_to_User_Update_History</name>
        <label>Add line to User Update History</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.User_Update_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TexT_Change</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Add_line_to_User_Update_History_New</name>
        <label>Add line to User Update History New</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.User_Update_History__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TexT_Change_New</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_User_Update_History_Blank</name>
        <label>Is User Update History Blank</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Add_line_to_User_Update_History_New</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Blank Yes</defaultConnectorLabel>
        <rules>
            <name>Blank_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.User_Update_History__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_line_to_User_Update_History</targetReference>
            </connector>
            <label>Blank No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>forT_Active</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.IsActive} = true, &quot;Active&quot;, &quot;Inactive&quot;)</expression>
    </formulas>
    <interviewLabel>User - Before Save CU - NO BYPASS - User Update History {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User - Before Save CU - NO BYPASS - User Update History</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_User_Update_History_Blank</targetReference>
        </connector>
        <filterFormula>OR(
  ISNEW(),
  ISCHANGED({!$Record.IsActive})
 )</filterFormula>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TexT_Change</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!$Record__Prior.User_Update_History__c};
{!forT_Active} - {!$User.FirstName} {!$User.LastName}, {!$Flow.CurrentDateTime}</text>
    </textTemplates>
    <textTemplates>
        <name>TexT_Change_New</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!forT_Active} - {!$User.FirstName} {!$User.LastName}, {!$Flow.CurrentDateTime}</text>
    </textTemplates>
</Flow>
